﻿<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.prime.com.tr/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave"
      xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave">
     <h:head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" /> 
        <meta http-equiv="Pragma" content="no-cache" /> 
        
 		<h:outputStylesheet name="screen.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css" /> 
        <h:outputStylesheet name="alertasNotificaciones.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css" /> 
        <h:outputStylesheet name="canal.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css" />
        <h:outputScript library="javascript" name="jquery-1.5.2.min.js" target="head" />
        <h:outputScript library="javascript" name="dd_roundies.js" target="head" />   
        <h:outputScript library="javascript" name="jquery.numeric.js" target="head" />  
        <h:outputScript library="Webbci/common/js" name="main.js" target="head"  /> 
        <h:outputScript library="servicios/alertas/javascript" name="alertasLightBox.js" target="head" />
        <h:outputScript library="servicios/alertas/javascript" name="alertasContratar.js" target="head" />
        
        <script type="text/javascript">
            
            function volver() {
            	location.href = "/cl/bci/aplicaciones/servicios/alertas/misAlertasContratar.jsf?producto=" + '<h:outputText value="#{contratarServiciosBackingMB.producto}"/>';
            }
            
            function abrirCondiciones(){
                    $('#detalle_documentos2').load('condicionesSMS.jsf');
                    $('#detalle_documentos2').fadeIn('normal');
            }
        </script>
		<style type="text/css">
		  .boxSegundaClave table td { border:0px; vertical-align: middle; }
		</style>
		
    </h:head>
    <h:body>
      <div id="content">
        <f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.servicios.alertas.alertasNotificaciones')}" var="msg"/>

        <h:panelGroup layout="block" styleClass="servicios_cliente width_714 contratar prepago" > 
            <h:panelGroup layout="block" styleClass="top_cliente">
                <span class="cerrar" onclick="fnCerrar();"><h:outputText value="#{msg.btCerrar}" /></span>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="fondo_cliente">
                <h2>&nbsp;</h2>
                <h:form id="confirmarAlerta" method="post" prependId="false">
                    <h:inputHidden id="producto" value="#{contratarServiciosBackingMB.producto}" />
                     <div id="alertaEstado" class="alertas_formularios_contratar">                   
						  <div class="fondo_alertas1">
						    <br/>
							<div class="ico_alerta1">
							 <p>
							  <strong>#{msg.txtImportante}</strong>
							   #{msg.txtEnviarMensajes}
							</p>
							 <p> </p>
							</div>
						  </div>
					   </div>
					   
                     <br/>
                        <h:panelGroup layout="block" styleClass="alertas_formularios alerta_cuenta" id="alertas_rechazados" rendered="#{not empty contratarServiciosBackingMB.serviciosRechazados}">
                            <h:panelGroup layout="block" styleClass="fondo_alertas" >
                                <h:panelGroup layout="block" styleClass="ico_alerta" >
                                    <p><h:outputText value="#{msg.txtEstimado}" /></p>
                                    <p><h:outputText value="#{msg.txtRechazoSuscripcion}" /></p>
                                    <ui:repeat var="rechazado" value="#{contratarServiciosBackingMB.serviciosRechazados}">
                                        <p><h:outputText value="#{msg.txtIndice}" /> <h:outputText value="#{rechazado.descripcion}" /></p>
                                    </ui:repeat>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                     
                    <h:panelGroup layout="block" styleClass="fondo borde_ie">
                        <h2><h:outputText value="#{msg.txtConfirmaContrata}"/></h2>
                        &nbsp;<h:outputText value="#{msg.txtContratarCobro}" /> <br/> <br/>

                        <p:dataTable var="srv" value="#{contratarServiciosBackingMB.serviciosSeleccionados}" id="tbl"
                            rowStyleClass="claseFila" styleClass="tabla_datos" emptyMessage="#{msg.sinRegistros}">

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{msg.titDescripcion}" />
                                </f:facet>
                                <h:outputText value="#{srv.descripcion}"/>&nbsp;
                                <h:outputText value="#{srv.medios[0].montoAdicional}" rendered="#{srv.montoAdicional and not empty srv.medios[0].montoAdicional and srv.medios[0].montoAdicional>=0}">
                                    <f:convertNumber currencySymbol="$" type="currency" locale="es_CL"/>
                                </h:outputText>

                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{msg.asignarA}" />
                                </f:facet>
                                <h:outputText value="#{contratarServiciosBackingMB.cuentaAlertaCensurada}" rendered="#{contratarServiciosBackingMB.cuentaAlerta ne '1' and contratarServiciosBackingMB.producto eq 'TDC'}"/>
                                <h:outputText value="#{contratarServiciosBackingMB.cuentaAlerta}" rendered="#{contratarServiciosBackingMB.cuentaAlerta ne '1' and contratarServiciosBackingMB.producto ne 'TDC'}"/>
                                <h:outputText value="#{msg.txtTodasMiscuentas}" rendered="#{contratarServiciosBackingMB.cuentaAlerta eq '1'}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{msg.titValor}" />
                                </f:facet>
                                <h:outputText value="#{srv.medios[0].monto}">
                                    <f:convertNumber currencySymbol=" " type="currency" locale="es_CL"/>
                                </h:outputText>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{msg.titSms}" />
                                </f:facet>
                                <span class="ico_alerta_on"></span>
                            </p:column>
                        </p:dataTable>
                        
                        <h:panelGroup layout="block" styleClass="seleccionar_cuenta">
                            <p>
                            <label for="select_cuenta"><h:outputText value="#{msg.txtCuentaDePago}" /></label>&nbsp;
                            : <h:outputText value="#{serviciosClientesBackingMB.cuenta}" />
                            #{contratarServiciosBackingMB.setCuentaCargo(serviciosClientesBackingMB.cuenta)}
                            </p>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="alertas_formularios alerta_cuenta noVisible" id="alertas_0">
                            <h:panelGroup layout="block" styleClass="fondo_alertas" >
                                <h:panelGroup layout="block" styleClass="ico_alerta" >
                                    <p><h:outputText value="#{msg.txtEstimado}" /></p>
                                    <p><h:outputText value="#{msg.txtAlertaCambioCuentaCargoCombo}" /></p>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    <p class="bottom_abono_cargo">
                        <span class="alertas_por_activar"><h:outputText value="#{msg.txtAlertasPorContratar}" /></span>
                    </p>
                     
                     <p class="checkbox">
                        <h:panelGroup>
                        <h:selectBooleanCheckbox id="checkbox_acepta_condiciones" value="#{contratarServiciosBackingMB.aceptaTerminos}" >
						<f:ajax event="click" render="@form" />
						</h:selectBooleanCheckbox>
	                    <label for="checkbox_acepta_condiciones">
	                        <h:outputText value="#{msg.botonClick}" escape="false"/>
                        </label>
                        </h:panelGroup>
                    </p>
					
                    <h:panelGroup layout="block" styleClass="boxSegundaClave" rendered="#{contratarServiciosBackingMB.aceptaTerminos}">
	                    <segundaclave:metodoAutenticacion
	                         id="segundaclave"
	                         servicio="AlertasSMS"
	                         layout="vertical"
	                         bindingComponent="contratarServiciosBackingMB.segundaClave"
	                         destinoButtonAction="#{contratarServiciosBackingMB.contratarServicios}"
	                         textoButtonAction="Confirmar" 
	                         textoButtonRetorno="Volver"
	                         destinoButtonRetornoOnclick="volver();"
	                         mensaje="">
	    
	                         <segundaclaveparametros:data nombre="servicio" valor="AlertasSMS" />
	                         <segundaclaveparametros:data nombre="rut" valor="#{contratarServiciosBackingMB.clienteMB.rut}#{contratarServiciosBackingMB.clienteMB.digitoVerif}" /> 
	                         <segundaclaveparametros:data nombre="numeroCelular" valor="#{contratarServiciosBackingMB.valorMedio}" />
	                    </segundaclave:metodoAutenticacion>
	                </h:panelGroup>
                    <p>
                        <h:panelGroup rendered="#{not empty facesContext.messageList}">
                            <h:panelGroup layout="block" styleClass="alertas_formularios alerta_cuenta">
                                <h:panelGroup layout="block" styleClass="fondo_alertas" >
                                    <h:panelGroup layout="block" styleClass="ico_alerta" >
                                        <p><h:outputFormat value="#{facesContext.messageList[0].detail}"/></p>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    
                        <h:panelGroup id="renderError" rendered="#{contratarServiciosBackingMB.errorToken and empty facesContext.messageList}">
                            <h:panelGroup layout="block" styleClass="alertas_formularios alerta_cuenta" id="alertas_1">
                                <h:panelGroup layout="block" styleClass="fondo_alertas" >
                                    <h:panelGroup layout="block" styleClass="ico_alerta" >
                                        <p><h:outputFormat value="#{contratarServiciosBackingMB.mensajeError}"/></p>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                        <h:panelGroup layout="block" rendered="#{contratarServiciosBackingMB.errorServicio and empty facesContext.messageList}" >
                            <h:panelGroup styleClass="alertas_formularios_baja_servicios" layout="block">
                                <h:panelGroup styleClass="fondo_alerta" layout="block">
                                    <h:panelGroup styleClass="ico_alertas" layout="block">
                                        <p><h:outputFormat value="#{msg.causaAlerta}"/></p>
                                        <p>
                                            <h:outputFormat value="#{msg.indicacionAlerta}"/>
                                            <strong><h:outputFormat value="#{msg.alertaAsistencia}"/></strong>
                                            <h:outputFormat value="#{msg.indicacionAlerta_2}"/>
                                            <strong><h:outputFormat value="#{msg.alertaTelefono}"/></strong>
                                        </p>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                            <!-- Fin del Control de Error -->  
                    </p>
                </h:form>
                
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup styleClass="cont_servicios" layout="block">
           <div class="servicios_cliente width_714 noVisible jgaete"   id="detalle_documentos" ></div>
        </h:panelGroup>
        
         <div class="cont_servicios" layout="block" style="z-index:5000;">
             <div class="servicios_cliente width_714 noVisible jgaete"  style="position: relative; z-index:5000;" id="detalle_documentos2" ></div>
        </div>
    </div>
</h:body>
</html>
<!--
/***************************************************************************************************************
* Archivo: misAlertasConfirmaContrata.xhtml
* Descripción Este xhtml tiene la funcionadalidad de confirmar la contratación.
* Path /cl/bci/aplicaciones/servicios/alertas/
* " Todos los derechos reservados por Banco de Crédito e Inversiones."
* Historia Cambios
* ________________
* versión fecha autor cambios
* ======= ========== ===================== =================================
* 1.0 01/02/2013 Manuel Escárate R. (SEnTRA) versión inicial.
* 1.1 25/02/2013 Pedro Carmona Escobar (SEnTRA) se incorpora cuadro para informar de suscripciones rechazadas.
* 1.2 21/08/2013 Claudia Aracena F. (SEnTRA) Se habilita la multicanalidad en los 
*                                            estilos de la vista.
* 1.2 06/09/2013 Yon Sing Sius (ExperimentoSocial) Se incorpora SegundaClave para autenticar transacción.
* 1.3 26/09/2013 Eduardo Mascayano (TInet), Ricardo Treumun (Tinet) Se reemplaza cuadro de texto por texto no modificable para alertas
*                                          con montos modificables por el usuario.
*                                           Se agrega salto de linea entre el titulo y el mensaje de cobro.
*                                           Se cambia el link de consentimiento.
*
* 1.4 20/02/2014 Claudia Aracena F. (SEnTRA): Se modifica el nombre del checkbox de aceptacion de términos de servicio, para mayor comprensión 
*                                   y se modifica el tag del div empleado para las condiciones de servicio.
* 1.5 11/06/2014 Felipe Briones M (SEnTRA): Se cambia el combo box para seleccionar la cuenta por el texto que indica la cuenta de cargo 
*                                   seleccionada en el enrolamiento.
* 1.6 03/10/2017 Andrés Silva H.(SEnTRA) - Ricardo Carrasco (Ing. Soft. BCI): Se envuelve componente segunda clave y condiciona despliege 
*																			al checkbox que aceptacion de terminos y condiciones (checkbox_acepta_condiciones).
****************************************************************************************************************/
-->
