/*  1996-2011 kiteknology S.A. Todos los Derechos Reservados.                 */
/*  CSS para proyecto {BCI: MI PERFIL}                                        */
/*  Version 1.0                                                               */
/*  media: SCREEN                                                             */
/*                                                                            */
/*  HISTORIAL DE MODIFICACIONES                                               */
/*  15/04/2013 Rodolfo Kafack Ghinelli(SEnTRA) Se adapta para multicanalidad. */

/*  15/04/2013 Rodolfo Kafack Ghinelli(SEnTRA) Se adapta para multicanalidad. */
/*  30/01/2015 Victor Enero (Orand): Se modifica span.multipass_encabezado    */

/*MI PERFIL*/

.mi_perfil input{background: url(/resources/Webbci/common/images/fondo_input.jpg) no-repeat 0px 0px; padding: 2px 0px 3px 3px; border: 1px solid #AFAFAF; font: bold 12px Arial, Helvetica, sans-serif; }
.mi_perfil select{padding: 0px; border: 1px solid #AFAFAF; font: bold 12px Arial, Helvetica, sans-serif; padding: 0px; height: 22px; }
.mi_perfil .width_40{width: 40px;}
.mi_perfil .width_50{width: 50px;}
.mi_perfil .width_70{width: 70px;}
.mi_perfil .width_100{width: 100px;}
.mi_perfil .width_120{width: 120px;}
.mi_perfil .width_150{width: 150px;}
.mi_perfil .width_180{width: 180px;}
.mi_perfil .width_175{width: 175px;}
.mi_perfil .width_200{width: 200px;}
.mi_perfil .width_250{width: 250px;}
.mi_perfil .width_280{width: 280px;}
.mi_perfil .width_300{width: 300px;}
.mi_perfil .width_400{width: 400px;}
.mi_perfil .width_640{width: 640px;}

.mi_perfil .accesos_directos{margin: 20px 20px 20px 20px;}

/*
th {border:1px solid black;}
td {border:1px solid black;}
*/
.mi_perfil .condiciones{font-size: 9px; color: #999; float:left;}

/*MI PERFIL: ALERTAS*/
.mi_perfil .alertas_mi_perfil{background: url(/resources/Webbci/common/images/ico_alertas_mi_perfil.gif) no-repeat 10px 7px #FFFFC6; width: 250px; clear: both; border-radius: 10px; font: 12px/140% Arial, Helvetica, sans-serif; margin: 0px 0px 8px 0px; padding: 8px 0px 10px 60px; height:80px;}

.mi_perfil .alertas_mi_perfil p{margin: 0px; padding: 0px;}

#content {
    margin: 10px 10px !important;
    width: 710px;
}

/*MI PERFIL: MIS DATOS DE CONTACTO*/
.mi_perfil_datos{clear: both; margin: 0px 0px 10px 0px; padding: 0px; font: 12px Arial, Helvetica, sans-serif; color: #666; overflow: hidden;}
.mi_perfil_datos p{margin: 0px; padding: 0px 0px 7px 0px;}
.mi_perfil_datos strong, .mi_perfil_datos b{color: #000;}

.mi_perfil_datos .columna{background: #F5F5F5; border-radius: 10px; float: left; margin: 0px 10px 0px 0px; min-height: 180px; padding: 15px 10px 0px 15px; width: 320px;}
.mi_perfil_datos .columna.last{float: right; margin: 0px;}

.mi_perfil_datos .imagen_perfil{float: right; margin: 0px 15px 0px 0px; width: 72px;}
.mi_perfil_datos .imagen_perfil img{border: none; width: 72px; height: 76px;}

.mi_perfil_datos .datos_contacto{float: left; width: 195px;}

.mi_perfil_datos .datos_contacto_multipass{float:right; width:220px; margin-left: 20px;}

.multipass_error {font-weight:bold;}

.mi_perfil_datos .pdf{background: url(/resources/Webbci/common/images/ico_top_pdf.jpg) no-repeat 0px 0px; padding: 2px 0px 6px 35px; margin: 0px 30px 5px 0px; float: left; font-size: 11px; color: #666;}
.mi_perfil_datos .pdf a:link, .mi_perfil_datos .pdf a:visited{color: #666; text-decoration: none;}
.mi_perfil_datos .pdf a:hover, .mi_perfil_datos .pdf a:active{color: #666; text-decoration: underline;}

.mi_perfil_datos .link_enviar_email{background: url(/resources/Webbci/common/images/ico_email.jpg) no-repeat 0px 0px; margin: 0px 50px 0px 0px; padding: 3px 0px 4px 26px; font-size: 11px;}
.mi_perfil_datos .link_llamenme{background: url(/resources/Webbci/common/images/ico_llamenme.jpg) no-repeat 0px 0px; margin: 0px 50px 0px 0px; padding: 3px 0px 6px 26px; font-size: 11px;}

.mi_perfil_datos .input_examinar{position: absolute; margin: 25px 0px 0px -100px; border: 1px solid #F5F5F5; border: none; outline: none;}
.mi_perfil_datos .ancho_titulo{width: 410px;}

/*MI PERFIL: DIRECCIONES*/
.mi_perfil_direcciones{background: #F5F5F5; border-radius: 10px; clear: both; margin: 0px 0px 10px 0px; overflow: hidden; padding: 10px 0px 5px 27px; font: 12px Arial, Helvetica, sans-serif; color: #666;}
.mi_perfil_direcciones .columna{float: left; margin: 0px; padding: 0px 10px 0px 0px; width: 325px;}
.mi_perfil_direcciones p{margin: 0px; padding: 0px 0px 10px 0px; overflow: hidden; clear: both;}
.mi_perfil_direcciones strong, .mi_perfil_direcciones b{color: #000;}
.mi_perfil_direcciones .cont_2col{float: left; width: 150px;}

.mi_perfil_direcciones .formulario{padding: 0px 0px 15px 0px;}
.mi_perfil_direcciones .formulario p{margin: 0px; padding: 0px 0px 10px 0px;}
.mi_perfil_direcciones .formulario .columnas{clear: both;}
.mi_perfil_direcciones .formulario .columnas p{float: left; clear: none; margin: 0px 7px 10px 0px; padding: 0px;}


/*MI PERFIL: REDES*/
.mi_perfil_redes{background: #F5F5F5; border-radius: 10px; clear: both; margin: 0px 0px 10px 0px; padding: 10px 0px 0px 14px; font: 12px Arial, Helvetica, sans-serif; color: #333;}
.mi_perfil_redes .columna{float: left; margin: 0px; padding: 0px 10px 0px 0px; width: 220px;}
.mi_perfil_redes p{margin: 0px; padding: 0px 0px 10px 0px; clear: both;}
.mi_perfil_redes img{border: none; margin: 0px 10px 0px 0px;}
.mi_perfil_redes a:link, .mi_perfil_redes a:visited{color: #000; text-decoration: none;}
.mi_perfil_redes a:hover, .mi_perfil_redes a:active{color: #666; text-decoration: none;}
.mi_perfil_redes input{width: 170px;}


/*MI PERFIL: EDITAR MIS PREFERENCIAS*/
.mis_preferencias{}
.mis_preferencias h3{font: bold 16px Arial, Helvetica, sans-serif; color: #CCC; margin: 0px; padding: 0px 0px 5px 0px;}
.mis_preferencias .fondo_borde{min-height: 20px; overflow: hidden; padding: 10px 5px 10px 15px; margin-bottom: 15px; color: #333;}

.mis_preferencias .cont_3col{margin: 0px; padding: 0px; clear: both;}
.mis_preferencias .cont_3col p{margin: 0px 5px 0px 0px; padding: 0px 0px 8px 0px; float: left; width: 31%;}

.mis_preferencias input[type=checkbox]{background: none; margin: 0px 5px 0px 0px; padding: 0px; float: left; border: none;}

.preferencias_cont_5col{margin: 0px; padding: 0px; float: left; width: 310px;}
.preferencias_cont_5col p{margin: 0px 5px 0px 0px; padding: 0px 0px 8px 0px; float: left; width: 50%;}

.mis_preferencias .cont_2col{margin: 0px; padding: 0px; clear: both; width:450px; float:left;}
.mis_preferencias .cont_2col p{margin: 0px 5px 0px 0px; padding: 0px 0px 8px 0px; float: left; width: 50%;}

.mis_preferencias .checkbox{clear: both; text-align: center; margin: 0px auto !important; height: 20px; padding: 0px 0px 5px 0px; font-size: 11px; width: 230px; white-space: nowrap; float: none;}
.mis_preferencias .checkbox input[type=checkbox]{float: left; border: none;}
.mis_preferencias .checkbox label{float: left; width: auto; padding: 3px 0px 0px 0px;}

.mis_preferencias table { border: none; clear: both; color: #000; font-size: 11px; width: 95%; margin: 0px auto 8px auto; }
.mis_preferencias table  th { text-align: left; margin: 0px; padding: 2px; font-size: 12px; font-weight: normal; }
.mis_preferencias table  td { text-align: left; margin: 0px; padding: 2px; vertical-align: top; }
.mis_preferencias table .align_left { text-align: left; }
/*
.mis_preferencias .bot_1{background: url(/resources/images/botones/bot_accion_cancelar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #666;}
.mis_preferencias .bot_2{background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
.mis_preferencias .bot_10{background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
*/

/*ACTUALIZAR RENTA*/
.actualizar_renta{padding: 0px; line-height: 140%;}
.actualizar_renta .fondo_borde{padding-left: 15px;}
.actualizar_renta .txt_autorizo{margin: 0px; padding: 0px;}
.actualizar_renta .txt_autorizo input{background: none; border: none; float: left; margin: 0px 10px 0px 0px; padding: 0px;}
.actualizar_renta .txt_autorizo label{float: left; margin: 0px 0px 10px 0px; padding: 0px; width: 610px;}
.actualizar_renta .fondo_alertas { background: #FF9; width:auto; height:70px; padding: 10px; white-space: normal; border: 0px solid #CCC; clear: both; margin-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; color:#000;}

/*
.actualizar_renta .bot_1{background: url(/resources/images/botones/bot_accion_cancelar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #666;}
.actualizar_renta .bot_2{background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
.actualizar_renta .bot_10{background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
*/

/*BOLETAS ELECTRONICAS*/
.boletas_electronicas{}
.boletas_electronicas .formulario{margin: 0px 0px 10px 0px; padding: 0px 0px 0px 10px; height: 30px;}
.boletas_electronicas .formulario p{margin: 0px; padding: 0px;}
.boletas_electronicas .formulario select{margin: 0px 10px 0px 0px; padding: 0px; width: 120px; float: left;}
.boletas_electronicas .formulario button{margin: 0px; padding: 0px; float: left;}
.boletas_electronicas .alerta { background: #FF9; width:510px; height:50px; padding: 10px; white-space: normal; border: 0px solid #CCC; clear: both; margin-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; color:#000;}
.boletas_electronicas .cerrar{background: url(/resources/images/botones/bot_cerrar.gif) no-repeat 0px 0px; cursor: pointer; text-align: center; margin: 10px 10px 10px 516px; display: block; position: absolute; font: 10px Tahoma, Geneva, sans-serif; color: #666; letter-spacing: normal; padding: 29px 5px 5px 5px; width: 30px; min-height: 10px; z-index: 999;}
.boletas_electronicas .cerrar a:link, .boletas_electronicas .cerrar a:visited{color: #666; text-decoration: none;}
.boletas_electronicas .cerrar a:hover, .boletas_electronicas .cerrar a:active{color: #666; text-decoration: underline;}
/*
.boletas_electronicas .bot_1{background: url(/resources/images/botones/bot_accion_cancelar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #666;}
.boletas_electronicas .bot_2{background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
.boletas_electronicas .bot_10{background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
*/

/*CORRESPONDENCIA*/
.envio_correspondencia{font: 12px/140% Arial, Helvetica, sans-serif; color: #666;}
.envio_correspondencia h3{font: bold 16px Arial, Helvetica, sans-serif; color: #333; margin: 0px; padding: 0px 0px 8px 0px;}
.envio_correspondencia h3 button{float: right; margin: 0px 10px 0px 0px; padding: 0px;}
.envio_correspondencia h3 select{margin: 0px 0px 0px 10px; padding: 0px; width: 195px;}
.envio_correspondencia h3 .select_220{width: 220px;}

.envio_correspondencia .fondo_gris{background: #F5F5F5; border-radius: 10px; margin:0px 0px 10px 0px; overflow: hidden; padding: 10px;}
.envio_correspondencia .fondo_blanco{background: #FFF; border-radius: 10px; margin: 0px; padding: 10px; overflow: hidden; color: #666; clear: both;}

.envio_correspondencia .col_170{width: 165px; float: left; margin: 0px; padding: 0px 5px 0px 0px;}
.envio_correspondencia .col_200{width: 195px; float: left; margin: 0px; padding: 0px 5px 0px 0px;}
.envio_correspondencia .col_270{width: 270px; float: left; margin: 0px; padding: 0px;}
/*
.envio_correspondencia .cartola_ecologica{background: url(/resources/images/html/ico_cartola_e_on.gif) no-repeat 0px -7px; padding: 0px 0px 2px 40px !important; width: 160px;}
*/
.envio_correspondencia .alerta{background: #FFFFC6; margin: 0px 0px 10px 0px; padding: 10px 8px; border-radius: 10px;}
.envio_correspondencia .alerta p{margin: 0px; padding: 0px 0px 8px 0px;}
/*
.envio_correspondencia .alerta .ico_cartola{background: url(/resources/images/html/ico_cartola_e_on.gif) no-repeat 0px -7px; padding: 0px 0px 2px 40px;}
*/
.envio_correspondencia .editar{clear: both; margin: 0px; padding: 0px;}
.envio_correspondencia .editar select{margin: 0px; padding: 0px; width: 165px;}
.envio_correspondencia .editar .campo_recepcion{margin: 0px; padding: 0px 5px 0px 0px; float: left; width: 190px;}
.envio_correspondencia .editar .campo_periodicidad{margin: 0px; padding: 0px 5px 0px 0px; float: left; width: 420px;}
.envio_correspondencia .editar .campo_periodicidad input[type=radio]{background: none; border: none; margin: 0px 5px 0px 0px; padding: 0px; float: left;}
.envio_correspondencia .editar .campo_periodicidad label{float: left; margin: 2px 10px 0px 0px;}

/*
.envio_correspondencia .bot_1{background: url(/resources/images/botones/bot_accion_cancelar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #666;}
.envio_correspondencia .bot_2{background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
.envio_correspondencia .bot_10{background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
*/

.form_correspondencia{background: #F5F5F5; border-radius: 10px; }
.form_correspondencia .columna_left p{margin: 0px; padding: 0px 0px 4px 0px !important; min-height: 55px; clear: both; overflow: hidden;}
.form_correspondencia .columna_left{width: 400px; min-height: 180px; padding: 6px 0px 0px 10px; float: left; margin: 0px 0px 10px 0px;}
.form_correspondencia .columna_right p{margin: 0px; padding: 0px 0px 4px 0px !important; min-height: 55px; clear: both; overflow: hidden;}
.form_correspondencia .columna_right{width: 190px; min-height: 180px; padding: 6px 0px 0px 10px; float: left; margin: 0px 0px 10px 0px;}
.form_correspondencia .columna_left .condiciones{display: block;}
.form_correspondencia .columna_right .condiciones{display: block;}
.form_correspondencia .requeridomultipass p{font-size: 11px; margin: 0; padding: 1px 0 10px 30px; text-align: center;}
.form_correspondencia .texto_aviso{font-size: 10px; margin: 0; padding: 1px 0 10px 30px; text-align: center;}

.form_correspondencia .col_left{background: url(/resources/Webbci/common/images/bullet_01.gif) no-repeat 0px 10px; width: 36%; padding: 7px 0px 0px 10px; float: left;}
.form_correspondencia .col_right{width: 54%; float: left;}

.form_correspondencia .alertas_mi_perfil{background: url(/resources/Webbci/common/images/ico_alertas_mi_perfil.gif) no-repeat 10px 7px #FFFFC6; width: 250px; clear: both; border-radius: 10px; font: 12px/140% Arial, Helvetica, sans-serif; margin: 0px 0px 8px 0px; height: 40px; padding: 8px 0px 10px 60px;}
.form_correspondencia .alertas_mi_perfil p{margin: 0px; padding: 0px;}

.alertas_mi_perfil{background: url(/resources/Webbci/common/images/ico_alertas_mi_perfil.gif) no-repeat 10px 7px #FFFFC6; width: 90%; clear: both; border-radius: 10px; font: 12px/140% Arial, Helvetica, sans-serif; margin: 0px 0px 8px 0px; height: 40px; padding: 8px 0px 10px 60px;}
.alertas_mi_perfil p{margin: 0px; padding: 0px;}

.form_correspondencia .width_120{width: 120px;}
.form_correspondencia .width_180{width: 180px;}
.form_correspondencia .width_200{width: 200px;}
.form_correspondencia .width_250{width: 250px;}
.form_correspondencia .width_300{width: 300px;}
.form_correspondencia .width_350{width: 350px;}
.form_correspondencia .width_370{width: 370px;}

.form_correspondencia input{background: url(/resources/Webbci/common/images/fondo_input.jpg) no-repeat 0px 0px; padding: 2px 0px 3px 0px; border: 1px solid #AFAFAF; font: bold 12px Arial, Helvetica, sans-serif; }
.form_correspondencia textarea{background: url(/resources/Webbci/common/images/fondo_input.jpg) no-repeat 0px 0px; padding: 2px 0px 3px 0px; border: 1px solid #AFAFAF; font: bold 12px Arial, Helvetica, sans-serif; width: 300px; height: auto; resize: none; }
.form_correspondencia .disabled{background: url(/resources/Webbci/common/images/fondo_input.jpg) no-repeat 0px 0px; padding: 2px 0px 3px 0px; border: 1px solid #CCC; font: bold 12px Arial, Helvetica, sans-serif; color: #BBB;}

/*AVATARES*/
.cont_avatar{background: url(/resources/Webbci/common/images/fondo_cont_avatar.png); width: 289px; height: 218px; position: absolute; margin: 60px 0px 0px 30px;}
.cont_avatar h2{color: #C6C6C6; font: bold 16px Arial, Helvetica, sans-serif; text-align: center; clear: both; margin: 0px; padding: 18px 0px 15px 0px; }
.cont_avatar p{margin: 0px; padding: 0px; clear: both;}
.cont_avatar .fotos{padding: 0px 0px 0px 30px;}
.cont_avatar .fotos p{height: 59px;}
.cont_avatar .fotos img{border: none; margin: 0px 8px 3px 0px; float: left;}
.cont_avatar .fotos .on{border: 1px solid #C03;}
.cont_avatar .cerrar{background: url(/resources/Webbci/common/images/bot_cerrar.gif) no-repeat 0px 0px; cursor: pointer; text-align: center; margin: 10px 10px 0px 245px; display: block; position: absolute; font: 10px Tahoma, Geneva, sans-serif; color: #666; letter-spacing: normal; padding: 29px 0px 0px 0px; width: 30px; min-height: 10px; z-index: 999;}
.cont_avatar .cerrar a:link, .cont_avatar .cerrar a:visited{color: #666; text-decoration: none;}
.cont_avatar .cerrar a:hover, .cont_avatar .cerrar a:active{color: #666; text-decoration: underline;}



/*TOOLTIP ERROR PERFIL*/
.cont_alerta_error_perfil{ width: 230px; white-space: normal; margin: 25px 0px 0px -125px; text-align: center; color: #000; font-size: 10px; min-height: 30px; position: absolute; }
.alerta_error_perfil { background: #FF9; padding: 2px; white-space: normal; position: relative; top: -3px; border: 1px solid #CCC; clear: both; float:right; margin-top:2px; padding-left:2px; padding-right:2px; color:#000;}
.imagen_error { background: url(/resources/Webbci/common/images/bullet_alerta.gif) no-repeat right top; position: relative; z-index: 999; display: block; height: 9px; }

/*ACTUALIZACION DE DATOS*/

#content .fondo_datos { background: url(/resources/Webbci/common/images/fondo_content.jpg) repeat-y 0px 0px; width: 710px; margin: 0px; padding: 10px 12px 7px 16px; overflow: hidden; font:Arial, Helvetica, sans-serif; font-size:12px; height:550px; }

/*MENSAJE DE EXITO ACTUALIZACION DE DATOS*/

.cont_servicios_exito h2 { color: #000; font: bold 18px Arial, Helvetica, sans-serif; text-align: center; clear: both; margin: 0px; padding: 20px 0px 15px 0px; }

.montos_exito { background: #F5F5F5; float: left; width: 220px; min-height: 42px; font-size: 12px; color: #666; margin: 0px 6px 3px 0px; padding: 8px 0px 0px 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

/*
.cont_servicios_exito .comprobante{background: url(/resources/Webbci/common/images/sello_comprobante.gif) no-repeat 5px 5px #F5F5F5; min-height: 190px; width: 345px; font-size: 12px; padding: 8px 10px 0px 170px;}
*/
.cont_servicios .orden_no_pago_03 .comprobante strong, .cont_servicios .orden_no_pago_03 .comprobante b{font-size: 1em; color: #000;}
.cont_servicios_exito .orden_no_pago_03 .comprobante table{font-size: 12px; color: #666; border: none; margin: 0px 0px 12px 0px; padding: 0px; text-align:left;}
.cont_servicios_exito .orden_no_pago_03 .comprobante table th{text-align: left;}
.cont_servicios_exito .orden_no_pago_03 .comprobante table td{text-align: left;}
.cont_servicios_exito .orden_no_pago_03 montos .compbrobante table tr .fonos { text-align: center; margin: 0px; padding: 2px; vertical-align: top; }

.cont_servicios_exito .orden_no_pago_03 .comprobante p{margin: 0px; padding: 0px 0px 12px 0px !important;}
.cont_servicios_exito .orden_no_pago_03 .destacado{font-size: 1.2em; font-weight: bold;}
.cont_servicios_exito .orden_no_pago_03 .comprobante table { border: none; clear: both; color: #000; font-size: 11px; width: 95%; margin: 0px auto 8px auto; float:left;}



.servicios_cliente { background: url(/resources/Webbci/common/images/fondo_serv_clientes_gr_bottom.png) no-repeat left bottom; width: 566px; margin: -10px 0px 0px 170px; z-index: 999999; }


.servicios_cliente .fondo_cliente { background: url(/resources/Webbci/common/images/fondo_serv_clientes_gr.png) repeat-y 0px 0px; padding: 0px 17px; min-height: 132px; clear: both; margin: 0px auto; margin-bottom: -5px;}
.servicios_cliente  .grex{ background: url(/resources/Webbci/common/images/fondo_serv_clientes_gr_bottom.png) no-repeat left bottom; width: 566px; margin: -10px 0px 0px 170px; z-index: 999999; }
.servicios_cliente .top_cliente { background: url(/resources/Webbci/common/images/fondo_serv_clientes_gr_top.png) no-repeat 0px 0px; clear: both; height: 15px; font-size: 1px; letter-spacing: -1px; }
.servicios_cliente .cerrar{background: url(/resources/Webbci/common/images/bot_cerrar.gif) no-repeat 0px 0px; cursor: pointer; text-align: rigth; margin: 10px 10px 0px 525px; display: block; position: absolute; font: 10px Tahoma, Geneva, sans-serif; color: #666; letter-spacing: normal; padding: 29px 0px 0px 0px; width: 30px; min-height: 10px; z-index: 999;}
.servicios_cliente .cerrar a:link, .servicios_cliente .cerrar a:visited{color: #666; text-decoration: none;}
.servicios_cliente .cerrar a:hover, .servicios_cliente .cerrar a:active{color: #666; text-decoration: underline;}

/*ICONO MULTIPASS MI PERFIL*/
span.multipass_datos { font-size:11px; text-align:left; font-weight:normal; background:url(/resources/Webbci/common/images/multipass.png) no-repeat; height:6px; width:126px; padding:3px 5px 5px 16px; float:none; margin:0px 20px 0px 8px; position:absolute;}
/*IE*/
span.requiere_multipass_ie { font-size:11px; text-align:left; font-weight:normal; background:url(/resources/images/html/multipass.png) no-repeat 0px 35px ; height:6px; width:126px; padding:37px 15px 15px 16px; float:none; margin:10px 10px 10px 8px; position:absolute;}
/*Otros navegadores*/
span.requiere_multipass { font-size:11px; text-align:left; font-weight:normal; background:url(/resources/images/html/multipass.png) no-repeat 0px 10px ; height:6px; width:126px; padding:12px 15px 15px 16px; float:none; margin:10px 10px 10px 8px; position:absolute;}
/*icono multipass encabezado*/
span.multipass_encabezado { background: url("/resources/Webbci/common/images/multipass.png") no-repeat scroll 0 0 transparent; float: none; font-size: 9px; font-weight: normal; height: 6px; padding: 4px 5px 5px 19px;  top:30; margin-left:auto; text-align: left; width:100px; }

/*HERRAMIENTAS TOP: NO HEREDADO*/
.herramientas_top_2{float: right; margin: 0px; padding: 0px 0px 0px 0px; }
.herramientas_top_2.e_cartola{margin-top: -6px;}
.herramientas_top_2 span{margin: 0px 0px 0px 10px;}
.herramienta_mensajes_on_2{background: url(../resources/images/html/ico_top_mensajes_on.gif) no-repeat center top; text-align: center; font: normal 9px Arial, Helvetica, sans-serif; color: #666; display: block; float: right; height: 53px; width: 42px;}
.herramienta_mensajes_on_2 a{width: 38px; height: 41px; display: block; float: left; font-size: 1px; letter-spacing: -1px; text-indent: -9000px; text-decoration: none;}
.herramienta_mensajes_2{background: url(../resources/images/html/ico_top_mensajes.png) no-repeat center top; text-align: center; font: normal 9px Arial, Helvetica, sans-serif; color: #666; display: block; float: right; height: 53px; width: 42px;}
.herramienta_mensajes_2 a{width: 38px; height: 41px; display: block; float: left; font-size: 1px; letter-spacing: -1px; text-indent: -9000px; text-decoration: none;}

/*Boton Aceptar para Mi Perfil*/
.bot_accion_aceptar {background: url(/resources/images/botones/bot_accion_aceptar.jpg) no-repeat 0px 0px !important; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 0px; background-color: #ffffff; font-weight: normal; color: #ffffff;}

.servicios_cliente .condiciones { margin: 0px; padding: 0px; clear: both; font-size: 9px; }
.mi_perfil .condiciones_datos{font-size: 9px; color: #999; width:109px; float:left;}
.mi_perfil .condiciones_datos_cel{font-size: 9px; color: #999; padding: 0px 0px 0px 8px;float:left;}
.form_correspondencia .columna_right_datos{width: 190px; min-height: 180px; padding: 6px 0px 0px 10px; float: left; margin: 0px 0px 10px 0px;}
.datos_contacto .mostrar_condiciones{font-size: 9px; color: #999; width:109px; float:left;}
.mi_perfil_datos .datos_contacto .condiciones{font-size: 9px; color: #999; padding:0px 8px 0px 0px;}
.mi_perfil_datos .datos_contacto .condiciones_datos{font-size: 9px; color: #999; padding:0px 8px 0px 0px;}



/*MENSAJE ERROR MI PERFIL*/
.cont_alerta_errorperfil .alerta_errorperfil { background: #FF9; padding: 2px; white-space: normal; position: relative; top: -2px; border: 1px solid #CCC; clear: both; }
.cont_alerta_errorperfil .imagen { background: url(/resources/Webbci/common/images/bullet_alerta.gif) no-repeat right top; position: relative; z-index: 999; display: block; height: 10px; }

.cont_alerta_errorperfil { width: 180px; white-space: normal; margin: 5px 20px 0px 20px; text-align: center; color: #000; font-size: 10px; min-height: 30px; position: absolute; }


/*MENSAJE ACTUALIZAR DATOS*/
.mensaje_contenido_act_datos { background: url(/resources/Webbci/common/images/ico_mensaje_contenidos.png) no-repeat 10px 10px #FFFFC6; clear: both; margin: 5px 5px 5px 5px; border-radius: 10px; padding: 10px 10px 13px 40px; font-size: 12px; color: #666;text-align: justify;}
.mensaje_contenido_act_datos p { margin: 5px; padding: 5px; }
.mensaje_contenido_act_datos .aviso { background: #FFFA9D; border-radius: 10px; padding: 8px 5px; color: #666; margin: 10px 10px 15px 10px; min-height: 42px; line-height: 140%; }
.mensaje_contenido_act_datos{background: url(/resources/Webbci/common/images/ico_alertas_mi_perfil.gif) no-repeat 15px 20px #F5F5F5; width: 500px; padding: 15px 5px 10px 70px; margin: 5px 5px 15px 5px; min-height:40px;}

/*DISEÑO ACTUALIZACION DE DATOS*/

.servicios_cliente_act_datos { background: url(/resources/Webbci/common/images/fondo_serv_clientes_gr_bottom.png) no-repeat left bottom; width: 565px; margin: -10px 0px 0px 50px; z-index: -999999; padding-bottom:29px; }
.servicios_cliente_act_datos {position:absolute;left:20px;top:10px;z-index:99;}
.servicios_cliente_act_datos .fondo_cliente { background: url(/resources/Webbci/common/images/fondo_serv_clientes_gr.png) repeat-y 0px 0px; padding: 0px 17px; min-height: 132px; clear: both; margin: 0px auto; }
.servicios_cliente_act_datos  .grex{ background: url(/resources/Webbci/common/images/fondo_serv_clientes_gr_bottom.png) no-repeat left bottom; width: 620px; margin: -10px 0px 0px 170px; z-index: 999999; }
.servicios_cliente_act_datos .top_cliente { background: url(/resources/Webbci/common/images/fondo_serv_clientes_gr_top.png) no-repeat 0px 0px; clear: both; height: 15px; font-size: 1px; letter-spacing: -1px; }
.servicios_cliente_act_datos .cerrar{background: url(/resources/Webbci/common/images/bot_cerrar.gif) no-repeat 0px 0px; cursor: pointer; text-align: rigth; margin: 10px 10px 0px 525px; display: block; position: absolute; font: 10px Tahoma, Geneva, sans-serif; color: #666; letter-spacing: normal; padding: 29px 0px 0px 0px; width: 630px; min-height: 10px; z-index: 999;}
.servicios_cliente_act_datos .cerrar a:link, .servicios_cliente_act_datos .cerrar a:visited{color: #666; text-decoration: none;}
.servicios_cliente_act_datos .cerrar a:hover, .servicios_cliente_act_datos .cerrar a:active{color: #666; text-decoration: underline;}

.form_actualizacion_datos{background: #F5F5F5; border-radius: 10px; }
.form_actualizacion_datos .columna_left p{margin: 0px; padding: 0px 0px 4px 0px !important; min-height: 55px; clear: both; overflow: hidden;}
.form_actualizacion_datos .columna_left{width: 300px; min-height: 180px; padding: 6px 0px 0px 10px; float: left; margin: 0px 0px 10px 0px;}
.form_actualizacion_datos .columna_right p{margin: 0px; padding: 0px 0px 4px 0px !important; min-height: 55px; clear: both; overflow: hidden;}
.form_actualizacion_datos .columna_right{width: 190px; min-height: 180px; padding: 6px 0px 0px 10px; float: left; margin: 0px 0px 10px 0px;}
.form_actualizacion_datos .columna_left .condiciones{display: block;}
.form_actualizacion_datos .columna_right .condiciones{display: block;}
.form_actualizacion_datos .requeridomultipass p{font-size: 11px; margin: 0; padding: 1px 0 10px 30px; text-align: center;}
.form_actualizacion_datos .texto_aviso{font-size: 10px; margin: 0; padding: 1px 0 10px 30px; text-align: center;}

.form_actualizacion_datos .col_left{background: url(/resources/Webbci/common/images/bullet_01.gif) no-repeat 0px 10px; width: 36%; padding: 7px 0px 0px 10px; float: left;}
.form_actualizacion_datos .col_right{width: 54%; float: left;}

.form_actualizacion_datos .alertas_mi_perfil{background: url(/resources/Webbci/common/images/ico_alertas_mi_perfil.gif) no-repeat 10px 7px #FFFFC6; width: 250px; clear: both; border-radius: 10px; font: 12px/140% Arial, Helvetica, sans-serif; margin: 0px 0px 8px 0px; height: 40px; padding: 8px 0px 10px 60px;}
.form_actualizacion_datos .alertas_mi_perfil p{margin: 0px; padding: 0px;}

.servicios_cliente_act_datos .comprobante_actualizacion_datos{min-height: 190px; width: 520px; font-size: 12px; padding: 20px 5px 0px 0px; margin: 5px 10px 5px 30px;}

.servicios_cliente_act_datos .comprobante_exito { background: #F5F5F5; float: left; width: 520px;  font-size: 12px; color: #666; margin: 0px 6px 3px 0px; padding: 8px 0px 0px 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }


/*MENSAJE MI PERFIL*/
.mensaje_contenidoact { background: url(/resources/Webbci/common/images/ico_mensaje_contenidos.png) no-repeat 10px 10px #FFFFC6; clear: both; margin: 0px 0px 50px 0px; border-radius: 10px; padding: 10px 10px 13px 40px; font-size: 12px; color: #666;text-align: justify;}
.mensaje_contenidoact p { margin: 5px; padding: 5px; }
.mensaje_contenidoact .aviso { background: #FFFA9D; border-radius: 10px; padding: 8px 5px; color: #666; margin: 0px 0px 5px 0px; min-height: 42px; line-height: 140%; }
.mensaje_contenidoact{background: url(/resources/Webbci/common/images/ico_alertas_mi_perfil.gif) no-repeat 15px 20px #F5F5F5; width: 640px; padding: 15px 0px 10px 70px; margin: 0px 0px 15px 0px; min-height:40px;}


/*MENSAJE EXITO MI PERFIL SIN SELLO DE AGUA*/
.cont_servicios_exito .comprobanteperfil{min-height: 190px; width: 400px; font-size: 12px; padding: 20px 5px 0px 0px; margin: 5px 10px 5px 30px;}
.cont_servicios .orden_no_pago_03 .comprobanteperfil strong, .cont_servicios .orden_no_pago_03 .comprobanteperfil b{font-size: 1em; color: #000;}
.comprobanteperfil table { border: none; clear: both; color: #000; font-size: 11px; width: 95%; margin: 0px auto 8px auto; }
.comprobanteperfil table  th { text-align: left; margin: 0px; padding: 2px; font-size: 12px; font-weight: normal; }
.comprobanteperfil table  td { text-align: left; margin: 0px; padding: 2px; vertical-align: top; }
.comprobanteperfil table .align_left { text-align: left; }

.texto_6{position:relative;top:-125px;left:320px;}
.texto_7{position:relative;top:-125px;left:320px;}
.texto_8{position:relative;top:-125px;left:320px;}
.texto_9{position:relative;top:-125px;left:320px;}
.texto_10{position:relative;top:-125px;left:320px;}

.ui-lightbox-content{
    background-color: white;
    width: 500px;
    height: 500px;
    position:fixed;
    top:50%;
    left:50%;
    z-index:99;
    margin-top:-250px;
    margin-left:-250px;
}
.ui-widget-overlay{
    width:100% !Important;
    height:100% !Important;}

.multipass{position:absolute;left:0px;top:0px;z-index:99;text-align: justify;}
.servicios_cliente{position:absolute;left:0px;top:10px;z-index:99;}
.servicios_cliente_exito{position:absolute;top:30px;z-index:99; margin: 0 0 -135px !important;}

.ico_mis_preferencias{background: url(/resources/Webbci/common/images/ico_mis_preferencias.png) no-repeat center top; display: block; float: left; width: 50px; margin-left:5px; margin-top:4%; margin-right: 10px; font-size: 9px; color: #000; text-align: center;}
.ico_mis_preferencias a{display: block; width: 50px; height: 50px; text-decoration: none; letter-spacing: -1px; text-indent: -9000px; font-size: 1px;}
.ico_mis_preferencias:hover{background: url(/resources/Webbci/common/images/ico_mis_preferencias_over.png) no-repeat center top;}

.ico_actualiza_renta{background: url(/resources/Webbci/common/images/ico_renta_sin_alerta.png) no-repeat center top; display: block; float: left; width: 50px; margin-left:10px; margin-top:4%; font-size: 9px; color: #000; text-align: center;}
.ico_actualiza_renta a{display: block; width: 50px; height: 50px; text-decoration: none; letter-spacing: -1px; text-indent: -9000px; font-size: 1px;}
.ico_actualiza_renta:hover{background: url(/resources/Webbci/common/images/ico_renta_sin_alerta_over.png) no-repeat center top;}

.ico_boletas_electronicas{background: url(/resources/Webbci/common/images/ico_boletas_electronicas.png) no-repeat center top; display: block; float: left; margin-left:15px; margin-top:4%; margin-left: 10px; width: 50px; font-size: 9px; color: #000; text-align: center;}
.ico_boletas_electronicas a{display: block; width: 50px; height: 50px; text-decoration: none; letter-spacing: -1px; text-indent: -9000px; font-size: 1px;}
.ico_boletas_electronicas:hover{background: url(/resources/Webbci/common/images/ico_boletas_electronicas_over.png) no-repeat center top;}

.ico_envio_correspondencia{background: url(/resources/Webbci/common/images/ico_envio_correspondencia.png) no-repeat center top; display: block; float: left; margin-left:20px; margin-top:4%; margin-left: 10px; width: 70px; font-size: 9px; color: #000; text-align: center;}
.ico_envio_correspondencia a{display: block; width: 50px; height: 50px; text-decoration: none; letter-spacing: -1px; text-indent: -9000px; font-size: 1px; margin: 0px auto;}
.ico_envio_correspondencia:hover{background: url(/resources/Webbci/common/images/ico_envio_correspondencia_over.png) no-repeat center top;}

.ico_mis_alertas{background: url(/resources/Webbci/common/images/ico_mis_alertas.png) no-repeat center top; display: block; float: left; width: 50px; margin-right: 10px; font-size: 9px; color: #000; text-align: center;}
.ico_mis_alertas a{display: block; width: 50px; height: 50px; text-decoration: none; letter-spacing: -1px; text-indent: -9000px; font-size: 1px;}
.ico_mis_alertas:hover{background: url(/resources/Webbci/common/images/ico_mis_alertas_over.png) no-repeat center top;}

.ico_mis_preferencias{background: url(/resources/Webbci/common/images/ico_mis_preferencias.png) no-repeat center top; display: block; float: left; width: 55px; margin-left:15px; margin-top:4%; margin-right: 10px; font-size: 9px; color: #000; text-align: center;}
.ico_mis_preferencias a{display: block; width: 50px; height: 50px; text-decoration: none; letter-spacing: -1px; text-indent: -9000px; font-size: 1px;}
.ico_mis_preferencias:hover{background: url(/resources/Webbci/common/images/ico_mis_preferencias_over.png) no-repeat center top;}

.ico_alerta_on{background: url(/resources/Webbci/common/images/ico_activar_alerta.png) no-repeat 0px 0px; display: block; margin: 0px auto; width: 19px; height: 18px;}
.ico_alerta_off{background: url(/resources/Webbci/common/images/ico_desactivar_alerta.png) no-repeat 0px 0px; display: block; margin: 0px auto; width: 19px; height: 18px;}


span.multipass_imagen { font-size:11px; text-align:right; font-weight:normal; height:20px; width:95px;float:none; margin:30px 0px 0px 5px;padding-bottom: 0px; }
.titulos_miPerfil { position: absolute; margin:0px 25px 0px 10px; }
.titulo_Superior_Izquierdo{ align:left; width:340px; position: absolute; margin: 5px 0px 25px 0px; }
.titulo_Superior_Derecho{ align:right; width:150px; position: absolute; margin: 5px 0px 0px 590px;}

.ui-datatable.DataTable th, .ui-datatable.DataTable tr, .ui-datatable.DataTable td, .ui-datatable.DataTable {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 0 !important;
    border-bottom-style: none !important;
    border-bottom-width: 0 !important;
    border-left-style: none !important;
    border-left-width: 0 !important;
    border-right-style: none !important;
    border-right-width: 0 !important;
    border-top-style: none !important;
    border-top-width: 0 !important;
    border-color: rgba(0,0,0,0);
    -webkit-background-clip:border;
    color:rgba(0,0,0,0);
    color:#000;
    text-align:justify;
    cellpadding:0;
    cellspacing:0;
    width: 505px;


}
.tablaPreferencias{
    /*max-height:150px;*/
}

.tituloPreferencia{
    color: #CCCCCC;
    font: bold 16px Arial,Helvetica,sans-serif;
    text-align:left !Important;
}
.servicios_cliente table td {
    text-align: left;
}
.DataTable.ui-datatable table thead {
    display: none;
    border-color:#000000 ;
    border: 0 !important;
    cellpadding:0;
    cellspacing:0;


}

.tablaFactura_numero{width: 85px;}
.tablaFactura_fecha{width: 80px;}
.tablaFactura_tipoDoc{width: 185px;}
.tablaFactura_monto{width: 85px;}


.textoColumna table, tr, td,th{
    width: 200px;
    position:relative;
    border: 0 !important;
    border-bottom-style: none !important;
    border-bottom-width: 0 !important;
    border-left-style: none !important;
    border-left-width: 0 !important;
    border-right-style: none !important;
    border-right-width: 0 !important;
    border-top-style: none !important;
    border-top-width: 0 !important;
    border-color: rgba(0,0,0,0);

}

.bot_02{background: url(/resources/Webbci/Bci/images/bot_accion_aceptar.jpg) no-repeat 0px 0px; text-align: center; width: 105px; height: 30px; margin: 0px; padding: 0px; border: none; cursor: pointer; font: normal 11px Arial, Helvetica, sans-serif; color: #FFF;}
.bot_01 {
    background: url(/resources/Webbci/common/images/bot_accion_cancelar.jpg) no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #666666;
    cursor: pointer;
    font: 11px Arial,Helvetica,sans-serif;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 105px;
}

.mis_direcciones{}
.mis_direcciones h3{font: bold 16px Arial, Helvetica, sans-serif; color: #CCC; margin: 0px; padding: 0px 0px 5px 0px;}
.mis_direcciones .fondo_borde{min-height: 20px; overflow: hidden; padding: 10px 5px 10px 15px; margin-bottom: 15px; color: #333;}
.mis_direcciones .cont_3col{margin: 0px; padding: 0px; clear: both;}
.mis_direcciones .cont_3col p{margin: 0px 5px 0px 0px; padding: 0px 0px 8px 0px; float: left; width: 31%;}
.mis_direcciones input[type=checkbox]{background: none; margin: 0px 5px 0px 0px; padding: 0px; float: left; border: none;}
.mis_direcciones .cont_2col{margin: 0px; padding: 0px; clear: both; width:450px; float:left;}
.mis_direcciones .cont_2col p{margin: 0px 5px 0px 0px; padding: 0px 0px 8px 0px; float: left; width: 50%;}
.mis_direcciones .checkbox{clear: both; text-align: center; margin: 0px auto !important; height: 20px; padding: 0px 0px 5px 0px; font-size: 11px; width: 230px; white-space: nowrap; float: none;}
.mis_direcciones .checkbox input[type=checkbox]{float: left; border: none;}
.mis_direcciones .checkbox label{float: left; width: auto; padding: 3px 0px 0px 0px;}
.mis_direcciones .divFlotante { float:left; }

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 200px;
}