<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:trk="http://bci.cl/facelets/tracking-ga"
	xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave"
	xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave">
<h:head>
<f:loadBundle basename="cl.bci.aplicaciones.emergencias.emergencias" var="msg"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#{msg.bciCorporativo}</title>
<link href="/resources/persona/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/resources/persona/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link href="/resources/persona/css/seguros.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/resources/persona/css/seguridad.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/resources/persona/js/main.js"></script>
<script type="text/javascript" src="/resources/persona/js/validaciones.js"></script>
<script type="text/javascript" src="/resources/persona/js/global/global.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery.treeview.min.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="/resources/persona/js/menu.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery.numeric.js"></script>
<script type="text/javascript">
//<![CDATA[
	$(document).ready(function()
	{		
		$('.paso1 input[name$="pass1"]').keyValue(/[0-9]/);
		$('.paso1 input[name$="pass2"]').keyValue(/[0-9]/);
		var mensaje = $("#mensaje-segunda-clave").html();
		var input = $("input[name*='clave-default']");
		if (mensaje != "" && input.length > 0) {
			input.parent().append("<br/><p>" + mensaje + "</p>");
			$("#mensaje-segunda-clave").html("");
		}
	})
// ]]>
</script>
<trk:script producto="ClaveTelefonica" servicio="Emergencias" />	
</h:head>

<h:body>
	<div id="content">
	<h:form id="formulario">
		<h2 class="encabezado">#{msg.tituloDesbloquearClaveFono}</h2>
		<div class="cont_servicios">
			<div class="top_servicios">&nbsp;</div>
			<div class="contenido"> 
				<h:panelGroup id="panelGroupCabIngresoClave" rendered="#{!desbloqueoClaveTelefonicaBackingMB.claveTelValidada}">
					<ul class="pasos_transferencia">
						<li class="bot_tf_01"><span class="activo">#{msg.paso1}</span>#{msg.creacionClave}</li>
						<li class="bot_tf_02"><span>#{msg.paso2}</span>#{msg.confirmacion}</li>
						<li class="bot_tf_03"><span>#{msg.paso3}</span>#{msg.comprobante}</li>
					</ul>
				</h:panelGroup>
				<h:panelGroup id="panelGroupCabSegundaClave" rendered="#{desbloqueoClaveTelefonicaBackingMB.claveTelValidada}">
					<ul class="pasos_transferencia">
						<li class="bot_tf_01"><span>#{msg.paso1}</span>#{msg.creacionClave}</li>
						<li class="bot_tf_02"><span class="activo">#{msg.paso2}</span>#{msg.confirmacion}</li>
						<li class="bot_tf_03"><span>#{msg.paso3}</span>#{msg.comprobante}</li>
					</ul>
				</h:panelGroup>
				<br clear="all" />
				<div class="paso1">
					<div>
						<table width="100%" border="0" cellspacing="5" cellpadding="0" class="texto">
							<h:panelGroup id="panelGroupIngresoClave" rendered="#{!desbloqueoClaveTelefonicaBackingMB.claveTelValidada}">
							<tr>
								<td width="40%">#{msg.ingreseNuevaClaveFono}</td>
								<td>
									<h:inputSecret 	value="#{desbloqueoClaveTelefonicaBackingMB.nuevaClaveTelefonica}"
													validator="#{desbloqueoClaveTelefonicaBackingMB.validate}"
													name="pass1" id="pass1" class="form_1" size="10" required="true"
													requiredMessage="#{msg.debeSer4Dig}" maxlength="4">
										<f:attribute name="pass2" value="#{pass2}" />
										<f:validateLongRange  minimum="0" maximum="999999"/>
										<f:validateLength minimum="4" maximum="4"/>
									</h:inputSecret>
									#{msg.debeSer4Dig}
									<div class="message_01">
										<h:message for="pass1" />
									</div>
								</td>
							</tr>
							<tr>
								<td width="40%">#{msg.reingreseClaveFono}</td>
								<td>
									<h:inputSecret	binding="#{pass2}"
													name="pass1" id="pass2" class="form_phone" size="10"
													required="true" maxlength="4"
													requiredMessage="#{msg.mensajeDatoRequerido3}">
										<f:validateLongRange  minimum="0" maximum="99999999"/>
										<f:validateLength maximum="4" minimum="4" />
									</h:inputSecret>
									<div class="message_01">
										<h:message for="pass2" />
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="2" class="align_center">
									<h:commandButton styleClass="bot_02 width_70" title="#{msg.continuar}" value="#{msg.continuar}" id="validaClave" onclick="javascript:document.getElementById(this.id + '_oculto').click();" >
									</h:commandButton>
									<h:commandButton actionListener="#{desbloqueoClaveTelefonicaBackingMB.validate}" id="validaClave_oculto" style="display:none;" 
									        update="panelGroupCabIngresoClave panelGroupCabSegundaClave panelGroupIngresoClave panelGroupSegundaClave"/>
								</td>
							</tr>
							</h:panelGroup>
							<h:panelGroup id="panelGroupSegundaClave" rendered="#{desbloqueoClaveTelefonicaBackingMB.claveTelValidada}">
							<tr>
								<td colspan="2">
									<segundaclave:metodoAutenticacion
										id="segundaclave"
										servicio="DesbloqueoClaveTelefonica"
										layout="vertical"
										bindingComponent="desbloqueoClaveTelefonicaBackingMB.segundaClave"
										textoButtonAction="#{msg.aceptar}"
										esPrimefaces="false"
										destinoButtonAction="#{desbloqueoClaveTelefonicaBackingMB.desbloquearClaveTelefonica}"
										mensaje="">
										<segundaclaveparametros:data nombre="autorizaDesbloqueo" valor="SI" /> 
										<segundaclaveparametros:data nombre="fechaHora" valor="#{desbloqueoClaveTelefonicaBackingMB.fechaActualFormateada}" />  
									</segundaclave:metodoAutenticacion>
									<div id="mensaje-segunda-clave" style="display: none;"><h:message for="segundaclave" /></div>
								</td>
							</tr>
							</h:panelGroup>
						</table>
                        <h:panelGroup layout="block" id="mensajesErrorPie" styleClass="mensaje_activar" rendered="#{not empty facesContext.messageList}">
                          <h:messages showSummary="false" showDetail="true" layout="table" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-left:0px"/>
                        </h:panelGroup>
					</div>
				</div>
			</div>
		</div>
	</h:form>
	<div class="fondo_bottom">&nbsp;</div>
	</div>
</h:body>
</html>

<!-- 
/*************************************************************************************************************** 
* Archivo: desbloquearClaveTelefonica.xhtml
* Descripcion Este xhtml tiene la funcionadalidad de mostrar la vista de desbloqueo de clave telefonica. 
* Path cl\bci\aplicaciones\menu\vistas\emergencia\
* "Todos los derechos reservados por Banco de Credito e Inversiones." 
* Historia Cambios 
* ________________ 
* versión fecha autor cambios 
* ======= ========== ===================== ================================= 
* 1.0 ??/??/???? ???????                   version inicial. 
* 1.1 16/05/2014 Luis Lopez Alamos (SEnTRA) Se modifica largo de campo permitido, de 6 a 4.
* 1.2 05/09/2017  Marcelo Fuentes (SEnTRA) - Ricardo Carrasco (Ing. Soft. BCI) Se modifica pagina por integración 
* con autenticacion Entrust.
****************************************************************************************************************/ 
--> 