<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave"
    xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave">
	
<h:head>
	<f:loadBundle basename="cl.bci.aplicaciones.seguridad.bloqueotdd.bloqueoTDD" var="msg" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-Control"
		content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<title>Bci Personas</title>
	
	<h:outputStylesheet name="common.css" library="Webbci/common/css" />
	<h:outputStylesheet name="simuladorCredito.css" library="Webbci/common/css" />
    <h:outputStylesheet name="canal.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css" />
    <h:outputStylesheet name="theme.css" library="webbci/common/tema/#{portalMB.atributosWeb.tema}" />
    <link rel="stylesheet" type="text/css" href="/bcinetwls/tarjetas/tdebito/css/estilo.css" />
    
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:outputScript library="consolidadorsimuladores/js" name="main.js" target="head"/>
    
    <script type="text/javascript">
      $ = jQuery;
   </script>
    
    <script type="text/javascript">
    $( document ).ready(function() {
    	$(".ui-wizard-step-titles").hide();
    });
    
    function mataangustia(mostrar){
        var estilo='none';
        if(mostrar){
            estilo='block';
            document.body.style.cursor='wait';
            $(".bot_02").attr('disabled','disabled');
        }else{
            document.body.style.cursor='default';
            $(".bot_02").attr('disabled','');
        }               
    }
    
    function validar(){
        if (document.getElementById("frm:cuenta").selectedIndex == 0 
        		|| document.getElementById("frm:tarjetas").value == "") {
            alert("Debe seleccionar una cuenta y una tarjeta");
            return false;
        }
        if (document.getElementById("frm:cuenta").selectedIndex == 0) {
            alert("Debe seleccionar una cuenta y una tarjeta");
            return false;
        }
        if (document.getElementById("frm:tipoSolicitud").selectedIndex == 0){
            alert("Debe seleccionar habilitación o deshabilitación");
            return false;
        }
        return true;
    }
    
    function sendform() {
    	if (validar()) {
    		mataangustia(true);
    		bloqueoWizard.next();    		
    	}
    }
    
    function send_confirmacion() {
    	mataangustia(true);
    	bloqueoWizard.next();	
    }
    </script>
    <style>
        
    </style>
</h:head>
<h:body>
	<f:event listener="#{bloqueoTarjetaDebitoControllerMB.inicioSecuencia}" type="preRenderView" />
    
    <h2 class="encabezado" style="font-size:25px; color:#000000;">
        <h:outputText value="#{msg.tituloServicio}" escape="false"></h:outputText>
    </h2>
    <h2 id="descServicio"><h:outputText value="#{msg.descServicio}" escape="false"></h:outputText></h2>

    <div id="content">
    <h:form id="frm">
    <p:wizard id="wizard" widgetVar="bloqueoWizard" 
        showNavBar="false" flowListener="#{bloqueoTarjetaDebitoControllerMB.secuencia}"
        styleClass="wizardContenidoIcono" rendered="#{!bloqueoTarjetaDebitoControllerMB.errorGeneral}">
        
        <p:tab id="#{iconoInteligenteUtilityMB.ingreso}" title="#{iconoInteligenteUtilityMB.ingreso}">
        
            <h:panelGroup layout="block" styleClass="cont_servicios">
                <h3>
                    <span class="texto_titulo"><h:outputText value="#{msg.tituloFormulario}"></h:outputText> </span>
                </h3>
                <h:panelGroup layout="block" styleClass="fondo">
                    <h:panelGroup layout="block" styleClass="simulador borde_ie">
                        <p>
                            <span class="simulador derecha"> 
                                 <h:outputText value="#{msg.campoNroCuenta}" escape="false"></h:outputText>
                                 </span>
                            <h:selectOneMenu id="cuenta" styleClass="select_50" style="width:200px"
                                value="#{bloqueoTarjetaDebitoViewMB.cuentaSeleccionada}">
                                <f:selectItem itemLabel="-- Seleccione una cuenta --" itemValue=""/>
                                <f:selectItems value="#{bloqueoTarjetaDebitoViewMB.cuentasFiltradas}" />
                                <f:ajax listener="#{bloqueoTarjetaDebitoControllerMB.seleccionaCuenta}" render="tarjetas" />
                            </h:selectOneMenu>

                        </p>
                        <p>
                            <span class="simulador derecha">
                                    <h:outputText value="#{msg.campoTarjeta}" escape="false"></h:outputText>
                            </span>
                            <h:selectOneMenu id="tarjetas" styleClass="select_50" style="width:200px"
                                value="#{bloqueoTarjetaDebitoViewMB.tarjetaSeleccionada}" >
                                <f:selectItems id="tarjetasLista" value="#{bloqueoTarjetaDebitoViewMB.tarjetasDebitoPorCuenta}" />
                            </h:selectOneMenu>
                        </p>
                        
                        <p>
                            <span class="simulador derecha">
                                    <h:outputText value="#{msg.campoTipoSolicitud}" escape="false"></h:outputText>
                            </span>
                            <h:selectOneMenu id="tipoSolicitud" styleClass="select_50" style="width:200px"
                                value="#{bloqueoTarjetaDebitoViewMB.servicioSeleccionado}">
                                <f:selectItem itemLabel="-- Seleccione opción --" itemValue=""/>
                                <f:selectItems id="servicios" value="#{bloqueoTarjetaDebitoViewMB.servicios}" 
                                    var="n" itemValue="#{n[3]}" itemLabel="#{n[1]}"/>
                            </h:selectOneMenu>

                        </p>

                    </h:panelGroup>
                    <p class="botones">
                        <h:commandButton type="button" styleClass="bot_02" title="#{msg.btnSiguiente}"
                            value="#{msg.btnSiguiente}"
                            onclick="sendform();"
                             /> 
                             
                    </p>
                    <div class="alertas_simulador border_ie">
                        <p><h:outputText value="#{bloqueoTarjetaDebitoViewMB.banner}" escape="false"></h:outputText></p>
                    </div>
                    
                </h:panelGroup>
                <!--END FONDO-->
                <h:panelGroup layout="block" styleClass="fondo_bottom">&nbsp;</h:panelGroup>
            </h:panelGroup>
            <!--END CONT_SERVICIOS-->
            <div id="fade" class="black_overlay"></div>

        </p:tab>
        <p:tab id="#{iconoInteligenteUtilityMB.confirmacion}" title="#{iconoInteligenteUtilityMB.confirmacion}">
        <script type="text/javascript">
        //<![CDATA[
        mataangustia(false);
        //]]>
        </script>
        <h:panelGroup layout="block" id="content_confirmacion">
            <h:panelGroup layout="block" styleClass="cont_servicios">
                <h3>
                    <span class="texto_titulo"><h:outputText value="#{msg.tituloFormularioConfirmacion}"></h:outputText> </span>
                </h3>
                <h:panelGroup layout="block" styleClass="fondo">
                    <h:panelGroup layout="block" styleClass="simulador borde_ie">
                        <p>
                            <span class="simulador derecha" style="padding-top: 0px;"> 
                                 <span>
                                 <h:outputText value="#{msg.campoNroCuenta}" escape="false"></h:outputText>:
                                 </span>
                            </span>
                            
                            <h:outputText value="#{bloqueoTarjetaDebitoViewMB.cuentaSeleccionada}" escape="false"></h:outputText>
                        </p>
                        <p>
                            <span class="simulador derecha" style="padding-top: 0px;">
                                <span>
                                    <h:outputText value="#{msg.campoTarjeta}" escape="false"></h:outputText>:
                                </span>
                            </span>
                            <h:outputText value="#{bloqueoTarjetaDebitoViewMB.tarjetaSeleccionada}" escape="false"></h:outputText>
                        </p>
                        <p>
                            <span class="simulador derecha" style="padding-top: 0px;">
                                <span>
                                    <h:outputText value="#{msg.campoTipoSolicitud}" escape="false"></h:outputText>:
                                </span>
                            </span>
                            <h:outputText value="#{bloqueoTarjetaDebitoViewMB.servicioNombre}" escape="false"></h:outputText>
                        </p>
                 </h:panelGroup>
                 
                 <div id="panelSegundaClave" style="width:550px;margin-left: 100px;font: 11px Arial, Helvetica, sans-serif;">
                    <segundaclave:metodoAutenticacion
                      id="segundaclave"
                      servicio="SeguridadTarjetaDebito"
                      layout="vertical"
                      bindingComponent="bloqueoTarjetaDebitoControllerMB.segundaClave"
                      textoButtonAction = "Aceptar" 
                      destinoButtonOnclick = "send_confirmacion();"
                      textoButtonRetorno="Volver"
                      destinoButtonRetornoOnclick="bloqueoWizard.back();"
                      mensaje = ""
                      esPrimefaces="true">

                      <segundaclaveparametros:data nombre="rut" valor="#{bloqueoTarjetaDebitoViewMB.clienteMB.rut}#{bloqueoTarjetaDebitoViewMB.clienteMB.digitoVerif}" /> 
                      <segundaclaveparametros:data nombre="servicio" valor="SeguridadTarjetaDebito" />
                      <segundaclaveparametros:data nombre="numeroTDCOrigen" valor="#{bloqueoTarjetaDebitoViewMB.tarjetaSeleccionada}" />
                    
                    </segundaclave:metodoAutenticacion>
                 </div>
                  <h:panelGroup id="mensajes_validacion_ingreso" layout="block" styleClass="mensaje_activar align_center" rendered="#{not empty facesContext.messageList}" style="vertical-align: mid; border-style: none;">
                    <h:messages showSummary="false" showDetail="true" layout="table" styleClass="tabla_mensajes_error" style="border-style: none; color: rgb(102, 102, 102);margin-left: 20px;" />
                  </h:panelGroup>
                </h:panelGroup>

                <!--END FONDO-->
                <h:panelGroup layout="block" styleClass="fondo_bottom">&nbsp;</h:panelGroup>
            </h:panelGroup>
            <!--END CONT_SERVICIOS-->
            <div id="fade" class="black_overlay"></div>
    </h:panelGroup>
        </p:tab>
        <p:tab id="#{iconoInteligenteUtilityMB.comprobante}" title="#{iconoInteligenteUtilityMB.comprobante}">
	        <script type="text/javascript">
	         //<![CDATA[
	            mataangustia(false);
	            $('.encabezado').hide();
	            $('#descServicio').hide();
	         //]]>
	        </script>
	        
		<div class="cuerpo">
		    <div>
		        <iframe align="top" src="#{bloqueoTarjetaDebitoViewMB.urlRedBank}" name="contextoRedBanc" id="contextoRedBanc"
		        style="position:absolute;top:0px;left:0px;width:100%;height:100%;padding:0px"></iframe>
		    </div>
		</div>
        </p:tab>

    </p:wizard>
    <h:panelGroup rendered="#{bloqueoTarjetaDebitoControllerMB.errorGeneral}" styleClass="paso1" layout="block">
         <div class="alertas">
             <div class="fondo_alertas">
                 <div class="ico_alerta">
                 <p><br />
                 <h:outputText value="#{msg.estimadoCliente}"/><br/><br/>
                 <h:outputText value="#{bloqueoTarjetaDebitoControllerMB.msgError}"/>
                 </p>
                 </div>
             </div>
         </div>
     </h:panelGroup>

    </h:form>
    </div>

	<!--END DIV CONTENT-->
</h:body>
</html>

