﻿<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.prime.com.tr/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave"
      xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave">
    <h:head>
        <h:outputStylesheet name="print.css" library="Webbci/common/css"></h:outputStylesheet>
        <h:outputStylesheet name="screen.css" library="Webbci/common/css"></h:outputStylesheet>
    	<h:outputStylesheet name="canal.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css"></h:outputStylesheet>
		
        <h:outputScript library="javascript" name="main.js"></h:outputScript>
        <h:outputScript library="javascript/global" name="global.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery_roundies.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery.numeric.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery.tablesorter.min.js"></h:outputScript>

		<f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.productos.servicios.transferencia.misDestinatarios')}" var="msg"/>
		<f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.supercartola.superCartola')}" var="msgSaldos"/>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

		<title><h:outputText value="#{msg.tituloMisDestinatarios}" escape="false"/></title>
		
		<script type="text/javascript">
			if (jQuery==null){jQuery=$;}else{$=jQuery;}
			
			function nuevoDestinatario(){
				$('.espera_datos').show();
				$('.encabezado')[0].scrollIntoView();
				if(navigator.appName == "Microsoft Internet Explorer"){
					$('.iconos_inteligentes.iconos_top').load('nuevoDestinatario.jsf?id=' + new Date().getTime(), 
						function(response, status, xhr){
							if(status == "error"){
								$('.espera_datos').hide();
								$('.iconos_inteligentes.iconos_top').css('display','none');
							}
							else{
								$('.espera_datos').hide();
								$('.iconos_inteligentes.iconos_top').fadeIn('normal');
								$('.encabezado')[0].scrollIntoView();
							}
						}
					);
				}else{
					$('.iconos_inteligentes.iconos_top').load('nuevoDestinatario.jsf',
						function(response, status, xhr) {
							if(status == "error"){
								$('.espera_datos').hide();
								$('.iconos_inteligentes.iconos_top').css('display','none');
							}
							else{
								$('.espera_datos').hide();
								$('.iconos_inteligentes.iconos_top').fadeIn('normal');
								$('.encabezado')[0].scrollIntoView();
							}
						}
					);
				}
			}
			
			function codigoAlias(codigo, tipo, opcion){
				$('.servicios_cliente.width_714').hide();
				$('.codigoAlias'+tipo)[0].value = codigo;
				if(opcion!=null){
					$('.espera_datos').show();
					$('.encabezado')[0].scrollIntoView();
				}
			}
			
			function validarModificarDestinatarioPaso1(){
				$('.cont_form_destinatario input').removeClass('obligatorio');
				if (($('.cont_form_destinatario input[name$="modificarNombre"]').val()=="") || ($('.cont_form_destinatario input[name$="modificarNombre"]').val()=="Ingrese nombre")){
					$('.cont_form_destinatario input[name$="modificarNombre"]').addClass('obligatorio').attr('value','Ingrese nombre').select();
					return false;
				}
				if ((!/^(([a-z])|([A-Z])|( )|(ñ)|(Ñ))*$/.test($('.cont_form_destinatario input[name$="modificarNombre"]').val())) ||  ($('.cont_form_destinatario input[name$="modificarNombre"]').val()=="Nombre inválido")){
					$('.cont_form_destinatario input[name$="modificarNombre"]').addClass('obligatorio').attr('value','Nombre inválido').select();
					return false;
				}
				if (($('.cont_form_destinatario input[name$="modificarAlias"]').val()=="") || ($('.cont_form_destinatario [name$="modificarAlias"]').val()=="Ingrese nombre alias")){
					$('.cont_form_destinatario input[name$="modificarAlias"]').addClass('obligatorio').attr('value','Ingrese nombre alias').select();
					return false;
				}
				if ((!/^(([0-9])|([a-z])|([A-Z])|( )|(ñ)|(Ñ))*$/.test($('.cont_form_destinatario input[name$="modificarAlias"]').val())) ||  ($('.cont_form_destinatario input[name$="modificarAlias"]').val()=="Nombre alias inválido")){
					$('.cont_form_destinatario input[name$="modificarAlias"]').addClass('obligatorio').attr('value','Nombre alias inválido').select();
					return false;
				}
				if($('.cont_form_destinatario input[name$="modificarEmail"]').val()!=""){
					if (($('.cont_form_destinatario input[name$="modificarEmail"]').val()=="Ingrese un email valido") || !isMail($('.cont_form_destinatario input[name$="modificarEmail"]').val())){ 
						$('.cont_form_destinatario input[name$="modificarEmail"]').addClass('obligatorio').attr('value','Ingrese un email valido').select();
						return false;
					}
					if ((!/^(([0-9])|([a-z])|([A-Z])|(\.)|(@)|(_)|(\-))*$/.test($('.cont_form_destinatario input[name$="modificarEmail"]').val())) ||  ($('.cont_form_destinatario input[name$="modificarEmail"]').val()=="Email inválido")){
						$('.cont_form_destinatario input[name$="modificarEmail"]').addClass('obligatorio').attr('value','Email inválido').select();
					return false;
				}
				}

				$('.cont_form_destinatario input, .cont_form_destinatario select').blur(function() {
					$('.cont_form_destinatario input, .cont_form_destinatario select').removeClass('obligatorio')
				});

				$('.modificarPaso1').hide();
				$('.margen_cargando_datos').show();
				
				return true;
			}
			
			function validarAutotizarPaso1(){
				$('.form_autorizar input').removeClass('obligatorio');
				if($('.form_autorizar input[name$="codigoAutorizacion"]').length!=0){
				if (($('.form_autorizar input[name$="codigoAutorizacion"]').val()=="") || ($('.form_autorizar [name$="codigoAutorizacion"]').val()=="Ingrese código")){
					$('.form_autorizar input[name$="codigoAutorizacion"]').addClass('obligatorio').attr('value','Ingrese código').select();
					return;
				}
				if ((!/^(([0-9]))*$/.test($('.form_autorizar input[name$="codigoAutorizacion"]').val())) ||  ($('.form_autorizar input[name$="codigoAutorizacion"]').val()=="Número de código inválido")){
					$('.form_autorizar input[name$="codigoAutorizacion"]').addClass('obligatorio').attr('value','Número de código inválido').select();
					return;
				}
				}
				
				$('.autorizarPaso1').hide();
				$('.margen_cargando_datos').show();
				$('.confirmarAutorizarDestinatario').trigger('click');
			}
		
			function presionaAutorizacion(e){
				if (48 > e.keyCode || e.keyCode > 57){
						return e.keyCode=0;
				}
			}
			
			function inicio(){
				$(".borde_ie_10").corner("10px");
				$(".fondo_borde").corner("10px");
				$(".fondo_borde_10").corner("10px");
			}
			</script>
	</h:head>
		
		<h:body>
			<div id="content">				
				<!--HERRAMIENTAS-->
				<h:panelGroup layout="block" styleClass="herramientas_top">
					<h:panelGroup layout="block" styleClass="herramienta_mensajes_on" rendered="#{alertasClienteModelMB.numeroAlertaSinLeer > 0}">
						<h:outputLink title="#{msgSaldos.descMensajes}"  value="/cl/bci/aplicaciones/alertasparacliente/listaAlertas.jsf"/>
						<h:outputText value="#{msgSaldos.descMensajes}"/>
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="herramienta_mensajes" rendered="#{alertasClienteModelMB.numeroAlertaSinLeer == 0}">
						<h:outputLink title="#{msgSaldos.descMensajes}"  value="/cl/bci/aplicaciones/alertasparacliente/listaAlertas.jsf"/>
						<h:outputText value="#{msgSaldos.descMensajes}"/>
					</h:panelGroup>
				</h:panelGroup>
				<!--END HERRAMIENTAS-->
				
				<h2 class="encabezado">
					<h:outputText value="#{msg.tituloMisDestinatarios}" escape="false"/>
					<span class="servicio_multipass">
						<h:outputText value="#{msg.requisitosBCI}" escape="false"/>
					</span>
				</h2>
				
				<!-- MENSAJES -->
				<h:panelGroup layout="block" styleClass="cont_servicios" rendered="#{!nuevoDestinatarioBackingMB.autorizaConSafeSigner}">
					<h:panelGroup layout="block" styleClass="mensaje_contenidoact borde_ie_10" rendered="#{msg.alertasSMS}">
						<h:outputText value="#{msg.misDestinatarioAlertaSMS}" escape="false"/>
					</h:panelGroup>
					<div class="alertas_msn_destinatarios borde_ie_10">
						<h:outputText value="#{msg.mensajeMisDestinatarios}" escape="false"/>
						<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
						<h:outputLink title="#{msg.actualizaDatos}"  value="#{msg.actualizaDatosLink}">
							<h:outputText value="#{misDestinatariosBackingMB.emailCliente}" rendered="#{not empty misDestinatariosBackingMB.emailCliente}" escape="false"/>
							<h:outputText value="#{msg.sinCorreo}" rendered="#{empty misDestinatariosBackingMB.emailCliente}" escape="false"/>
						</h:outputLink>
					</div>
					<div class="mensaje_contenidoact borde_ie_10">
						<h:outputText value="#{msg.mensajeSeguridad1}" escape="false"/>
						<h:outputText value="#{nuevoDestinatarioBackingMB.montoMaximoAlias} " escape="false"/>
						<h:outputText value="#{msg.mensajeSeguridad2}" escape="false"/>
					</div>
				</h:panelGroup>
				<!-- END MENSAJES -->
				
			<div class="espera_datos" style="display:none">
				<div class="panel_transparente"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></div>
				<div class="servicios_cliente margen_espera_datos">
					<div class="top_cliente"></div>
					<div class="fondo_cliente">
						<h:graphicImage value="/resources/images/html/icono_loading.gif" styleClass="margen_cargando"/>
					</div>
				</div>
			</div>
			
				<!-- POR AUTORIZAR -->
				<div class="cont_info_cliente">
					<!--EN ESTE DIV SE CARGA EL CONTENIDO DE LOS ICONOS SEGUN EVENTO ONCLICK-->
					<div class="iconos_inteligentes iconos_top" style="display: none;"></div>
					<div class="fondo_info_cliente">
						<h3>          
							<a href="#;" onclick="$(this).parent().parent().children('form,div,table').fadeIn('normal');" class="expandir" title="Expandir Todo">
								<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
							</a>
							<a href="#;" onclick="$(this).parent().parent().children('form,div,table').fadeOut('normal');" class="colapsar" title="Cerrar Todo">
								<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
							</a>
							<span class="titulo">
								<h:outputText value="#{msg.misDestinatariosPorAutorizar}" escape="false"/>
							</span>
						</h3>
						
						<h:form id="formPorAutorizar" layout="block">
							<!-- SETEO CODIGO ALIAS -->
							<div style="display:none">
								<h:inputText id="codigoAliasPendientes" value="#{nuevoDestinatarioBackingMB.codigoAlias}" styleClass="codigoAliasPendientes"/>
							</div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla_datos tablesorter tablaPorAutorizar" summary="Destinatarios">
								<thead>
									<tr>
										<th class="noborde_right_left">
											<span class="bullet_ordenar"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></span>
											<h:outputText value="#{msg.misDestinatariosNombreCuenta}" escape="false"/>
										</th>
										<th>
											<span class="bullet_ordenar"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></span>
											<h:outputText value="#{msg.misDestinatariosDestinatario}" escape="false"/>
										</th>
										<th>
											<span class="bullet_ordenar"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></span>
											<h:outputText value="#{msg.misDestinatariosBanco}" escape="false"/>
										</th>
										<th class="no_padding width25">
											<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
										</th>
										<th class="no_padding width25">
											<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
										</th>
									</tr>
								</thead>
								<tbody>
									<ui:repeat var="pendientes" value="#{misDestinatariosBackingMB.aliasPendientes}">
										<tr>
											<td class="align_left noborde_right_left">
												<h:commandLink styleClass="destinatario_detalle" value="#{pendientes.nombreAlias}" onclick="codigoAlias(#{pendientes.codigo},'Pendientes','modificarDestinatario')" action="#{misDestinatariosBackingMB.modificarAlias}">
													<f:ajax execute=":formPorAutorizar:codigoAliasPendientes" render=":formDetalle :pasos"/>
												</h:commandLink>
											</td>
											<td>
												<h:outputText value="#{pendientes.nombre}"/>
											</td>
											<td>
												<h:outputText value="#{pendientes.nombreBanco}"/>
											</td>
											<td class="align_center no_padding">
												<span class="herramienta_small_autorizar">
													<h:commandLink title="#{msg.misDestinatariosAutorizar}" value="#{msg.misDestinatariosAutorizar}" onclick="codigoAlias(#{pendientes.codigo},'Pendientes','autorizarDestinatario')" action="#{misDestinatariosBackingMB.autorizarAlias}">
														<f:ajax execute=":formPorAutorizar:codigoAliasPendientes" render=":formAutorizar :pasos"/>
													</h:commandLink>
												</span>
											</td>
											<td class="align_center no_padding">
												<span class="herramienta_small_eliminar">
													<h:commandLink title="#{msg.misDestinatariosEliminar}" value="#{msg.misDestinatariosEliminar}" onclick="codigoAlias(#{pendientes.codigo},'Pendientes','eliminarDestinatario')" action="#{misDestinatariosBackingMB.eliminarAlias}">
														<f:ajax execute=":formPorAutorizar:codigoAliasPendientes" render=":formEliminar :pasos"/>
													</h:commandLink>
												</span>
											</td>
										</tr>
									</ui:repeat>
								</tbody>
							</table>
							<div class="accesos_bottom_sin_fondo">
								<span class="ico_acceso_tf_programadas">
									<h:outputLink title="#{msg.misDestinatariosTransferenciasProgramadas}"  value="#{msg.transferenciasProgramadasLink}">
									</h:outputLink>
									<h:outputText value="#{msg.tituloTransferenciasProgramadas}"/>
								</span>
								<span class="ico_acceso_nuevo_destinatario">
									<h:commandLink value="#{msg.caracterEspacio}" onclick="javascript:nuevoDestinatario()" title="#{msg.misDestinatariosNuevoDestinatario}">
										<f:ajax execute="@none" render="@none" />
									</h:commandLink>
									<h:outputText value="#{msg.tituloNuevoDestinatario}"/>
								</span>
							</div>
							<script>$(".tablaPorAutorizar").tablesorter({headers:{3:{sorter:false},4:{sorter:false}}});</script>
						</h:form>
						
					</div>
					<div class="fondo_bottom_info_cliente">
						<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
					</div>
				</div>
				<!-- FIN POR AUTORIZAR -->
				
				<!-- AUTORIZADOS -->
				<div class="cont_info_cliente">
					<div class="fondo_info_cliente">
						<h3>          
							<a href="#;" onclick="$(this).parent().parent().children('form,div,table').fadeIn('normal');$('.cont_select_mostrar,.cont_info_cliente .herramientas_top,.bottom_abono_cargo').fadeIn('normal')" class="expandir" title="Expandir Todo">
								<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
							</a>
							<a href="#;" onclick="$(this).parent().parent().children('form,div,table').fadeOut('normal');$('.iconos_inteligentes.mas_informacion,.cont_select_mostrar,.cont_info_cliente .herramientas_top,.bottom_abono_cargo').fadeOut('normal')" class="colapsar" title="Cerrar Todo">
								<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
							</a>
							<span class="titulo">
								<h:outputText value="#{msg.misDestinatariosAutorizados}" escape="false"/>
							</span>
						</h3>
						<h:form id="formAutorizados" layout="block">
							<!-- SETEO CODIGO ALIAS -->
							<div style="display:none">
								<h:inputText id="codigoAliasAutorizados" value="#{nuevoDestinatarioBackingMB.codigoAlias}" styleClass="codigoAliasAutorizados"/>
							</div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla_datos tablesorter tablaAutorizados" summary="Destinatarios">
								<thead>
									<tr>
										<th class="noborde_right_td width20">
											<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
										</th>
										<th class="noborde_right_left">
											<span class="bullet_ordenar"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></span>
											<h:outputText value="#{msg.misDestinatariosNombreCuenta}" escape="false"/>
										</th>
										<th>
											<span class="bullet_ordenar"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></span>
											<h:outputText value="#{msg.misDestinatariosDestinatario}" escape="false"/>
										</th>
										<th>
											<span class="bullet_ordenar"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></span>
											<h:outputText value="#{msg.misDestinatariosBanco}" escape="false"/>
										</th>
										<th class="no_padding width25">
											<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
										</th>
										<th class="no_padding width25">
											<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
										</th>
									</tr>
								</thead>
								<tbody>
									<ui:repeat var="autorizados" value="#{misDestinatariosBackingMB.aliasAutorizados}">
										<tr>
											<td class="noborde_right_td">
												<h:panelGroup layout="block" rendered="#{autorizados.favorito}">
													<h:commandLink styleClass="favorito_on" value="#{msg.signoMas}" title="#{msg.misDestinatariosFavorito}" onclick="codigoAlias(#{autorizados.codigo},'Autorizados',null)" action="#{misDestinatariosBackingMB.favoritizarAlias}">
														<f:ajax execute=":formAutorizados:codigoAliasAutorizados" render=":formAutorizados :pasos"/>
													</h:commandLink>
												</h:panelGroup>
												<h:panelGroup layout="block" rendered="#{!autorizados.favorito}">
													<h:commandLink styleClass="favorito" value="#{msg.signoMas}" title="#{msg.misDestinatariosMarcaFavorito}" onclick="codigoAlias(#{autorizados.codigo},'Autorizados',null)" action="#{misDestinatariosBackingMB.favoritizarAlias}">
														<f:ajax execute=":formAutorizados:codigoAliasAutorizados" render=":formAutorizados :pasos"/>
													</h:commandLink>
												</h:panelGroup>
											</td>
											<td class="align_left">
												<h:commandLink styleClass="destinatario_detalle" value="#{autorizados.nombreAlias}" onclick="codigoAlias(#{autorizados.codigo},'Autorizados','modificarDestinatario')" action="#{misDestinatariosBackingMB.modificarAlias}">
													<f:ajax execute=":formAutorizados:codigoAliasAutorizados" render=":formDetalle :pasos"/>
												</h:commandLink>
											</td>
											<td>
												<h:outputText value="#{autorizados.nombre}"/>
											</td>
											<td>
												<h:outputText value="#{autorizados.nombreBanco}"/>
											</td>
											<td class="align_center no_padding">
											<h:panelGroup styleClass="herramienta_small_transferir" rendered="#{!autorizados.bancoBloqueado}">
													<h:outputLink title="#{msg.misDestinatariosTransferir}"  value="#{msg.transferirLink}#{autorizados.codigo}#{msg.finTransferirLink}">
													</h:outputLink>
											</h:panelGroup>
											</td>
											<td class="align_center no_padding">
												<span class="herramienta_small_eliminar">
													<h:commandLink title="#{msg.misDestinatariosEliminar}" value="#{msg.misDestinatariosEliminar}" onclick="codigoAlias(#{autorizados.codigo},'Autorizados','eliminarDestinatario')" action="#{misDestinatariosBackingMB.eliminarAlias}">
														<f:ajax execute=":formAutorizados:codigoAliasAutorizados" render=":formEliminar :pasos"/>
													</h:commandLink>
												</span>
											</td>
										</tr>
									</ui:repeat>
								</tbody>
							</table>
							<script>$(".tablaAutorizados").tablesorter({headers:{0:{sorter:false},4:{sorter:false},5:{sorter:false}}});</script>
						</h:form>
					</div>
					<div class="fondo_bottom_info_cliente">
						<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
					</div>
				</div>
				<!-- FIN AUTORIZADOS -->
				
				<!--SERVICIOS CLIENTE: MODIFICAR DESTINATARIO-->
				<div id="modificarDestinatario" class="servicios_cliente width_714 modificarDestinatario" style="display:none">
					<div class="top_cliente"><span class="cerrar" onclick="$('.modificarPaso0').hide();$('.modificarPaso1').hide();$('.modificarPaso2').hide();$('.servicios_cliente.width_714').fadeOut('normal');"><h:outputText value="#{msg.cerrar}" escape="false"/></span></div>
					<div class="fondo_cliente">
						<!--PASO 00-->
						<h:form id="formDetalle" class="modificarPaso0 paso_01" style="display:none">
							<h2><h:outputText value="#{msg.tituloModificarDestinatarioP1}" escape="false"/></h2>
							<div>
								<div style="display:none">
									<h:inputHidden id="detalleCodigoAlias" value="#{nuevoDestinatarioBackingMB.codigoAlias}"/>
									<h:inputHidden id="detalleAlias" value="#{nuevoDestinatarioBackingMB.alias}"/>
									<h:inputHidden id="detalleRut" value="#{nuevoDestinatarioBackingMB.rut}"/>
									<h:inputHidden id="detalleNombre" value="#{nuevoDestinatarioBackingMB.nombre}"/>
									<h:inputHidden id="detalleBanco" value="#{nuevoDestinatarioBackingMB.banco}"/>
									<h:inputHidden id="detalleNombreBanco" value="#{nuevoDestinatarioBackingMB.nombreBanco}"/>
									<h:inputHidden id="detalleTipoCuenta" value="#{nuevoDestinatarioBackingMB.tipoCuenta}"/>
									<h:inputHidden id="detalleNombreTipoCuenta" value="#{nuevoDestinatarioBackingMB.nombreTipoCuenta}"/>
									<h:inputHidden id="detalleCuenta" value="#{nuevoDestinatarioBackingMB.cuenta}"/>
									<h:inputHidden id="detalleEmail" value="#{nuevoDestinatarioBackingMB.email}"/>
									<h:inputHidden id="detalleFavorito" value="#{nuevoDestinatarioBackingMB.favorito}"/>
									<h:inputText id="detalleOperacion" value="#{misDestinatariosViewMB.operacion}" styleClass="operacion"/>
									<script>$('.operacion')[0].value = "modificarDestinatario";</script>
								</div>
								<div class="fondo_borde">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Modificar paso 1">
										<thead>
											<tr>
												<th class="align_left width33p"><span class="align_left"><h:outputText value="#{msg.detalleDestinatarioTitular}" escape="false"/></span></th>
												<th class="align_left width33p"><span class="align_left"><h:outputText value="#{msg.nuevoDestinatarioRut}" escape="false"/></span></th>
												<th class="align_left width33p"><span class="align_left"><h:outputText value="#{msg.nuevoDestinatarioEmail}" escape="false"/></span></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombre}" escape="false"/></strong></td>
												<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.rut}" escape="false"/></strong></td>
											<td class="align_left">
											     <strong class="destacado_monto">
												     <h:panelGroup rendered="#{not empty nuevoDestinatarioBackingMB.email}"> 
												         <h:outputText value="#{nuevoDestinatarioBackingMB.email}" escape="false" />
												     </h:panelGroup>
												     <h:panelGroup rendered="#{empty nuevoDestinatarioBackingMB.email}"> 
                                                         <h:outputText value="#{msg.destinatarioSinCorreo}" escape="false" />
                                                     </h:panelGroup>
											     </strong>
											</td>
											</tr>
											<tr>
												<td><h:outputText value="#{msg.caracterEspacio}" escape="false"/></td>
												<td><h:outputText value="#{msg.caracterEspacio}" escape="false"/></td>
												<td><h:outputText value="#{msg.caracterEspacio}" escape="false"/></td>
											</tr>
											<tr>
												<th class="align_left"><span class="align_left"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></span></th>
												<th class="align_left"><span class="align_left"><h:outputText value="#{msg.nuevoDestinatarioTipoCuenta}" escape="false"/></span></th>
												<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioDestino}" escape="false"/></th>
											</tr>
											<tr> 
												<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombreBanco}" escape="false"/></strong></td>
												<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombreTipoCuenta}" escape="false"/></strong></td>
												<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.cuenta}" escape="false"/></strong></td>
											</tr>
										</tbody>
									</table>
								</div>
								<p class="botones">
								<h:commandButton type="button" styleClass="bot_02" value="#{msg.modificarDestinatarioModificar}" title="#{msg.modificarDestinatarioModificar}" onclick="$('.modificarPaso0').hide();$('.margen_cargando_datos').show();" >
										<f:ajax execute=":formDetalle" render=":formDetalle :formModificar :pasos"/>
									</h:commandButton>
								</p>
							</div>
						<script>$('.margen_cargando_datos').hide();</script>
						</h:form>
						<!--END PASO 00-->
						
						<!--PASO 01-->
						<h:form id="formModificar" class="modificarPaso1 paso_01" style="display:none">
							<h2><h:outputText value="#{msg.tituloModificarDestinatarioP1}" escape="false"/></h2>
							<div>
								<div style="display:none">
									<h:inputHidden id="modificarCodigoAlias" value="#{nuevoDestinatarioBackingMB.codigoAlias}"/>
									<h:inputHidden id="modificarRut" value="#{nuevoDestinatarioBackingMB.rut}"/>
									<h:inputHidden id="modificarBanco" value="#{nuevoDestinatarioBackingMB.banco}"/>
									<h:inputHidden id="modificarNombreBanco" value="#{nuevoDestinatarioBackingMB.nombreBanco}"/>
									<h:inputHidden id="modificarNombreTipoCuenta" value="#{nuevoDestinatarioBackingMB.nombreTipoCuenta}"/>
									<h:inputHidden id="modificarCuenta" value="#{nuevoDestinatarioBackingMB.cuenta}"/>
									<h:inputHidden id="modificarFavorito" value="#{nuevoDestinatarioBackingMB.favorito}"/>
									<h:inputHidden id="modificarOperacion" value="#{misDestinatariosViewMB.operacion}"/>
								</div>
								<div class="valores cont_form_destinatario">
									<div class="montos fondo_borde_10 form_destinatario">
										<div class="fila_01">
											<p>
												<label for="dest_nombre"><h:outputText value="#{msg.detalleDestinatarioTitular}" escape="false"/></label><br/>
												<h:inputText id="modificarNombre" name="modificarNombre" styleClass="width_240" maxlength="60" value="#{nuevoDestinatarioBackingMB.nombre}"/>
											</p>
											<p class="rut">
												<label for="dest_guardar"><h:outputText value="#{msg.nuevoDestinatarioAlias}" escape="false"/></label><br/>
												<h:inputText id="modificarAlias" name="modificarAlias" maxlength="60" value="#{nuevoDestinatarioBackingMB.alias}"/>
											</p>
											<p>
												<label for="dest_email"><h:outputText value="#{msg.nuevoDestinatarioEmail}" escape="false"/></label><br/>
												<h:inputText id="modificarEmail" name="modificarEmail" styleClass="width_240" maxlength="60" value="#{nuevoDestinatarioBackingMB.email}"/>
											</p>
										</div>
										<div class="fila_02">
											<p>
												<label for="dest_rut"><h:outputText value="#{msg.nuevoDestinatarioRut}" escape="false"/></label><br/>
												<strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.rut}" escape="false"/></strong>
											</p>
											<p>
												<label for="dest_banco"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></label><br/>
												<strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombreBanco}" escape="false"/></strong>
											</p>
											<p>
												<label for="dest_tipo"><h:outputText value="#{msg.nuevoDestinatarioTipoCuenta}" escape="false"/></label><br/>
												<strong class="destacado_monto"></strong>
												<h:selectOneMenu value="#{nuevoDestinatarioBackingMB.tipoCuenta}" id="modificarTipoCuenta" name="modificarTipoCuenta" styleClass="height24">
                                                    <f:selectItems value="#{nuevoDestinatarioBackingMB.tiposDeCuentaTransferencia}" />
                                                </h:selectOneMenu>
											</p>
											<p>
												<label for="dest_cuenta"><h:outputText value="#{msg.nuevoDestinatarioCuenta}" escape="false"/></label><br/>
												<strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.cuenta}" escape="false"/></strong>
											</p>
										</div>
									</div>
									
									<!-- MENSAJES ERROR-->
									<div class="alertas_msn_destinatarios height30 borde_ie_10 aliasDuplicado" style="display:none">
										<h:outputText value="#{msg.mensajeErrorAliasDuplicado}" escape="false"/>
									</div>
									<div class="alertas_msn_destinatarios height30 borde_ie_10 nombreDuplicado" style="display:none">
										<h:outputText value="#{msg.mensajeErrorNombreDuplicado}" escape="false"/>
									</div>
								<div class="alertas_msn_destinatarios height30 borde_ie_10 cuentaDuplicada" style="display:none">
									<h:outputText value="#{msg.mensajeErrorCuentaDuplicada}" escape="false"/>
								</div>
									<div class="alertas_msn_destinatarios height30 borde_ie_10 errorModificarDestinatario" style="display:none">
										<h:outputText value="#{msg.mensajeErrorModificarDestinatario}" escape="false"/>
									</div>
									<!-- END MENSAJES -->
									
									<p class="botones">
										<h:commandButton type="button" styleClass="bot_01" value="#{msg.nuevoDestinatarioCancelar}" title="#{msg.nuevoDestinatarioCancelar}" onclick="$('.modificarPaso1').hide();$('.modificarPaso0').fadeIn('normal');" >
											<f:ajax execute="@none" render="@none" />
										</h:commandButton>
										<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
										<h:commandButton type="button" styleClass="bot_02" value="#{msg.nuevoDestinatarioConfirmar}" title="#{msg.nuevoDestinatarioConfirmar}" onclick="return validarModificarDestinatarioPaso1();" action="#{misDestinatariosBackingMB.confirmarModificarAlias}">
											<f:ajax execute=":formModificar" render=":formModificar :formModificado :formPorAutorizar :formAutorizados :pasos"/>
										</h:commandButton>
									</p>
								</div>
							</div>
							<script>
								$('input[name$="modificarNombre"]').keyValue(/[a-zA-ZñÑ ]/);
								$('input[name$="modificarAlias"]').keyValue(/[0-9a-zA-ZñÑ ]/);
							$('input[name$="modificarEmail"]').keyValue(/[0-9a-zA-Z-@_.]/);
							</script>
						<script>$('.margen_cargando_datos').hide();</script>
						</h:form>
						<!--END PASO 01-->
						
						<!--PASO 02-->
						<h:form id="formModificado" styleClass="modificarPaso2 paso_02" style="display:none">
							<h2><h:outputText value="#{msg.tituloModificarDestinatarioP2}" escape="false"/></h2>
							<div class="alertas_simulador fondo_borde_10 borde_ie_10">
								<p><h:outputText value="#{msg.mensajeDestinatarioModificado}" escape="false"/></p>
							</div>
							<div class="fondo_borde">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<thead>
										<tr>
											<th class="align_left width25p"><h:outputText value="#{msg.detalleDestinatarioTitular}" escape="false"/></th>
											<th class="align_left" colspan="2"><h:outputText value="#{msg.nuevoDestinatarioAlias}" escape="false"/></th>
											<th class="align_left width25p"><h:outputText value="#{msg.nuevoDestinatarioEmail}" escape="false"/></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombre}" escape="false"/></strong></td>
											<td class="align_left" colspan="2"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.alias}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.email}" escape="false"/></strong></td>
										</tr>
										<tr>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioRut}" escape="false"/></th>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></th>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioTipoCuenta}" escape="false"/></th>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioCuenta}" escape="false"/></th>
										</tr>
										<tr>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.rut}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombreBanco}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombreTipoCuenta}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.cuenta}" escape="false"/></strong></td>
										</tr>
									</tbody>
								</table>
							</div>
							<p class="botones">
								<h:commandButton type="button" styleClass="bot_02 bot_cerrar" value="#{msg.nuevoDestinatarioAceptar}" title="#{msg.nuevoDestinatarioAceptar}" onclick="$('.modificarPaso0').hide();$('.modificarPaso1').hide();$('.modificarPaso2').hide();$('.servicios_cliente').fadeOut('normal');" >
									<f:ajax execute="@none" render="@none" />
								</h:commandButton>
							</p>
						<script>$('.margen_cargando_datos').hide();</script>
						</h:form>
						<!--END PASO 02-->
				
					<!-- DIV CARGANDO -->
					<div class="margen_cargando_datos" style="display:none">
						<h:graphicImage value="/resources/images/html/icono_loading.gif" styleClass="margen_cargando"/>
					</div>
					<!-- FIN DIV CARGANDO -->
					
					</div>
				</div>
				<!-- END SERVICIOS CLIENTE: MODIFICAR DESTINATARIO-->
				
				<!--SERVICIOS CLIENTE: AUTORIZAR DESTINATARIO-->
				<div id="autorizarDestinatario" class="servicios_cliente width_714 autorizarDestinatario" style="display:none">
					<div class="top_cliente"><span class="cerrar" onclick="$('.autorizarPaso1').hide();$('.autorizarPaso2').hide();$('.servicios_cliente.width_714').fadeOut('normal');"><h:outputText value="#{msg.cerrar}" escape="false"/></span></div>
					<div class="fondo_cliente">
						<!--PASO 01-->
						<h:form id="formAutorizar" styleClass="autorizarPaso1 Paso_01" style="display:none">
							<h2><h:outputText value="#{msg.tituloAutorizarDestinatarioP1}" escape="false"/></h2>
							<h:panelGroup layout="block" styleClass="alertas_simulador fondo_borde_10 borde_ie_10" rendered="#{!nuevoDestinatarioBackingMB.autorizaConSafeSigner}">
								<p>
									<h:outputText value="#{msg.mensajeAutorizarDestinatario1}" escape="false"/>
									<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
									<h:outputText value="#{misDestinatariosBackingMB.emailCliente}" rendered="#{not empty misDestinatariosBackingMB.emailCliente}" escape="false"/>
									<h:outputText value="#{msg.sinCorreo}" rendered="#{empty misDestinatariosBackingMB.emailCliente}" escape="false"/>
									<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
									<h:outputText value="#{msg.mensajeAutorizarDestinatario2}" escape="false"/>
								</p>
							</h:panelGroup>
							<div class="fondo_borde form_autorizar">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Autorizar paso 1">
									<thead>
										<tr>
											<th class="align_left width25p"><h:outputText value="#{msg.nuevoDestinatarioNombre}" escape="false"/></th>
											<th class="align_left width15p"><h:outputText value="#{msg.nuevoDestinatarioRut}" escape="false"/></th>
											<th class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioEmail}" escape="false"/></th>
											<th class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioAlias}" escape="false"/></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombre}" escape="false"/></strong></th>
											<th class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.rut}" escape="false"/>-<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.dv}" escape="false"/></strong></th>
											<th class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.email}" escape="false"/></strong></th>
											<th class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreAlias}" escape="false"/></strong></th>
										</tr>
										<tr>
											<th><h:outputText value="#{msg.caracterEspacio}" escape="false"/></th>
											<th><h:outputText value="#{msg.caracterEspacio}" escape="false"/></th>
											<th><h:outputText value="#{msg.caracterEspacio}" escape="false"/></th>
											<th><h:outputText value="#{msg.caracterEspacio}" escape="false"/></th>
										</tr>
									</tbody>
								</table>
								<h:panelGroup layout="block" rendered="#{nuevoDestinatarioBackingMB.autorizaConSafeSigner}">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla_destinatario">
										<tr>
											<th class="align_left width40p"><h:outputText value="#{msg.nuevoDestinatarioDestino}" escape="false"/></th>
											<th class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></th>
											<th class="align_left width30p"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></th>
										</tr>
										<tr>
											<th class="align_left">
												<strong>
													<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreTipoCuenta}" escape="false"/>
													<h:outputText value="#{msg.caracterComa}" escape="false"/>
													<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
													<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.cuentaDestino}" escape="false"/>
												</strong>
											</th>
											<th class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreBanco}" escape="false"/></strong></th>
											<th class="align_left"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></th>
										</tr>
									</table>
								</h:panelGroup>
								<h:panelGroup layout="block" rendered="#{!nuevoDestinatarioBackingMB.autorizaConSafeSigner}">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla_destinatario">
										<tr>
											<th class="align_left width40p"><h:outputText value="#{msg.nuevoDestinatarioDestino}" escape="false"/></th>
											<th class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></th>
											<th class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioCodigo}" escape="false"/></th>
										</tr>
										<tr>
											<th class="align_left">
												<strong>
													<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreTipoCuenta}" escape="false"/>
													<h:outputText value="#{msg.caracterComa}" escape="false"/>
													<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
													<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.cuentaDestino}" escape="false"/>
												</strong>
											</th>
											<th class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreBanco}" escape="false"/></strong></th>
										<th class="align_left"><h:inputText id="codigoAutorizacion" name="codigoAutorizacion" value="#{nuevoDestinatarioBackingMB.codigoVerificacion}" styleClass="caja_120" maxlength="10" onkeypress="return presionaAutorizacion(event)"/></th>
										</tr>
									</table>
								</h:panelGroup>
							</div>
								
							<!-- MENSAJES ERROR -->
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'errorAutorizarDestinatario'}">
								<h:outputText value="#{msg.mensajeErrorAutorizarDestinatario}" escape="false"/>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'errorSafeSignerAutorizarDestinatario'}">
								<h:outputText value="#{msg.mensajeErrorSafeSignerAutorizarDestinatario}" escape="false"/>
							</h:panelGroup>
							<!-- END MENSAJES ERROR -->
							
							<!-- MENSAJE SAFESIGNER-->
						<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios borde_ie_10" rendered="#{not empty facesContext.messageList}">
                       		<ui:repeat value="#{facesContext.messageList}" var="facesMessage">
								<h:outputText value="#{facesMessage.detail}" escape="false"/>
							</ui:repeat>
                    		</h:panelGroup>
							<!-- END MENSAJE SAFESIGNER-->
							
							<!-- SAFESIGNER -->
							<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.aliasTTFFTO != null}">
								<segundaclave:metodoAutenticacion id="segundaclave" servicio="GestorAliasTransferencias" layout="vertical" mensaje=""
									bindingComponent="nuevoDestinatarioBackingMB.segundaClave" esPrimefaces="false" render="true"
									textoButtonRetorno="#{msg.nuevoDestinatarioVolver}" destinoButtonRetornoOnclick="$('.autorizarPaso1').hide();$('.autorizarPaso2').hide();$('.servicios_cliente').fadeOut('normal');"
									textoButtonAction="#{msg.nuevoDestinatarioConfirmar}" destinoButtonOnclick="validarAutotizarPaso1()">
										<segundaclaveparametros:data nombre="rut" valor="#{misDestinatariosViewMB.aliasTTFFTO.rut}#{misDestinatariosViewMB.aliasTTFFTO.dv}"/>
										<segundaclaveparametros:data nombre="nombre" valor="#{misDestinatariosViewMB.aliasTTFFTO.nombre}"/>
										<segundaclaveparametros:data nombre="banco" valor="#{misDestinatariosViewMB.aliasTTFFTO.nombreBanco}"/>
										<segundaclaveparametros:data nombre="cuentaDestino" valor="#{misDestinatariosViewMB.aliasTTFFTO.cuentaDestino}"/>
								</segundaclave:metodoAutenticacion>
							</h:panelGroup>
							<!-- END SAFESIGNER -->
					
							<p class="botones" style="display:none">								
							<p:commandButton styleClass="confirmarAutorizarDestinatario" update=":formAutorizar,:formAutorizado,:formPorAutorizar,:formAutorizados,:pasos" actionListener="#{misDestinatariosBackingMB.confirmarAutorizarAlias}">
								</p:commandButton>
							</p>
						<script>$('.margen_cargando_datos').hide();</script>
						</h:form>
						<!--END PASO 01-->
						
						<!--PASO 02-->
						<h:form id="formAutorizado" styleClass="autorizarPaso2 confirmacion" style="display:none">
							<h2><h:outputText value="#{msg.tituloAutorizarDestinatarioP2}" escape="false"/></h2>
							<div class="alertas_simulador borde_ie_10">
								<p><h:outputText value="#{msg.mensajeDestinatarioAutorizado}" escape="false"/></p>
							</div>
							
							<p class="botones">
								<h:commandButton type="button" styleClass="bot_02 bot_cerrar" value="#{msg.nuevoDestinatarioAceptar}" title="#{msg.nuevoDestinatarioAceptar}" onclick="$('.autorizarPaso1').hide();$('.autorizarPaso2').hide();$('.servicios_cliente').fadeOut('normal');" >
									<f:ajax execute="@none" render="@none" />
								</h:commandButton>
							</p>
						<script>$('.margen_cargando_datos').hide();</script>
						</h:form>
						<!--END PASO 02-->
				
					<!-- DIV CARGANDO -->
					<div class="margen_cargando_datos" style="display:none">
						<h:graphicImage value="/resources/images/html/icono_loading.gif" styleClass="margen_cargando"/>
					</div>
					<!-- FIN DIV CARGANDO -->
					
					</div>
				</div>
				<!-- END SERVICIOS CLIENTE: AUTORIZAR DESTINATARIO-->
				
				<!--SERVICIOS CLIENTE: ELIMINAR DESTINATARIO-->
				<div id="eliminarDestinatario" class="servicios_cliente width_714 eliminarDestinatario" style="display:none">
					<div class="top_cliente"><span class="cerrar" onclick="$('.eliminarPaso1').hide();$('.eliminarPaso2').hide();$('.servicios_cliente.width_714').fadeOut('normal');"><h:outputText value="#{msg.cerrar}" escape="false"/></span></div>
					<div class="fondo_cliente">
						<!--PASO 01-->
						<h:form id="formEliminar" styleClass="eliminarPaso1 paso_01" style="display:none">
							<h2><h:outputText value="#{msg.tituloEliminarDestinatarioP1}" escape="false"/></h2>
							<div class="alertas_simulador fondo_borde_10 borde_ie_10">
								<p><h:outputText value="#{msg.mensajeEliminarDestinatario1}" escape="false"/></p>
								<p><h:outputText value="#{msg.mensajeEliminarDestinatario2}" escape="false"/></p>
							</div>
							<div style="display:none">
								<h:inputHidden id="eliminarRut" value="#{nuevoDestinatarioBackingMB.rut}"/>
								<h:inputHidden id="eliminarNombre" value="#{nuevoDestinatarioBackingMB.nombre}"/>
								<h:inputHidden id="eliminarEmail" value="#{nuevoDestinatarioBackingMB.email}"/>
								<h:inputHidden id="eliminarCodigoAlias" value="#{nuevoDestinatarioBackingMB.codigoAlias}"/>
								<h:inputHidden id="eliminarAlias" value="#{nuevoDestinatarioBackingMB.alias}"/>
								<h:inputHidden id="eliminarBanco" value="#{nuevoDestinatarioBackingMB.banco}"/>
								<h:inputHidden id="eliminarNombreBanco" value="#{nuevoDestinatarioBackingMB.nombreBanco}"/>
								<h:inputHidden id="eliminarCuenta" value="#{nuevoDestinatarioBackingMB.cuenta}"/>
								<h:inputHidden id="eliminarTipoCuenta" value="#{nuevoDestinatarioBackingMB.tipoCuenta}"/>
								<h:inputHidden id="eliminarNombreTipoCuenta" value="#{nuevoDestinatarioBackingMB.nombreTipoCuenta}"/>
							</div>
							<div class="fondo_borde">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Eliminar paso 1">
									<thead>
										<tr>
											<th class="align_left width25p"><h:outputText value="#{msg.detalleDestinatarioTitular}" escape="false"/></th>
											<th class="align_left" colspan="2"><h:outputText value="#{msg.nuevoDestinatarioAlias}" escape="false"/></th>
											<th class="align_left width25p"><h:outputText value="#{msg.nuevoDestinatarioEmail}" escape="false"/></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombre}" escape="false"/></strong></td>
											<td class="align_left" colspan="2"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.alias}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.email}" escape="false"/></strong></td>
										</tr>
										<tr>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioRut}" escape="false"/></th>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></th>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioTipoCuenta}" escape="false"/></th>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioCuenta}" escape="false"/></th>
										</tr>
										<tr>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.rut}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombreBanco}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombreTipoCuenta}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.cuenta}" escape="false"/></strong></td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<!-- MENSAJES ERROR -->
							<div class="alertas_msn_destinatarios height30 borde_ie_10 errorEliminarDestinatario" style="display:none">
								<h:outputText value="#{msg.mensajeErrorEliminarDestinatario}" escape="false"/>
							</div>
							<!-- END MENSAJES -->
							
							<p class="botones">
								<h:commandButton type="button" styleClass="bot_01" value="#{msg.nuevoDestinatarioCancelar}" title="#{msg.nuevoDestinatarioCancelar}" onclick="$('.eliminarPaso1').hide();$('.eliminarPaso2').hide();$('.servicios_cliente').fadeOut('normal');" >
									<f:ajax execute="@none" render="@none" />
								</h:commandButton>
								<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
							<h:commandButton type="button" styleClass="bot_02 bot_confirmar" value="#{msg.nuevoDestinatarioConfirmar}" title="#{msg.nuevoDestinatarioConfirmar}" onclick="$('.eliminarPaso1').hide();$('.margen_cargando_datos').show();" action="#{misDestinatariosBackingMB.confirmarEliminarAlias}">
									<f:ajax execute=":formEliminar" render=":formEliminar :formEliminado :formPorAutorizar :formAutorizados :pasos"/>
								</h:commandButton>
							</p>
						<script>$('.margen_cargando_datos').hide();</script>
						</h:form>
						<!--END PASO 01-->
						
						<!--PASO 02-->
						<h:form id="formEliminado" styleClass="eliminarPaso2 paso_02" style="display:none">
							<h2><h:outputText value="#{msg.tituloEliminarDestinatarioP2}" escape="false"/></h2>
							<div class="alertas_simulador fondo_borde_10 borde_ie_10">
								<p><h:outputText value="#{msg.mensajeDestinatarioEliminado}" escape="false"/></p>
							</div>
							<div class="fondo_borde">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<thead>
										<tr>
											<th class="align_left width33p"><h:outputText value="#{msg.detalleDestinatarioTitular}" escape="false"/></th>
											<th class="align_left width33p"><h:outputText value="#{msg.nuevoDestinatarioRut}" escape="false"/></th>
											<th class="align_left"><h:outputText value="#{msg.nuevoDestinatarioCuenta}" escape="false"/></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.nombre}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.rut}" escape="false"/></strong></td>
											<td class="align_left"><strong class="destacado_monto"><h:outputText value="#{nuevoDestinatarioBackingMB.cuenta}" escape="false"/></strong></td>
										</tr>
										<tr>
											<td class="align_left">&nbsp;</td>
											<td class="align_left">&nbsp;</td>
											<td>&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</div>
							<p class="botones">
								<h:commandButton type="button" styleClass="bot_02 bot_cerrar" value="#{msg.nuevoDestinatarioAceptar}" title="#{msg.nuevoDestinatarioAceptar}" onclick="$('.eliminarPaso1').hide();$('.eliminarPaso2').hide();$('.servicios_cliente').fadeOut('normal');" >
									<f:ajax execute="@none" render="@none" />
								</h:commandButton>
							</p>
						<script>$('.margen_cargando_datos').hide();</script>
						</h:form>
						<!--END PASO 02-->
				
					<!-- DIV CARGANDO -->
					<div class="margen_cargando_datos" style="display:none">
						<h:graphicImage value="/resources/images/html/icono_loading.gif" styleClass="margen_cargando"/>
					</div>
					<!-- FIN DIV CARGANDO -->
					
					</div>
				</div>
				<!-- END SERVICIOS CLIENTE: ELIMINAR DESTINATARIO-->
				
				<h:form id="cargarAlias" style="display:none">
					<h:commandButton type="button" styleClass="cargarAlias" action="#{misDestinatariosBackingMB.cargarAliasTTFF}">
						<f:ajax execute=":cargarAlias" render=":formPorAutorizar :formAutorizados :pasos"/>
					</h:commandButton>
				</h:form>
				
				<h:panelGroup id="pasos" layout="block">
					<script>inicio();</script>
					<span style="display:none">
						operacion[#{misDestinatariosViewMB.operacion}]
					</span>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'detalleDestinatario'}">
						<script>
					$('.espera_datos').hide();
					$('.modificarPaso0').show();
					$('.modificarDestinatario').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'modificarDestinatario'}">
						<script>
							$('.modificarPaso1').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'aliasDuplicado'}">
						<script>
					$('.aliasDuplicado').show();
							$('.modificarPaso1').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'nombreDuplicado'}">
						<script>
					$('.nombreDuplicado').show();
							$('.modificarPaso1').fadeIn('normal');
						</script>
					</h:panelGroup>
				<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'cuentaDuplicada'}">
					<script>
					$('.cuentaDuplicada').show();
					$('.modificarPaso1').fadeIn('normal');
					</script>
				</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'errorModificarDestinatario'}">
						<script>
					$('.errorModificarDestinatario').show();
							$('.modificarPaso1').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'modificadoDestinatario'}">
						<script>
							$('.modificarPaso2').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'autorizarDestinatario'}">
						<script>
					$('.espera_datos').hide();
					$('.autorizarPaso1').show();
					$('.autorizarDestinatario').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'errorAutorizarDestinatario'}">
						<script>
					$('.errorAutorizarDestinatario').show();
							$('.autorizarPaso1').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'errorSafeSignerAutorizarDestinatario'}">
						<script>
					$('.errorSafeSignerAutorizarDestinatario').show();
							$('.autorizarPaso1').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'autorizadoDestinatario'}">
						<script>
							$('.autorizarPaso2').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'eliminarDestinatario'}">
						<script>
					$('.espera_datos').hide();
					$('.eliminarPaso1').show();
					$('.eliminarDestinatario').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'errorEliminarDestinatario'}">
						<script>
					$('.errorEliminarDestinatario').show();
							$('.eliminarPaso1').fadeIn('normal');
						</script>
					</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'eliminadoDestinatario'}">
						<script>
							$('.eliminarPaso2').fadeIn('normal');
						</script>
					</h:panelGroup>
				</h:panelGroup>
			</div>
		</h:body>
</html>

<!--
/***************************************************************************************************************
* Archivo:          misDestinatarios.xhtml
* Descripción       Este xhtml tiene la funcionalidad de desplegar los destinatarios autorizados y por autorizar.
* Path              /cl/bci/aplicaciones/productos/servicios/transferencia/vista/
* "Todos los derechos reservados por Banco de Crédito e Inversiones."
*          
* Historia Cambios
*
* versión   fecha         autor                        cambios
* =======   ==========    =====================        =================================
* 1.0       29/07/2013    Guillermo Marambio F.        versión inicial.
* 1.1       18/10/2013    Guillermo Marambio F.        Actualización despliegue correo del cliente.
* 1.2       21/10/2013    Guillermo Marambio F.        Actualización de eliminación de destinatario en 24 horas.
* 1.3       05/11/2013    Guillermo Marambio F.        Actualización de email cliente.
* 1.4       25/11/2013    Guillermo Marambio F.        Actualización de datos en safesigner.
* 1.5       11/12/2013    Guillermo Marambio F.        Se elimina restriccion de pegar.
* 1.6       05/03/2014    Guillermo Marambio F.        Se actualiza para alias con banco bloqueado.
* 1.7       12/03/2014    Guillermo Marambio F.        Se agrega - a los caracteres permitidos del email.
* 1.8       01/06/2014    Guillermo Marambio F.        Se corrige error de SafeSigner.
* 1.9       02/02/2014    Eduardo Villagrán M. (Imagemaker) Se modifica para que al editar un destinatario se
*                                                            pueda modificar el tipo de cuenta.
* 2.0       11/12/2015    Luis Lopez(SEnTRA)-Claudia Lopez(Ing. Soft. BCI): Se agrega valor sinCorreo cuando el email esta vacio.
* 2.1       21/04/2017    Jaime Collao R.(ImageMaker)- Pamela Inostroza(Ing.Soft.BCI):  Se parametriza los mensajes de seguridad y 
*                                                                                       monto máximo de transferencias.
*						  
****************************************************************************************************************/
 -->
