﻿<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.prime.com.tr/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave"
	  xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave">
    <h:head>

        <h:outputStylesheet name="print.css" library="Webbci/common/css"></h:outputStylesheet>
        <h:outputStylesheet name="screen.css" library="Webbci/common/css"></h:outputStylesheet>
		<h:outputStylesheet name="canal.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css"></h:outputStylesheet>
		
        <h:outputScript library="javascript" name="main.js"></h:outputScript>
        <h:outputScript library="javascript/global" name="global.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery_roundies.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery.numeric.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery.tablesorter.min.js"></h:outputScript>

		<f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.productos.servicios.transferencia.misDestinatarios')}" var="msg"/>
		<f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.supercartola.superCartola')}" var="msgSaldos"/>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		
		<title><h:outputText value="#{msg.tituloNuevoDestinatario}" escape="false"/></title>
		
		<script type="text/javascript">
			if (jQuery==null){jQuery=$;}else{$=jQuery;}
			
			function validarNuevoDestinatarioPaso1(){
				$('.cont_form_destinatario .alertas_msn_destinatarios').css("display","none");
				$('.cont_form_destinatario input, .cont_form_destinatario select').removeClass('obligatorio');
				if (($('.cont_form_destinatario input[name$="nuevoNombre"]').val()=="") || ($('.cont_form_destinatario input[name$="nuevoNombre"]').val()=="Ingrese nombre")){
					$('.cont_form_destinatario input[name$="nuevoNombre"]').addClass('obligatorio').attr('value','Ingrese nombre').select();
					return;
				}
				if ((!/^(([a-z])|([A-Z])|( )|(ñ)|(Ñ))*$/.test($('.cont_form_destinatario input[name$="nuevoNombre"]').val())) ||  ($('.cont_form_destinatario input[name$="nuevoNombre"]').val()=="Nombre inválido")){
					$('.cont_form_destinatario input[name$="nuevoNombre"]').addClass('obligatorio').attr('value','Nombre inválido').select();
					return;
				}
				if (($('.cont_form_destinatario input[name$="nuevoRut"]').val()=="Ingrese rut")  || !isRut($('.cont_form_destinatario input[name$="nuevoRut"]').val())){
					$('.cont_form_destinatario input[name$="nuevoRut"]').addClass('obligatorio').attr('value','Ingrese rut').select();
					return;
				}
				if($('.cont_form_destinatario input[name$="nuevoEmail"]').val()!=""){
					if (($('.cont_form_destinatario input[name$="nuevoEmail"]').val()=="Ingrese un email valido") || !isMail($('.cont_form_destinatario input[name$="nuevoEmail"]').val())){ 
						$('.cont_form_destinatario input[name$="nuevoEmail"]').addClass('obligatorio').attr('value','Ingrese un email valido').select();
						return;
					}
					if ((!/^(([0-9])|([a-z])|([A-Z])|(\.)|(@)|(_)|(\-))*$/.test($('.cont_form_destinatario input[name$="nuevoEmail"]').val())) ||  ($('.cont_form_destinatario input[name$="nuevoEmail"]').val()=="Email inválido")){
						$('.cont_form_destinatario input[name$="nuevoEmail"]').addClass('obligatorio').attr('value','Email inválido').select();
						return;
					}
				}
				if ($('.cont_form_destinatario select[name$="nuevoBanco"]').val()=="0"){ 
					$('.cont_form_destinatario select[name$="nuevoBanco"]').addClass('obligatorio').select();
					return;
				}
				if ($('.cont_form_destinatario select[name$="nuevoTipo"]').val()=="0"){ 
					$('.cont_form_destinatario select[name$="nuevoTipo"]').addClass('obligatorio').select();
					return;
				}
				if (($('.cont_form_destinatario input[name$="nuevoCuenta"]').val()=="") ||  ($('.cont_form_destinatario input[name$="nuevoCuenta"]').val()=="Ingrese n° de cuenta")){
					$('.cont_form_destinatario input[name$="nuevoCuenta"]').addClass('obligatorio').attr('value','Ingrese n° de cuenta').select();
					return;
				}
				if ((!/^(([0-9])|([a-z])|([A-Z]))*$/.test($('.cont_form_destinatario input[name$="nuevoCuenta"]').val())) ||  ($('.cont_form_destinatario input[name$="nuevoCuenta"]').val()=="Número de cuenta inválido")){
					$('.cont_form_destinatario input[name$="nuevoCuenta"]').addClass('obligatorio').attr('value','Número de cuenta inválido').select();
					return;
				}
				if (($('.cont_form_destinatario input[name$="nuevoAlias"]').val()=="") || ($('.cont_form_destinatario [name$="nuevoAlias"]').val()=="Ingrese nombre alias")){
					$('.cont_form_destinatario input[name$="nuevoAlias"]').addClass('obligatorio').attr('value','Ingrese nombre alias').select();
					return;
				}
				if ((!/^(([0-9])|([a-z])|([A-Z])|( )|(ñ)|(Ñ))*$/.test($('.cont_form_destinatario input[name$="nuevoAlias"]').val())) ||  ($('.cont_form_destinatario input[name$="nuevoAlias"]').val()=="Nombre alias inválido")){
					$('.cont_form_destinatario input[name$="nuevoAlias"]').addClass('obligatorio').attr('value','Nombre alias inválido').select();
					return;
				}
				
				$('.cont_form_destinatario input, .cont_form_destinatario select').blur(function() {
					$('.cont_form_destinatario input, .cont_form_destinatario select').removeClass('obligatorio')
				});
				$('.cont_form_destinatario').hide();
				$('.margen_cargando_datos').show();
				document.getElementById("botonNuevoDestin").click();
			}
			
			function validarNuevoDestinatarioPaso2(){
				$('.cont_mensaje_destinatario input').removeClass('obligatorio');
				if($('.cont_mensaje_destinatario input[name$="nuevoCodigo"]').length!=0){
				if (($('.cont_mensaje_destinatario input[name$="nuevoCodigo"]').val()=="") || ($('.cont_mensaje_destinatario [name$="nuevoCodigo"]').val()=="Ingrese código")){
					$('.cont_mensaje_destinatario input[name$="nuevoCodigo"]').addClass('obligatorio').attr('value','Ingrese código').select();
					return;
				}
				if ((!/^(([0-9]))*$/.test($('.cont_mensaje_destinatario input[name$="nuevoCodigo"]').val())) ||  ($('.cont_mensaje_destinatario input[name$="nuevoCodigo"]').val()=="Número de código inválido")){
					$('.cont_mensaje_destinatario input[name$="nuevoCodigo"]').addClass('obligatorio').attr('value','Número de código inválido').select();
					return;
				}
				}
				$('.cont_mensaje_destinatario').hide();
				$('.margen_cargando_datos').show();
				document.getElementById("botonAutorizarDestin").click();
			}
			
			function formateaRut(obj){
				$(obj).removeClass('obligatorio');
				var rut = obj.value;
				rut = rut.replace(/\-/g, "");
				rut = rut.substring(0,rut.length-1)+"-"+rut.substring(rut.length-1,rut.length);
				if(isRut(rut)){
					obj.value = rut;
				}
				else{
					$(obj).addClass('obligatorio').attr('value','Ingrese rut').select();
				}
			}
			
			function presionaRut(e){
				if ((48 > e.keyCode || e.keyCode > 57) &amp; e.keyCode != 107 &amp; e.keyCode != 75 &amp; e.keyCode != 45){
						return e.keyCode=0;
				}
			}
			
			function presionaCodigo(e){
				if (48 > e.keyCode || e.keyCode > 57){
						return e.keyCode=0;
				}
			}
			
			function inicio(){
				$(".borde_ie_10").corner("10px");
				$(".fondo_borde").corner("10px");
				$(".fondo_borde_10").corner("10px");
				$('input[name$="nuevoNombre"]').keyValue(/[a-zA-ZñÑ ]/);
				$('input[name$="nuevoAlias"]').keyValue(/[0-9a-zA-ZñÑ ]/);
				$('input[name$="nuevoEmail"]').keyValue(/[0-9a-zA-Z-@_.]/);
				$('input[name$="nuevoCuenta"]').keyValue(/[0-9a-zA-Z]/);
			}
			
			function refrescarPagina(){
	        	location.href = "transferencia-web.jsf";
	        }
			
			
		</script>
	</h:head>
		
		<h:body>
			<!--SERVICIOS CLIENTE: NUEVO DESTINATARIO-->
			<div class="servicios_cliente width_714">
				<div class="top_cliente">
				<span class="cerrar" onclick="$('.cont_form_destinatario').hide();$('.cont_mensaje_destinatario').hide(); $('.servicios_cliente.width_714').fadeOut('normal');"><h:outputText value="#{msg.cerrar}" escape="false"/></span></div>
				<div class="fondo_cliente">
					<h2>
						<h:outputText value="#{msg.tituloNuevoDestinatario}" escape="false"/>
					</h2>
					
					<!--PANEL NUEVO DESTINATARIO-->
					<h:panelGroup id="panelNuevo" layout="block">
						<h:form id="formPanelNuevo" styleClass="valores cont_form_destinatario" rendered="#{misDestinatariosViewMB.operacion == null or
																						misDestinatariosViewMB.operacion == 'aliasDuplicado' or
																						misDestinatariosViewMB.operacion == 'nombreDuplicado' or
																						misDestinatariosViewMB.operacion == 'cuentaDuplicada' or
																						misDestinatariosViewMB.operacion == 'cuentaInvalida' or
																						misDestinatariosViewMB.operacion == 'eliminado24Horas' or
																						misDestinatariosViewMB.operacion == 'errorDesconocidoNuevoDestinatario' or
																						misDestinatariosViewMB.operacion == 'errorNuevoDestinatario'}" prependId="false" >
							<!--NUEVO DESTINATARIO-->
							<div class="montos fondo_borde_10 form_destinatario">
								<div class="fila_01">
									<p>
										<label for="nuevoNombre"><h:outputText value="#{msg.nuevoDestinatarioNombre}" escape="false"/></label><br/>
										<h:inputText id="nuevoNombre" name="nuevoNombre" styleClass="width_240" maxlength="60" value="#{nuevoDestinatarioBackingMB.nombre}"/>
									</p>
									<p class="rut">
										<label for="nuevoRut"><h:outputText value="#{msg.nuevoDestinatarioRut}" escape="false"/></label><br/>
									<h:inputText id="nuevoRut" name="nuevoRut" value="#{nuevoDestinatarioBackingMB.rut}" maxlength="12" onchange="formateaRut(this)" onkeypress="return presionaRut(event)"/>
									</p>
									<p>
										<label for="nuevoEmail"><h:outputText value="#{msg.nuevoDestinatarioEmail}" escape="false"/></label><br/>
										<h:inputText id="nuevoEmail" name="nuevoEmail" styleClass="width_240" maxlength="60" value="#{nuevoDestinatarioBackingMB.email}"/>
									</p>
								</div>
								
								<div class="fila_02">
									<p>
										<label for="nuevoBanco"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></label><br/>
										<h:selectOneMenu value="#{nuevoDestinatarioBackingMB.banco}" id="nuevoBanco" name="nuevoBanco" styleClass="height24">
											<f:selectItem itemValue="0" itemLabel="Seleccione"/>
											<f:selectItems value="#{nuevoDestinatarioBackingMB.bancosAutorizados}" />
											<f:ajax execute="nuevoBanco" render="nuevoTipo" listener="#{nuevoDestinatarioBackingMB.getTiposDeCuentaTransferencia}"/>
											<f:ajax listener="#{nuevoDestinatarioBackingMB.getTiposDeCuentaTransferencia}" render="@none"/>
										</h:selectOneMenu>
									</p>
									<p>
										<label for="nuevoTipo"><h:outputText value="#{msg.nuevoDestinatarioTipoCuenta}" escape="false"/></label><br/>
										<h:selectOneMenu value="#{nuevoDestinatarioBackingMB.tipoCuenta}" id="nuevoTipo" name="nuevoTipo" styleClass="height24">
											<f:selectItem itemValue="0" itemLabel="Seleccione"/>
											<f:selectItems value="#{nuevoDestinatarioBackingMB.tiposDeCuentaTransferencia}" />
										</h:selectOneMenu>
									</p>
									<p>
										<label for="nuevoCuenta"><h:outputText value="#{msg.nuevoDestinatarioCuenta}" escape="false"/></label><br/>
									<h:inputText id="nuevoCuenta" name="nuevoCuenta" maxlength="18" value="#{nuevoDestinatarioBackingMB.cuenta}"/>
									</p>
									<p>
										<label for="nuevoAlias"><h:outputText value="#{msg.nuevoDestinatarioAlias}" escape="false"/></label><br/>
										<h:inputText id="nuevoAlias" name="nuevoAlias" maxlength="60" value="#{nuevoDestinatarioBackingMB.alias}"/>
									</p>
								</div>
							</div>
							<!--END NUEVO DESTINATARIO-->
							
							<!--MENSAJE NUEVO DESTINATARIO-->
							<div class="montos fondo_borde_10 width_580 confirmar_tf">
								<p><h:outputText value="#{msg.mensajeNuevoDestinatario}" escape="false"/></p>
								<p><h:outputText value="#{msg.mensajeSeguridad1}" escape="false" rendered="#{!nuevoDestinatarioBackingMB.autorizaConSafeSigner}"/>
								   <h:outputText value="#{nuevoDestinatarioBackingMB.montoMaximoAlias} " escape="false" rendered="#{!nuevoDestinatarioBackingMB.autorizaConSafeSigner}"/>
								   <h:outputText value="#{msg.mensajeSeguridad2}" escape="false" rendered="#{!nuevoDestinatarioBackingMB.autorizaConSafeSigner}"/></p>
							</div>
							<!--END MENSAJE NUEVO DESTINATARIO-->
							
							<!-- MENSAJES ERROR-->
							
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'aliasDuplicado'}">
								<h:outputText value="#{msg.mensajeErrorAliasDuplicado}" escape="false"/>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'nombreDuplicado'}">
								<h:outputText value="#{msg.mensajeErrorNombreDuplicado}" escape="false"/>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'cuentaDuplicada'}">
								<h:outputText value="#{msg.mensajeErrorCuentaDuplicada}" escape="false"/>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'cuentaInvalida'}">
								<h:outputText value="#{msg.mensajeErrorCuentaInvalida}" escape="false"/>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'eliminado24Horas'}">
								<h:outputText value="#{msg.mensajeErrorEliminado24Horas}" escape="false"/>
							</h:panelGroup>
						<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'errorDesconocidoNuevoDestinatario'}">
							<ui:repeat value="#{facesContext.messageList}" var="facesMessage">
								<h:outputText value="#{facesMessage.detail}" escape="false"/>
							</ui:repeat>
                    		</h:panelGroup>
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'errorNuevoDestinatario'}">
								<h:outputText value="#{msg.mensajeErrorNuevoDestinatario}" escape="false"/>
							</h:panelGroup>
							<!-- END MENSAJES -->
							
							<p class="requerido" style="display:none"><h:outputText value="#{msg.nuevoDestinatarioMensaje}" escape="false"/></p>
								
							<p class="botones">
								<p:commandButton type="button" styleClass="bot_01" value="#{msg.nuevoDestinatarioCancelar}" title="#{msg.nuevoDestinatarioCancelar}" onclick="$('.cont_form_destinatario').hide();$('.servicios_cliente.width_714').fadeOut('normal');" >
								</p:commandButton>
								<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
								<p:commandButton  type="button" 
												  value="#{msg.nuevoDestinatarioAceptar}" 
												  title="#{msg.nuevoDestinatarioAceptar}" 
												  styleClass="bot_02" 
												  onclick="validarNuevoDestinatarioPaso1()">
								</p:commandButton>
							</p>
							<p style="display:none">
								<p:commandButton id="botonNuevoDestin" styleClass="botonNuevoDestinatario" update=":panelNuevo,:panelAutorizar" actionListener="#{nuevoDestinatarioBackingMB.crearNuevoDestinatario}">
								</p:commandButton>
							</p>
						<script>inicio();$('.margen_cargando_datos').hide();</script>
						</h:form>
					</h:panelGroup>
					<!--END PANEL NUEVO DESTINATARIO-->
					
					<!--PANEL AUTORIZAR DESTINATARIO-->
					<h:panelGroup id="panelAutorizar" layout="block">
						<h:form id="formPanelAutorizar" styleClass="cont_mensaje_destinatario" rendered="#{misDestinatariosViewMB.operacion == 'autorizarDestinatario' or
																					misDestinatariosViewMB.operacion == 'errorAutorizarDestinatario' or
																					misDestinatariosViewMB.operacion == 'errorSafeSignerAutorizarDestinatario'}" prependId="false">
							
							<h:panelGroup layout="block" rendered="#{misDestinatariosViewMB.operacion == 'autorizarDestinatario'}">
								<script>$('.cargarAlias').trigger('click');</script>
							</h:panelGroup>
							
							<!--MENSAJE CONFIRMACION DESTINATARIO-->
							<h:panelGroup layout="block" styleClass="fondo_borde_10 confirmar_tf width_570" rendered="#{!nuevoDestinatarioBackingMB.autorizaConSafeSigner}">
								<p><h:outputText value="#{msg.mensajePaso11}" escape="false"/>
									<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
									<h:outputText value="#{misDestinatariosBackingMB.emailCliente}" rendered="#{not empty misDestinatariosBackingMB.emailCliente}" escape="false"/>
									<h:outputText value="#{msg.sinCorreo}" rendered="#{empty misDestinatariosBackingMB.emailCliente}" escape="false"/>
									<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
									<h:outputText value="#{msg.mensajePaso12}" escape="false"/></p>
								<p><h:outputText value="#{msg.mensajePaso2}" escape="false"/></p>
								<p><h:outputText value="#{msg.mensajePaso3}" escape="false"/></p>
							</h:panelGroup>
							<!--END MENSAJE CONFIRMACION DESTINATARIO-->
							
							<!--AUTORIZAR DESTINATARIO-->
							<div class="form_destinatario fondo_borde_10 fondo_borde">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla_destinatario">
									<tr>
										<td class="align_left width25p"><h:outputText value="#{msg.nuevoDestinatarioNombre}" escape="false"/></td>
										<td class="align_left width15p"><h:outputText value="#{msg.nuevoDestinatarioRut}" escape="false"/></td>
										<td class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioEmail}" escape="false"/></td>
										<td class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioAlias}" escape="false"/></td>
									</tr>
									<tr>
										<td class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombre}" escape="false"/></strong></td>
										<td class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.rut}" escape="false"/>-<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.dv}" escape="false"/></strong></td>
									<td class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.email}" escape="false" rendered="#{not empty misDestinatariosViewMB.aliasTTFFTO.email}"/></strong></td>
										<td class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreAlias}" escape="false"/></strong></td>
									</tr>
								</table>
								<h:panelGroup layout="block" rendered="#{nuevoDestinatarioBackingMB.autorizaConSafeSigner}">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla_destinatario">
										<tr>
											<td class="align_left width40p"><h:outputText value="#{msg.nuevoDestinatarioDestino}" escape="false"/></td>
											<td class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></td>
											<td class="align_left width30p"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></td>
										</tr>
										<tr>
											<td class="align_left">
												<strong>
													<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreTipoCuenta}" escape="false"/>
													<h:outputText value="#{msg.caracterComa}" escape="false"/>
													<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
													<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.cuentaDestino}" escape="false"/>
												</strong>
											</td>
											<td class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreBanco}" escape="false"/></strong></td>
											<td class="align_left"><h:outputText value="#{msg.caracterEspacio}" escape="false"/></td>
										</tr>
									</table>
								</h:panelGroup>
								<h:panelGroup layout="block" rendered="#{!nuevoDestinatarioBackingMB.autorizaConSafeSigner}">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla_destinatario">
										<tr>
											<td class="align_left width40p"><h:outputText value="#{msg.nuevoDestinatarioDestino}" escape="false"/></td>
											<td class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioBanco}" escape="false"/></td>
											<td class="align_left width30p"><h:outputText value="#{msg.nuevoDestinatarioCodigo}" escape="false"/></td>
										</tr>
										<tr>
											<td class="align_left">
												<strong>
													<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreTipoCuenta}" escape="false"/>
													<h:outputText value="#{msg.caracterComa}" escape="false"/>
													<h:outputText value="#{msg.caracterEspacio}" escape="false"/>
													<h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.cuentaDestino}" escape="false"/>
												</strong>
											</td>
											<td class="align_left"><strong><h:outputText value="#{misDestinatariosViewMB.aliasTTFFTO.nombreBanco}" escape="false"/></strong></td>
										<td class="align_left"><h:inputText id="nuevoCodigo" name="nuevoCodigo" value="#{nuevoDestinatarioBackingMB.codigoVerificacion}" styleClass="caja_120" maxlength="10" onkeypress="return presionaCodigo(event)"/></td>
										</tr>
									</table>
								</h:panelGroup>
							</div>
							<!--END AUTORIZAR DESTINATARIO-->
							
							<!-- MENSAJES ERROR -->
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'errorAutorizarDestinatario'}">
								<h:outputText value="#{msg.mensajeErrorAutorizarDestinatario}" escape="false"/>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios height30 borde_ie_10" rendered="#{misDestinatariosViewMB.operacion == 'errorSafeSignerAutorizarDestinatario'}">
								<h:outputText value="#{msg.mensajeErrorSafeSignerAutorizarDestinatario}" escape="false"/>
							</h:panelGroup>
							<!-- END MENSAJES ERROR -->
							
							<!-- MENSAJE SAFESIGNER-->
						<h:panelGroup layout="block" styleClass="alertas_msn_destinatarios borde_ie_10" rendered="#{not empty facesContext.messageList}">
                       		<ui:repeat value="#{facesContext.messageList}" var="facesMessage">
								<h:outputText value="#{facesMessage.detail}" escape="false"/>
							</ui:repeat>
                    		</h:panelGroup>
							<!-- END MENSAJE SAFESIGNER-->
							
							<!-- SAFESIGNER -->
							<segundaclave:metodoAutenticacion id="segundaclaveuevodestinatario" servicio="GestorAliasTransferencias" layout="vertical" mensaje=""
							bindingComponent="nuevoDestinatarioBackingMB.segundaClave" esPrimefaces="false" render="true"
							textoButtonRetorno="#{msg.nuevoDestinatarioCancelar}" destinoButtonRetornoOnclick="$('.cont_form_destinatario').hide();$('.cont_mensaje_destinatario').hide();$('.servicios_cliente.width_714').fadeOut('normal');"
							textoButtonAction="#{msg.nuevoDestinatarioAceptar}" destinoButtonOnclick="validarNuevoDestinatarioPaso2()">
								<segundaclaveparametros:data nombre="rut" valor="#{misDestinatariosViewMB.aliasTTFFTO.rut}#{misDestinatariosViewMB.aliasTTFFTO.dv}"/>
								<segundaclaveparametros:data nombre="nombre" valor="#{misDestinatariosViewMB.aliasTTFFTO.nombre}"/>
								<segundaclaveparametros:data nombre="banco" valor="#{misDestinatariosViewMB.aliasTTFFTO.nombreBanco}"/>
								<segundaclaveparametros:data nombre="cuentaDestino" valor="#{misDestinatariosViewMB.aliasTTFFTO.cuentaDestino}"/>
							</segundaclave:metodoAutenticacion>
							<!-- END SAFESIGNER -->
							
							<p class="botones" style="display:none">
								<p:commandButton id="botonAutorizarDestin" value="#{msg.nuevoDestinatarioAceptar}" title="#{msg.nuevoDestinatarioAceptar}" styleClass="bot_02 botonAutorizarDestinatario" update=":panelAutorizar,:panelAutorizado" actionListener="#{nuevoDestinatarioBackingMB.autorizarDestinatario}">
								</p:commandButton>
							</p>
						<script>inicio();$('.margen_cargando_datos').hide();</script>
						</h:form>
					</h:panelGroup>
					<!--END PANEL AUTORIZAR DESTINATARIO-->
					
					<!--PANEL DESTINATARIO AUTORIZADO-->
					<h:panelGroup id="panelAutorizado" layout="block">
						<h:form id="formPanelAut" prependId="false" rendered="#{misDestinatariosViewMB.operacion == 'autorizadoDestinatario'}">
							<script>$('.cargarAlias').trigger('click');</script>
							<div class="alertas_simulador borde_ie_10">
								<p><h:outputText value="#{msg.mensajeDestinatarioAutorizado}" escape="false"/></p>
							</div>
							<p class="botones">
								<p:commandButton type="button" styleClass="bot_02 bot_cerrar" value="#{msg.nuevoDestinatarioAceptar}" title="#{msg.nuevoDestinatarioAceptar}" onclick="$('.confirmacion').hide();$('.cont_mensaje_destinatario').hide();$('.cont_form_destinatario').hide();$('.servicios_cliente.width_714').fadeOut('normal');refrescarPagina(); ">
								</p:commandButton>
							</p>
						<script>inicio();$('.margen_cargando_datos').hide();</script>
						</h:form>
					</h:panelGroup>
					<!--END PANEL DESTINATARIO AUTORIZADO-->
				
				<!-- DIV CARGANDO -->
				<div class="margen_cargando_datos margen_top_menos40" style="display:none">
					<h:graphicImage value="/resources/images/html/icono_loading.gif" styleClass="margen_cargando"/>
				</div>
				<!-- FIN DIV CARGANDO -->
				
				</div>
			</div>
		</h:body>
</html>

<!--
/***************************************************************************************************************
* Archivo:          nuevoDestinatario.xhtml
* Descripción       Este xhtml tiene la funcionalidad de crear un nuevo destinatario para transferencias de fondos.
* Path              /cl/bci/aplicaciones/productos/servicios/transferencia/vista/
* " Todos los derechos reservados por Banco de Crédito e Inversiones."
*
* Historia Cambios
*
* versión   fecha         autor                        cambios
* =======   ==========    =====================        =================================
* 1.0       29/07/2013    Guillermo Marambio F.        versión inicial.
* 1.1       18/10/2013    Guillermo Marambio F.        Actualización despliegue correo del cliente.
* 1.2       21/10/2013    Guillermo Marambio F.        Actualización de eliminación de destinatario en 24 horas.
* 1.3       05/11/2013    Guillermo Marambio F.        Actualización de email cliente.
* 1.4       25/11/2013    Guillermo Marambio F.        Actualización de datos en safesigner.
* 1.5       11/12/2013    Guillermo Marambio F.        Se elimina restriccion de pegar.
* 1.6       17/01/2014    Guillermo Marambio F.        Se alarga el tamaño de la cuenta del destinatario.
* 1.7       21/02/2014    Guillermo Marambio F.        Se valida caracteres extraños en cuenta.
* 1.8       12/03/2014    Guillermo Marambio F.        Se agrega - a los caracteres permitidos del email.
* 1.9       01/06/2014    Guillermo Marambio F.        Se corrige error de SafeSigner.
* 2.0       10/07/2015    Nelson Alvarado(SEnTRA)-Claudia Lopez(Ing. Soft. BCI):Se agrega opcion de recargar el panel al crear un nuevo destinatario.
* 2.1       21/04/2017    Jaime Collao R.(ImageMaker)- Pamela Inostroza(Ing.Soft.BCI): Se parametriza los mensajes de seguridad y monto máximo de transferencias.
****************************************************************************************************************/
 -->
