<?xml version="1.0" encoding="UTF-8"?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:p="http://primefaces.prime.com.tr/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:outputStylesheet name="entrust.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css" /> 
      <h:panelGroup rendered="#{cc.estadoSegundaClave.estatus}">
	      <h:panelGroup rendered="#{cc.attrs.render}">
		  <h:panelGroup rendered="#{cc.tipoOperacionEntrust!='ERROR'}">
		  <div class="entrust_container opciones">
			<p class="elige">#{mensajesegundaclave.msjeTokenFisico1}<strong>#{mensajesegundaclave.msjeGenericoEntrust2}</strong></p>
			<div class="multipass">
			<div class="img"></div>
			<div class="ingreso">
				<div class="label" id="label">#{mensajesegundaclave.msjeTokenFisico3}</div>
				<div id="pass">
				<h:inputSecret id="clave-default-EntrustToken" maxlength="6" render="#{cc.attrs.render}" onkeypress="return soloNumeros(event);" onkeyup="cambiarLargo(this);" />
				</div>
				<div id="ver"></div>
			</div>
			<div class="paso"><span id="ndigit">0</span> / 6</div>
								</div>
								</div>
	        </h:panelGroup>
			<h:panelGroup rendered="#{cc.tipoOperacionEntrust=='ERROR'}">
				<div class=" mensaje_error align_center">
					<br/>
                            #{cc.glosaErrorEntrust}
					</div>
			</h:panelGroup>	
			</h:panelGroup>			
	        <h:panelGroup rendered="#{cc.attrs.esPrimefaces}">        
		        <p class="botonEntrust">
			        <p:commandButton type="#{cc.tipoBotonRetorno}" 
										style="display:none;"
			        					onclick="#{cc.destinoButtonRetornoOnclick}"
						                id="p-default-EntrustToken-botonVolver"
			        	                action="#{cc.attrs.destinoButtonRetorno}" 
			                            value="#{cc.attrs.textoButtonRetorno}" 
										immediate="true"
			                            rendered="#{not empty cc.attrs.textoButtonRetorno}"/>
			        <p:commandButton type="#{cc.tipoBotonDestino}" 
										styleClass="aceptar disabled"
										style="display:#{cc.tipoOperacionEntrust!='ERROR' ? '':'none'};"
			                            onclick="#{cc.destinoButtonOnclick}"
						                id="p-default-EntrustToken-botonAceptar"
			        	                action="#{cc.attrs.destinoButtonAction}"
			                            value="#{mensajesegundaclave.msjeEntrustAceptar}" />
		        </p>
	        </h:panelGroup>
	        <h:panelGroup rendered="#{not cc.attrs.esPrimefaces}">        
		        <p class="botonEntrust">
			        <h:commandButton type="#{cc.tipoBotonRetorno}" 
										style="display:none;"
			                            onclick="#{cc.destinoButtonRetornoOnclick}"
						                id="h-default-EntrustToken-botonVolver"
			        	                action="#{cc.attrs.destinoButtonRetorno}" 
			                            value="#{cc.attrs.textoButtonRetorno}" 
										immediate="true"
			                            rendered="#{not empty cc.attrs.textoButtonRetorno}"/>
			        <h:commandButton type="#{cc.tipoBotonDestino}" 
										styleClass="aceptar disabled"
										style="display:#{cc.tipoOperacionEntrust!='ERROR' ? '':'none'};"
			                            onclick="#{cc.destinoButtonOnclick}"
						                id="h-default-EntrustToken-botonAceptar"
			        	                action="#{cc.attrs.destinoButtonAction}" 
			                            value="#{mensajesegundaclave.msjeEntrustAceptar}" />
		        </p>
	        </h:panelGroup> 
        </h:panelGroup>
</ui:composition>
<!-- 
/*************************************************************************************************************** 
* Archivo: EntrustFragmentToken.xhtml
* Descripcion Este xhtml tiene la funcionadalidad de mostrar la validacion de entrust por default. 
* Path \resources\segundaclave
* "Todos los derechos reservados por Banco de Credito e Inversiones." 
* Historia Cambios 
* 
* version    fecha     autor                                                                cambios 
* ======= ========== ====================================================================== ====================
* 1.0     10/07/2017 Luis Lopez Alamos (SEnTRA) - Ricardo Carrasco Caceres (Ing. Soft. BCI): version inicial. 
****************************************************************************************************************/ 
--> 
