<?xml version="1.0" encoding="UTF-8"?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:p="http://primefaces.prime.com.tr/ui"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:outputStylesheet name="entrust.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css" /> 
	  <h:panelGroup id="panelPrincipalSoftTokenDefault" rendered="#{cc.estadoSegundaClave.estatus}">
	  <h:panelGroup rendered="#{cc.attrs.render}">
	  	<h:panelGroup id="panelGroupOnlineDefault" rendered="#{cc.tipoOperacionEntrust=='ONLINE' and !cc.fragmentManejaError}">
			<script>
					//<![CDATA[
					function agregarCampoOculto(estadoTransaccionDesdeServicio) {
						try {
							var elementoDivMensajeError = document.getElementById("paramEstadoConsulta");
							elementoDivMensajeError.value = estadoTransaccionDesdeServicio;
						}
						catch(ex) {
							
						}
					}	
					
					function limpiaIntervalo(){
						clearInterval(intervaloConsultaTransaccion);
					}
					
					        var intervaloConsultaTransaccion = null;
							var repeticionesMaximas = #{cc.attrs.timeOutEntrust};
							var tiempoDeConsulta = #{cc.attrs.frecuenciaEntrust};
							var estadoConsulta = null;
							var valorInicial = 0;
							
							if (intervaloConsultaTransaccion == null){
								intervaloConsultaTransaccion = setInterval(function(){consultaTransaccion();}, tiempoDeConsulta)
							}
							
							function consultaTransaccion(){
							
							$.ajax({ 
									 type: "POST",
									 dataType: "text",
									 url: "#{cc.attrs.urlConsultaPoolingEntrust}",
									 success: function(data){
										estadoConsulta = data;
									 }
								 });
								 
								 if (estadoConsulta == 'CONFIRM'){
									clearInterval(intervaloConsultaTransaccion);
									var x =document.getElementsByClassName("myButtonToClick");
									x[0].click();
								 }
								 
								valorInicial++;
								if ((estadoConsulta == 'CANCEL' ) || (estadoConsulta == 'CONCERN' ) || (estadoConsulta == 'TIME_OUT' ) || (valorInicial==repeticionesMaximas)){
									agregarCampoOculto(estadoConsulta);
									resuelveMensajeRespuestaDefault();
									clearInterval(intervaloConsultaTransaccion);
									
								}
							}
					  //]]>
					</script>
		  <div class="entrust_container uno">
			  <div class="col img"></div>
			  <div class="col texto1">#{mensajesegundaclave.msjeGenericoEntrust1} <b>#{mensajesegundaclave.msjeGenericoEntrust2}</b> #{mensajesegundaclave.msjeGenericoEntrust3}</div>
			  <div class="mensaje">#{mensajesegundaclave.msjeOnline2} <p:commandLink onclick="generarQRAction();" value="#{mensajesegundaclave.msjeOnline3}"/></div>
									</div>
			
			<input type="hidden" name="paramEstadoConsulta" value="" id="paramEstadoConsulta"/>
		</h:panelGroup> 
									 
		<div class="entrust_container dos" style="display:#{cc.tipoOperacionEntrust=='OFFLINE' ? 'block':'none'};">  
		<p class="parrafo2">#{mensajesegundaclave.msjeOffline1}<strong>#{mensajesegundaclave.msjeGenericoEntrust2}</strong> #{mensajesegundaclave.msjeGenericoEntrust3}<strong>#{mensajesegundaclave.msjeOffline2}</strong>#{mensajesegundaclave.msjeOffline3}</p>
			  <div class="col qr">
				<h:graphicImage id="imageDefault" value="#{cc.llaveQR}" />
			  </div>
			  <div class="col form">
				<div class="desc">#{mensajesegundaclave.msjeOffline4}</div>
                <h:panelGroup id="panelGroupOfflineDefault" rendered="#{cc.tipoOperacionEntrust=='OFFLINE' and !cc.fragmentManejaError}">
				<p>
				<h:selectOneMenu value="#{cc.llaveQR}" styleClass="input"> 
							<f:selectItems value='#{cc.llaveQREntrust.llaves}' var="codigo" itemLabel ="#{codigo.nombreDispositivoAsociado}" itemValue="#{codigo.claveAlfanumerica}" /> 
							<f:ajax event="change" render="imageDefault"/>
						</h:selectOneMenu>
				</p>
				</h:panelGroup>
				<p>
				<div class="passQr">
				<h:inputSecret onkeyup="cambiarLargo(this);" id="clave-default-EntrustSoftToken" maxlength="8" render="#{cc.attrs.render}" onkeypress="return soloNumeros(event);"/>
				</div>
				</p>

				<div class="paso"><span id="ndigit">0</span> / 8</div>

			  </div>
						</div>


		<h:panelGroup id="panelGroupErrorDefault" rendered="#{cc.tipoOperacionEntrust=='ERROR'}">
				<div class=" mensaje_error align_center">
					<br/>
                            #{cc.glosaErrorEntrust}
					</div>
				</h:panelGroup>	
			<p:remoteCommand name="generarQRAction" update="panelPrincipalSoftTokenDefault" 
								actionListener="#{cc.generarLlaveQR()}"
								 process="@this" partialSubmit="true" />
								 
								 
			<p:remoteCommand name="resuelveMensajeRespuestaDefault" id="resuelveMensajeRespuestaDefault" update="panelPrincipalSoftTokenDefault" 
								action="#{cc.resuelveResultado}"
								 process="@this" />
								 
	        </h:panelGroup>
		
			
			<h:panelGroup rendered="#{cc.attrs.esPrimefaces}">		
		        <p class="botonEntrust">
			        <p:commandButton type="#{cc.tipoBotonRetorno}" styleClass="bot_01"
										style="display:none"
										onclick="#{cc.destinoButtonRetornoOnclick}"
						                id="p-default-EntrustSoftToken-botonVolver"
			        	                action="#{cc.attrs.destinoButtonRetorno}" 
			                            value="#{cc.attrs.textoButtonRetorno}" 
                                                    immediate="true"
			                            rendered="#{not empty cc.attrs.textoButtonRetorno}"/>
			        <p:commandButton type="#{cc.tipoBotonDestino}" styleClass="aceptar disabled myButtonToClick" 
										style="display:#{cc.tipoOperacionEntrust=='OFFLINE' ? '':'none'};"
			                            onclick="#{cc.destinoButtonOnclick}"
										id="p-default-EntrustSoftToken-botonAceptar"
			        	                action="#{cc.attrs.destinoButtonAction}"
			                            value="#{mensajesegundaclave.msjeEntrustAceptar}" />
		        </p>
		        <br/>
	        </h:panelGroup>
			<h:panelGroup rendered="#{not cc.attrs.esPrimefaces}">        
		        <p class="botonEntrust">
			        <h:commandButton type="#{cc.tipoBotonRetorno}" styleClass="bot_01" 
			                            onclick="#{cc.destinoButtonRetornoOnclick}"
						                id="h-default-EntrustSoftToken-botonVolver"
										style="display:none"
			        	                action="#{cc.attrs.destinoButtonRetorno}" 
			                            value="#{cc.attrs.textoButtonRetorno}" 
                                                    immediate="true"
			                            rendered="#{not empty cc.attrs.textoButtonRetorno}"/>
			        <h:commandButton type="#{cc.tipoBotonDestino}" styleClass="aceptar disabled myButtonToClick" 
			                            onclick="#{cc.destinoButtonOnclick}"
										style="display:#{cc.tipoOperacionEntrust=='OFFLINE' ? '':'none'};"
						                id="h-default-EntrustSoftToken-botonAceptar"
			        	                action="#{cc.attrs.destinoButtonAction}" 
			                            value="#{mensajesegundaclave.msjeEntrustAceptar}" />
		        </p>
		        <br/>
	        </h:panelGroup>
        </h:panelGroup>		
</ui:composition>
<!-- 
/*************************************************************************************************************** 
* Archivo: EntrustFragmentSoftToken.xhtml
* Descripcion Este xhtml tiene la funcionadalidad de mostrar la validacion de entrust en layout default. 
* Path \resources\segundaclave
* "Todos los derechos reservados por Banco de Credito e Inversiones." 
* Historia Cambios 
* ________________ 
* version    fecha     autor                                                                cambios 
* ======= ========== ====================================================================== ================= 
* 1.0     10/07/2017 Luis Lopez Alamos (SEnTRA) - Ricardo Carrasco Caceres (Ing. Soft. BCI): version inicial. 
* 1.1     13/10/2017 Jaime Suazo Diaz  (SEnTRA) - Ricardo Carrasco Caceres (Ing. Soft. BCI): Se agrega corrección para enviar como parametro
*                    el estado de consulta la pooling. Este estado es unico debido al ID de transaccion contenido en el MB de jerarquia.                 
****************************************************************************************************************/ 
--> 
