<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:p="http://primefaces.prime.com.tr/ui"  
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">
    <composite:interface componentType="cl.bci.infraestructura.web.seguridad.segundaclave.SegundaClaveUIInput">
        <composite:attribute name="servicio" type="java.lang.String" required="true"/>
        <composite:attribute name="layout" type="java.lang.String" default="default" required="false"/>
        <composite:attribute name="render" default="true" required="false"/>
        <composite:attribute name="textoButtonAction" type="java.lang.String" required="true"/>
        <composite:attribute name="destinoButtonAction" method-signature="java.lang.String action()" required="false"/>
        <composite:attribute name="destinoButtonOnclick" type="java.lang.String" required="false"/>
        <composite:attribute name="textoButtonRetorno" type="java.lang.String" required="false"/>
        <composite:attribute name="destinoButtonRetorno" method-signature="java.lang.String action()" required="false"/>
        <composite:attribute name="destinoButtonRetornoOnclick" type="java.lang.String" required="false"/>
        <composite:attribute name="mensaje" type="java.lang.String" required="true"/>
        <composite:attribute name="esPrimefaces" default="false" required="false"/>
		<composite:attribute name="timeout" type="java.lang.String" required="false"/>
		<composite:attribute name="frecuencia" type="java.lang.String" required="false"/>
		<composite:attribute name="urlConsultaPoolingEntrust" type="java.lang.String" required="false"/>
		<composite:attribute name="tipoOperacionEntrust" type="java.lang.String" required="false"/>
		<composite:attribute name="qrEntrust" type="cl.bci.infraestructura.web.seguridad.segundaclave.to.LlaveSegundaClaveTO" required="false"/>
    </composite:interface>

    <composite:implementation>
    <f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.infraestructura.web.seguridad.segundaclave.segundaClave')}" 
    var="mensajesegundaclave"/>

        <!-- 
        Cada layout se define usando un tag ui:fragment.
        Se dibuja el componente para el cual el atributo rendered es evaluado a true.
        Por cada layout se debe definir un fragmento para cada tipo de segunda clave.

        El componente de llave debe tener id="llave-<layout>-<tipo de segunda clave>", 
        este componente es obligatorio para segundas claves que usan llave (como SafeSigner).

        El componente de ingreso de clave debe tener id="clave-<layout>-<tipo de segunda clave>". 
        Este componente es obligatorio siempre.
        -->

        <!-- layout default para SafeSigner -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'default' and cc.segundaClaveId.nombre eq 'SafeSigner'}">

           <script type="text/javascript" src="/resources/javascript/controlDobleClick.js" />

           <ui:include src="safeSignerFragment.xhtml" />
        </ui:fragment>

        <!-- layout vertical para SafeSigner -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'vertical' and cc.segundaClaveId.nombre eq 'SafeSigner'}">

           <script type="text/javascript" src="/resources/javascript/controlDobleClick.js" />

           <ui:include src="safeSignerFragmentVertical.xhtml" />
        </ui:fragment>

        <!-- layout horizontal para SafeSigner -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'horizontal' and cc.segundaClaveId.nombre eq 'SafeSigner'}">

           <script type="text/javascript" src="/resources/javascript/controlDobleClick.js" />

           <ui:include src="safeSignerFragmentHorizontal.xhtml" />
        </ui:fragment>

        <!-- layout default para Multipass -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'default' and cc.segundaClaveId.nombre eq 'Multipass'}">
           <script type="text/javascript" src="/resources/javascript/controlDobleClick.js" />
			<ui:include src="multipassFragment.xhtml" />
        </ui:fragment>

        <!-- layout vertical para Multipass -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'vertical' and cc.segundaClaveId.nombre eq 'Multipass'}">
           <script type="text/javascript" src="/resources/javascript/controlDobleClick.js" />
			<ui:include src="multipassFragmentVertical.xhtml" />
        </ui:fragment>

        <!-- layout horizontal para Multipass -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'horizontal' and cc.segundaClaveId.nombre eq 'Multipass'}">
           <script type="text/javascript" src="/resources/javascript/controlDobleClick.js" />
			<ui:include src="multipassFragmentHorizontal.xhtml" />
        </ui:fragment>

        

        <!-- layout default para Multipass -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'default' and cc.segundaClaveId.nombre eq 'Internet'}">
            <ui:include src="claveInternetFragment.xhtml" />
        </ui:fragment>

        <!-- layout vertical para Multipass -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'vertical' and cc.segundaClaveId.nombre eq 'Internet'}">
            <ui:include src="claveInternetFragmentVertical.xhtml" />
        </ui:fragment>

        <!-- layout horizontal para Multipass -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'horizontal' and cc.segundaClaveId.nombre eq 'Internet'}">
            <ui:include src="claveInternetFragmentHorizontal.xhtml" />
        </ui:fragment>

        

        <!-- layout default para eToken -->
        <ui:fragment rendered="#{cc.segundaClaveId.nombre eq 'EToken'}">
            <ui:include src="eTokenFragment.xhtml" />
        </ui:fragment>

        <ui:fragment rendered="#{cc.segundaClaveId.nombre eq 'ETokenMultiBrowser'}">
            <ui:include src="eTokenMultiBrowserFragment.xhtml" />
        </ui:fragment>
        
        <ui:fragment rendered="#{empty cc.segundaClaveId}">
           <ui:include src="noSegundaClaveFragment.xhtml" />
        </ui:fragment>
		
		<!-- layout default para Entrust SoftToken -->
		<ui:fragment rendered="#{cc.attrs.layout eq 'default' and cc.segundaClaveId.nombre eq 'EntrustSoftToken'}">
		<script type="text/javascript" src="/resources/javascript/entrustSoftToken.js" />
           <ui:include src="entrustFragmentSoftToken.xhtml" />
        </ui:fragment>
		
		<!-- layout vertical para Entrust SoftToken -->
		<ui:fragment rendered="#{cc.attrs.layout eq 'vertical' and cc.segundaClaveId.nombre eq 'EntrustSoftToken'}">
		<script type="text/javascript" src="/resources/javascript/entrustSoftToken.js" />
				<ui:include src="entrustFragmentSoftTokenVertical.xhtml" />
		</ui:fragment>
		
		<!-- layout default para Entrust Token -->
		<ui:fragment rendered="#{cc.attrs.layout eq 'default' and cc.segundaClaveId.nombre eq 'EntrustToken'}">
		<script type="text/javascript" src="/resources/javascript/entrustToken.js" />
           <ui:include src="entrustFragmentToken.xhtml" />
        </ui:fragment>
		
		<!-- layout vertical para Entrust Token -->
        <ui:fragment rendered="#{cc.attrs.layout eq 'vertical' and cc.segundaClaveId.nombre eq 'EntrustToken'}">
		<script type="text/javascript" src="/resources/javascript/entrustToken.js" />
            <ui:include src="entrustFragmentTokenVertical.xhtml" />
        </ui:fragment>
		
    </composite:implementation>

</html>
<!--
/***************************************************************************************************************
* Archivo:             metodoAutenticacion.xhtml
* Descripción          Componente despliega fragment segun estrategia clave internet definida.
* Path                 /resources/segundaclave/
* " Todos los derechos reservados por Banco de Crédito e Inversiones."              
* Historia Cambios
* 
* versión      fecha                autor                                            cambios
* =======   ==========    =============================                 =================================
*   1.0     ??/??/2013    Victor Hugo Enero (Orand)                       Version Inicial.
*   1.1     12/08/2013    Héctor Hernández Orrego (SEnTRA)              Se incorporan fragment para estrategia clave internet.
*   1.2     21/08/2013    Pablo Romero Cáceres (SEnTRA)                 Se incorporan fragment para estrategia EToken.
*   1.3     26/11/2013    Victor Hugo Enero (Orand)                      Se incluye javascript para bloquear/desbloquear botones.
*   1.4     12/12/2016    Darlyn Delgado Pérez (SEnTRA) - Daniel Araya Ureta (Ing. Soft. BCI)  Se incorporan fragment para estrategia ETokenMultiBrowser.
*   1.5     10/07/2017    Luis López Alamos (SEnTRA) - Ricardo Carrasco Cáceres (Ing. Soft. BCI): Se incorporan fragment para estrategia Entrust 
*																		y se agregan nuevos atributos composite a interface de componente.
****************************************************************************************************************/
 -->
 