<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:trk="http://bci.cl/facelets/tracking-ga">
<h:head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>#{msg.bciCorporativo}</title>
	
        <h:outputStylesheet name="print.css" library="Webbci/common/css"></h:outputStylesheet>
        <h:outputStylesheet name="screen.css" library="Webbci/common/css"></h:outputStylesheet>
    	<h:outputStylesheet name="canal.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css"></h:outputStylesheet>	
	
        <h:outputScript library="javascript" name="main.js"></h:outputScript>
        <h:outputScript library="javascript/global" name="global.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery_roundies.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery.numeric.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery.tablesorter.min.js"></h:outputScript>
        	
	<trk:script producto="Entrust" servicio="administracionSoftokens" />
	<script type="text/javascript">
		if (jQuery==null){jQuery=$;}else{$=jQuery;}
		//<![CDATA[

		function volver() {
			location.href = "/cl/bci/aplicaciones/personas/seguridad/administracionSoftokens.jsf";
		}

		function bloquearDesbloquear(accion) {
			$("#formPrincipal\\:accionARealizar").val(accion);
		}
		
		function habilitar() {
			bloquearDesbloquear('HABILITAR');
		}

		function bloquear() {
			bloquearDesbloquear('BLOQUEAR');
		}

		//]]>
	</script>
</h:head>
<f:loadBundle basename="cl.bci.aplicaciones.emergencias.emergencias" var="msg" />
#{administracionBloqueoViewMB.iniciar()}
<body>
        <div id="content">
        <h:form id="formPrincipal">
	          <h:inputHidden id="accionARealizar" value="#{administracionBloqueoViewMB.accionARealizar}"/>
		          <h:panelGroup id="panel_completo" rendered="#{administracionBloqueoViewMB.obtenerDireccionesCliente() eq true}">
		          
             <!--EN ESTE DIV SE CARGA EL CONTENIDO DE LOS ICONOS SEGUN EVENTO ONCLICK-->
            <h2 class="encabezadoTitulo">
                <h:outputFormat value="#{msg.titulo}"/><h:outputFormat/>
            </h2>
           <div class="alertas">

            </div> 
		            <div class="fondo">
						<ul class="pasos_transferencia">
							<li class="bot_tf_01 #{administracionBloqueoViewMB.nombrePaso eq null? 'activo' : ' '}"><span class="#{administracionBloqueoViewMB.nombrePaso eq null? 'activo' : ' '}">1</span>#{msg.autorizarSeleccionar}</li>
							<li class="bot_tf_02 #{administracionBloqueoViewMB.nombrePaso eq 'CONFIRMAR'? 'activo' : ' '}"><span class="#{administracionBloqueoViewMB.nombrePaso eq 'CONFIRMAR'? 'activo' : ' '}">2</span>#{msg.autorizarFirmar}</li>
							<li class="bot_tf_03 #{administracionBloqueoViewMB.nombrePaso eq 'COMPROBANTE'? 'activo' : ' '}"><span class="#{administracionBloqueoViewMB.nombrePaso eq 'COMPROBANTE'? 'activo' : ' '}">3</span>#{msg.autorizarComprobante}</li>
						</ul>
			            
			            
			            <h:panelGroup id="panel_paso1" layout="block" styleClass="paso_01" style="display:#{administracionBloqueoViewMB.nombrePaso eq null ? 'block' : 'none'}" rendered="#{administracionBloqueoViewMB.obtenerDireccionesCliente() eq true}">
			            
					            <h:panelGroup layout="block" style="errorGeneralIconos" rendered="#{administracionBloqueoViewMB.listaTokens != null}">
            
            <h:panelGroup layout="block" styleClass="cont_info_cliente">

                <!--EN ESTE DIV SE CARGA EL CONTENIDO DE LOS ICONOS SEGUN EVENTO ONCLICK-->
                <h:panelGroup styleClass="iconos_inteligentes mas_informacion" layout="block" style="display: none;"></h:panelGroup>
                <h:panelGroup layout="block" styleClass="fondo_info_cliente">
                    <h3>
						<h:panelGroup styleClass="titulo">
							<h:outputFormat value="#{msg.descMov}"/>
						</h:panelGroup>
                    </h3>
                    <p:dataTable
						var="mov"
												selection="#{administracionBloqueoViewMB.listaTokensSeleccionados}"
                    	value="#{administracionBloqueoViewMB.listaTokens}"
                    	id="tbl"
						rows="18"
                    	styleClass="tabla_datos tablesorter middle_align align_center"
                    	paginatorPosition="bottom"
						                    	emptyMessage="#{msg.admSoftTokenMsgNoEncontrado}">

						                        <p:column>
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.nombreDispositivo}"/>
                            </f:facet>
                            <h:outputText value="#{mov.nombreDispositivo}">
                            </h:outputText>
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.idDispositivo}"/>
                            </f:facet>
                            <h:outputText value="#{mov.serialNumber}" />
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.estado}"/>
                            </f:facet>
						                            <h:outputText value="#{mov.estadoDespliegue}" />
                        </p:column>
						                        <p:column selectionMode="multiple">
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.descColSeleccione}"/>
                            </f:facet>
						                        </p:column>
						                       
						                        <f:facet name="footer">
						                        </f:facet>
						                    </p:dataTable>
						
								
                            </h:panelGroup>
						                <h:panelGroup layout="block" styleClass="fondo_bottom_info_cliente">&nbsp;</h:panelGroup>
						            </h:panelGroup>
									<p class="botones" align="center">
									
									    <p:commandButton 
									       id="botonBloquarTokenPaso2" 
									       update="panel_completo" 
									       value="#{msg.btnBloquear}" 
									       styleClass="bot_02 buscar" onclick="bloquear();" 
									       actionListener="#{administracionBloqueoViewMB.validarTokensSeleccionados()}"/>
									    <p:commandButton 
									       id="botonDesBloquearTokenPaso2" 
									       update="panel_completo" 
									       value="#{msg.btnDesbloquear}" 
									       styleClass="bot_02 buscar" onclick="habilitar();" 
									       actionListener="#{administracionBloqueoViewMB.validarTokensSeleccionados()}"/>
									       
									</p>
								</h:panelGroup>
						</h:panelGroup> <!--  fin panel_paso1  -->
						
						<h:panelGroup id="panel_paso2" layout="block" styleClass="paso_01" style="display:#{administracionBloqueoViewMB.nombrePaso eq 'CONFIRMAR' ? 'block' : 'none'}">
								<h:panelGroup layout="block" styleClass="cont_info_cliente">
								
										<h:panelGroup styleClass="iconos_inteligentes mas_informacion" layout="block" style="display: none;"></h:panelGroup>
						                <h:panelGroup layout="block" styleClass="fondo_info_cliente">
						                    <h3>
												<h:panelGroup styleClass="titulo">
													<h:outputFormat value="#{msg.descMov}"/>
												</h:panelGroup>
						                    </h3>
						                    <p:dataTable
												var="mov"
						                    	value="#{administracionBloqueoViewMB.listaTokensSeleccionados}"
						                    	id="tbl_paso2"
												rows="18"
						                    	styleClass="tabla_datos tablesorter middle_align align_center"
						                    	paginatorPosition="bottom"
						                    	emptyMessage="#{msg.admSoftTokenMsgNoEncontrado}">
                                  
						                        <p:column>
						                            <f:facet name="header">
						                                <h:outputFormat value="#{msg.nombreDispositivo}"/>
						                            </f:facet>
						                            <h:outputText value="#{mov.nombreDispositivo}">
						                            </h:outputText>
                        </p:column>
                        
						                        <p:column >
						                            <f:facet name="header">
						                                <h:outputFormat value="#{msg.idDispositivo}"/>
						                            </f:facet>
						                            <h:outputText value="#{mov.serialNumber}" />
						                        </p:column>
						                        <p:column >
						                            <f:facet name="header">
						                                <h:outputFormat value="#{msg.estado}"/>
						                            </f:facet>
						                            <h:outputText value="#{mov.estadoDespliegue}" />
						                        </p:column>
                       
                        <f:facet name="footer">
                        </f:facet>
                    </p:dataTable>


                </h:panelGroup>
						                
									<p class="botones" align="center">
									    <p:commandButton 
									       id="botonEjecutarBloquearTokenPaso2" 
									       update="panel_completo" 
									       value="#{msg.btnEjecutar}" 
									       styleClass="bot_02 buscar"  
									       actionListener="#{administracionBloqueoViewMB.bloquear()}"/>

									    <p:commandButton 
									       id="botonEjecutarHabilitarTokenPaso2" 
									       update="panel_completo" 
									       value="#{msg.btnEjecutar}" 
									       styleClass="bot_02 buscar"  
									       actionListener="#{administracionBloqueoViewMB.habilitar()}"/>
									       
									                                          
                                     <button type="button" 
                                             onclick="volver();" 
                                             title="#{msg.volver}" 
                                             id="botonVolver"                                              
                                             class="bot_02 width_130 aceptar">#{msg.volver}
                                     </button>
                                          
                                          
									</p>						                
						         </h:panelGroup>						
						</h:panelGroup>
						<h:panelGroup id="panel_paso3" layout="block" styleClass="paso_01" style="display:#{administracionBloqueoViewMB.nombrePaso eq 'COMPROBANTE' ? 'block' : 'none'}">
								<h:panelGroup layout="block" styleClass="cont_info_cliente">
								
										<h:panelGroup styleClass="iconos_inteligentes mas_informacion" layout="block" style="display: none;"></h:panelGroup>
						                <h:panelGroup layout="block" styleClass="fondo_info_cliente">
						                    <h3>
												<h:panelGroup styleClass="titulo">
													<h:outputFormat value="#{msg.descMov}"/>
												</h:panelGroup>
						                    </h3>
						                    <p:dataTable
												var="mov"
						                    	value="#{administracionBloqueoViewMB.listaTokensSeleccionados}"
						                    	id="tbl_paso3"
												rows="18"
						                    	styleClass="tabla_datos tablesorter middle_align align_center"
						                    	paginatorPosition="bottom"
						                    	emptyMessage="#{msg.admSoftTokenMsgNoEncontrado}">
						
						                        <p:column>
						                            <f:facet name="header">
						                                <h:outputFormat value="#{msg.nombreDispositivo}"/>
						                            </f:facet>
						                            <h:outputText value="#{mov.nombreDispositivo}">
						                            </h:outputText>
						                        </p:column>
						
						                        <p:column >
						                            <f:facet name="header">
						                                <h:outputFormat value="#{msg.idDispositivo}"/>
						                            </f:facet>
						                            <h:outputText value="#{mov.serialNumber}" />
						                        </p:column>
						                        <p:column >
						                            <f:facet name="header">
						                                <h:outputFormat value="#{msg.estado}"/>
						                            </f:facet>
						                            <h:outputText value="#{mov.estadoDespliegue}" />
						                        </p:column>
						                       
						                        <f:facet name="footer">
						                        </f:facet>
						                    </p:dataTable>
						
						
						                </h:panelGroup>
						                
                                     <button type="button" 
                                             onclick="volver();" 
                                             title="#{msg.aceptar}" 
                                             id="botonVolver"                                              
                                             class="bot_02 width_130 aceptar">#{msg.aceptar}
                                     </button>
                                          

						         </h:panelGroup>						
						</h:panelGroup>						
						
						<div class="fondo_bottom">&nbsp;</div>
				</div>
				</h:panelGroup>
						<h:panelGroup layout="block" style="errorGeneralIconos"
							rendered="#{administracionBloqueoViewMB.obtenerDireccionesCliente() == false}">
							<p class="mensaje_activar">
								<h:outputText value="#{msg.softTokenMsgSinMail}" />
							</p>
            </h:panelGroup>

        </h:form>
        </div>
</body>
</html>