<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:trk="http://bci.cl/facelets/tracking-ga">
	<head>
		<f:loadBundle basename="cl.bci.aplicaciones.emergencias.emergencias" var="msg"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<title>#{msg.bciCorporativo}</title>
		<link href="/resources/persona/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/resources/persona/css/print.css" rel="stylesheet" type="text/css" media="print" />
		<link href="/resources/persona/css/seguros.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/resources/persona/css/seguridad.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/resources/persona/css/alertas_y_emergencias.css" rel="stylesheet" type="text/css" media="screen" />
		<script type="text/javascript" src="/resources/persona/js/main.js"></script>
		<script type="text/javascript" src="/resources/persona/js/validaciones.js"></script>
		<script type="text/javascript" src="/resources/persona/js/global/global.js"></script>
		<script type="text/javascript" src="/resources/persona/js/jquery-1.5.2.min.js"></script>
		<script type="text/javascript" src="/resources/persona/js/jquery.easing.min.js"></script>
		<script type="text/javascript" src="/resources/persona/js/jquery.treeview.min.js"></script>
		<script type="text/javascript" src="/resources/persona/js/jquery.lavalamp.min.js"></script>
		<script type="text/javascript" src="/resources/persona/js/menu.js"></script>
		<script type="text/javascript" src="/resources/persona/js/jquery.numeric.js"></script>
		<script type="text/javascript" src="/resources/persona/js/dd_roundies.js"></script>
		<script type="text/javascript">
			DD_roundies.addRule('.comprobante', 10);
			
			function back2(){
				window.location.href='/cl/bci/aplicaciones/personas/seguridad/crearClaveTelefonica.jsf';
			}
		</script>
		<trk:script producto="ClaveTelefonica" servicio="Seguridad" />
	</head>

	<body>
		<div id="content">
			<h:form id="formulario">
				<h2 class="encabezado">
					<h:outputText value="#{msg.tituloSolicitudClaveFono}" escape="false" />
				</h2>
				<h:panelGroup id="config_multipass_error" layout="block" rendered="#{creacionClaveTelefonicaBackingMB.errorGeneral}" >
					<div class="alertas">
						<div class="fondo_alertas">
							<div class="ico_alerta">
								<h:panelGroup id="error_creacion" layout="block">
									<p>
										<p><h:outputText value="#{msg.estimadoCliente}" escape="false"/></p>
										<p><h:outputText value="#{msg.claveFonoCreadaError}" escape="false"/></p>
									</p>
								</h:panelGroup>
							</div>
						</div>
					</div>
					<div class="align_center">
						<br />
						<button type="button" class="bot_02" title="Cancelar" onclick="back2();">
							<h:outputText value="#{msg.volver}" escape="false" />
						</button>
					</div>
				</h:panelGroup>
				<h:panelGroup id="config_multipass_exito" layout="block" rendered="#{!creacionClaveTelefonicaBackingMB.errorGeneral}">
					<div class="cont_servicios">
						<div class="top_servicios">
							&nbsp;
						</div>
						<div class="contenido"> 
							<ul class="pasos_transferencia">
								<li class="bot_tf_01">
									<span>
										<h:outputText value="#{msg.paso1}" escape="false" />
									</span>
									<h:outputText value="#{msg.creacionClave}" escape="false" />
								</li>
								<li class="bot_tf_02">
									<span>
										<h:outputText value="#{msg.paso2}" escape="false" />
									</span>
									<h:outputText value="#{msg.confirmacion}" escape="false" />
								</li>
								<li class="bot_tf_03">
									<span class="activo">
										<h:outputText value="#{msg.paso3}" escape="false" />
									</span>
									<h:outputText value="#{msg.comprobante}" escape="false" />
								</li>
							</ul>
							<br clear="all" />
							<div class="paso2">
								<div class="comprobante">
									<p>
										<h:outputText value="#{msg.estimadoCliente}" escape="false" /><br/>
										<h:outputText value="#{msg.claveFonoCreadaExito}" escape="false" />
									</p>
								</div>
								<div class="align_center">
									<br />
									<button type="button" class="bot_02" title="Cancelar" onclick="back2();">
										<h:outputText value="#{msg.volver}" escape="false" />
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="fondo_bottom">
						&nbsp;
					</div>
				</h:panelGroup>
			</h:form>
		</div>
	</body>
</html>
<!--
/***************************************************************************************************************
* Archivo: comprobanteCreacionTelefonica.xhtml
* Descripcion Este xhtml tiene la funcionadalidad de mostrar el comprobante de la creacion de clave telefonica. 
* Path cl\bci\aplicaciones\personas\seguridad\
* "Todos los derechos reservados por Banco de Credito e Inversiones." 
* Historia Cambios 
* ________________ 
* versión fecha      autor                 cambios 
* ======= ========== ===================== ================================= 
* 1.0 ??/??/???? ???????                   version inicial. 
* 1.1 05/09/2017  Marcelo Fuentes (SEnTRA) - Ricardo Carrasco (Ing. Soft. BCI) Se agrega paso de confirmacion en 
* la cabecera del comprobante.
****************************************************************************************************************/
-->
