<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.prime.com.tr/ui"
    xmlns:trk="http://bci.cl/facelets/tracking-ga">
<h:head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>#{msg.bciCorporativo}</title>
<link href="/resources/persona/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/resources/persona/css/print.css" rel="stylesheet"  type="text/css" media="print" />
<link href="/resources/persona/css/seguridad.css" rel="stylesheet"  type="text/css" media="screen" />
<link href="/resources/Webbci/common/css/entrust.css" rel="stylesheet" type="text/css" />
<h:outputScript library="Webbci/common/js" name="entrust.js"/>
<h:outputScript library="Webbci/common/js" name="jquery.tools.min.js" target="head" />
</h:head>
<f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.emergencias.emergencias')}" var="msg"/>
<body>
    <div id="content">

        <h:form id="formulario">

            <h2 class="encabezado">
                <h:outputText value="#{msg.configuracionEnrolar}" escape="false" />
            </h2>
            <h:panelGroup layout="block" style="errorGeneralIconos" rendered="#{enrolamientoEntrustViewMB.estadoServicio=='OK'}">

                <div class="cont_servicios">
				<div class="cargando">
                                <div id="icono_loading" class="mataAngustiaImagen mataAngustiaImagenOculto"></div>
                            </div>
                    <div class="top_servicios">&nbsp;</div>
                    <div class="fondo">
                        

                        <h:panelGroup rendered="#{enrolamientoEntrustViewMB.pasoNavegacion eq 'paso1'}">
                        <div class="paso1" >
                        <ul class="pasos_transferencia">
                            <li class="bot_tf_01">
                                <h:outputText value="#{msg.ingresoTarjeta}" escape="false" />
                            </li>
                               
                        </ul>
                            <div>
                                <p>
                                    <label class="col_120"> 
                                        <h:outputText value="#{msg.ingreseTarjetadeb}" />
                                    </label>
                                </p>
                                <p>
                                    <h:selectOneMenu value="#{enrolamientoEntrustViewMB.tddSeleccionada}">
                                        <f:selectItems itemLabel="#{enrolamientoEntrustViewMB.listaTDD}" value="#{enrolamientoEntrustViewMB.listaTDD}"/>
                                    </h:selectOneMenu>
                                </p>
                                <p>
                                    <label for="multipass2"> 
                                        <h:outputText value="#{msg.ingreseClaveCajero}" escape="false" />
                                    </label>
                                </p>
                                <p>
                                    <h:inputSecret id="clave" value="#{enrolamientoEntrustViewMB.claveRedBanc}"
                                    required="true" requiredMessage="#{msg.mensajeDatoRequeridoCajero}" styleClass="required"
                                    validatorMessage="#{msg.mensajeNumerico4}" maxlength="9" size="10" name="clave">
                                    <f:validateLength minimum="4" maximum="4"/>
                                    <f:validateLongRange  minimum="0" maximum="999999"/>
                                </h:inputSecret>
                                </p>
                                <p>
                                <h:commandButton title="#{msg.continuar}" type="submit" styleClass="bot_02" value="#{msg.continuar}" 
                                action="#{enrolamientoEntrustViewMB.validarTarjetaYClaveRedbanc}" onclick="mataangustia(true);"/>
            
                                </p>

                                <h:panelGroup layout="block" style="errorGeneralIconos" rendered="#{enrolamientoEntrustViewMB.estadoServicio=='NOK'}">
                                    <p class="mensaje_activar">
                                        <h:outputText value="#{msg.msjeErrorServicioNoDisponible}" />
                                    </p>
                                </h:panelGroup>
                                <div>
                                    &nbsp;&nbsp;
                                    <h:message styleClass="message_07" for="clave" />

                                    <h:panelGroup id="mensajes_validacion_ingreso" layout="block"
                                        styleClass="mensaje_activar align_center"
                                        rendered="#{not empty  enrolamientoEntrustViewMB.mensajeError}"
                                        style="vertical-align: mid">
                                        <h:messages showSummary="false" showDetail="true"
                                            layout="table" styleClass="tabla_mensajes_error" />
                                        <h:outputText value="#{enrolamientoEntrustViewMB.mensajeError}" escape="false" />
                                    </h:panelGroup>
                                </div>

                            </div>
                        </div>
                        </h:panelGroup>
                        
                        <h:panelGroup rendered="#{enrolamientoEntrustViewMB.pasoNavegacion eq 'paso2'}">
                        <div class="paso2">
                        <ul class="pasos_transferencia">
                            <li class="bot_tf_02">
                                <h:outputText value="#{msg.ingresoCodVer}" escape="false" />
                            </li>
                            
                        </ul>
                            <div>
                                <h:outputText value="#{msg.ingreseNumeroSeisDigitosSms}" escape="false" />
                                <br /> <br /> 
                                <label for="multipass"> 
                                <h:outputText value="#{msg.ingreseNumeroVerificacion}" escape="false" />
                                </label>
                                <p>
                                <h:inputSecret id="multipass1" name="multipass1"
                                    value="#{enrolamientoEntrustViewMB.token1}"
                                    required="true"
                                    requiredMessage="#{msg.mensajeDatoRequeridoToken}"
                                    validatorMessage="#{msg.mensajeNumerico6}" maxlength="8" size="10">
                                    <f:validateLength minimum="8" maximum="8" />
                                </h:inputSecret>
                                </p>
                                <p>
                                    <h:commandButton title="#{msg.continuar}" type="submit" styleClass="bot_02" value="#{msg.continuar}" 
                                    action="#{enrolamientoEntrustViewMB.autenticarTokenOTP}"/>
                                </p>
                                <div>
                                    &nbsp;&nbsp;
                                    <h:message styleClass="message_07" for="multipass1" />
                                </div>
                            </div>
                            <br /> <br />
                        </div>
                        </h:panelGroup>
                        
                         <h:panelGroup rendered="#{enrolamientoEntrustViewMB.pasoNavegacion eq 'paso3'}">
                        <div class="paso3">
                        <ul class="pasos_transferencia">
                            <li class="bot_tf_03">
                                <h:outputText value="#{msg.ingresoCodAct}" escape="false" />
                            </li>
                            </ul>
                            <p>
                                <img
                                    src="#{enrolamientoEntrustViewMB.estadoActivacionTokenTO.activationCode}"
                                    alt="Codigo QR" width="200" height="150" align="right" />
                            </p>
                        </div>
                        </h:panelGroup>

                        
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup layout="block" style="errorGeneralIconos"
                rendered="#{enrolamientoEntrustViewMB.estadoServicio=='NOK'}">
                <p class="mensaje_activar">
                    <h:outputText value="#{msg.msjeErrorServicioNoDisponible}" />
                </p>
            </h:panelGroup>
            <div class="fondo_bottom">&nbsp;</div>
        </h:form>
    </div>
</body>
</html>
<!--
/***************************************************************************************************************
* Archivo:             configuracionEnrolamiento
* Descripción          Este xhtml tiene la funcionalidad de realizar el flujo de sincronización de multipass.
* Path                 webAppCluster\public_html\cl\bci\aplicaciones\personas\seguridad\
* " Todos los derechos reservados por Banco de Crédito e Inversiones."
*
* Historia Cambios
* versión       fecha                autor                                                  cambios
* =======   ==========    ==============================================        =================================
* 1.0       10/07/2017    ??                                            :       Versión inicial.

****************************************************************************************************************/
 -->
