<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:trk="http://bci.cl/facelets/tracking-ga"
	xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave"
    xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave">
<h:head>
<f:loadBundle basename="cl.bci.aplicaciones.emergencias.emergencias" var="msg"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>#{msg.bciCorporativo}</title>
<link href="/resources/persona/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/resources/persona/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link href="/resources/persona/css/seguros.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/resources/persona/css/seguridad.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/resources/persona/js/main.js"></script>
<script type="text/javascript" src="/resources/persona/js/validaciones.js"></script>
<script type="text/javascript" src="/resources/persona/js/global/global.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery.treeview.min.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="/resources/persona/js/menu.js"></script>
<script type="text/javascript" src="/resources/persona/js/jquery.numeric.js"></script>
<script type="text/javascript">

	$(document).ready(function()
	{
		$('.paso2').hide();
		
		$('.paso1 input[name$="clave1"]').keyValue(/[0-9]/).length;
		$('.paso1 input[name$="clave2"]').keyValue(/[0-9]/).length;
		
		$('.paso1 input[name$="clave1"]').blur(function(){
			var cadena = $('.paso1 input[name$="clave1"]').val();
			var patron = /^[0-9]+$/;
			if(!patron.test(cadena)){
				$('.paso1 input[name$="clave1"]').val("");
			}
		});
		$('.paso1 input[name$="clave2"]').blur(function(){
			var cadena = $('.paso1 input[name$="clave2"]').val();
			var patron = /^[0-9]+$/;
			if(!patron.test(cadena)){
				$('.paso1 input[name$="clave2"]').val("");
			}
		});
})

</script>
<trk:script producto="ClaveTelefonica" servicio="Seguridad" />
</h:head>

<body>
	<div id="content">
		<h:form id="formulario">
			<h2 class="encabezado">
				<h:outputText value="#{msg.tituloSolicitudClaveFono}" escape="false" />
			</h2>
			<div class="cont_servicios">
				<div class="top_servicios">&nbsp;</div>
				<div class="contenido"> 
					<h:panelGroup id="panelGroupCabIngresoClave" rendered="#{!creacionClaveTelefonicaBackingMB.claveTelValidada}">
					<ul class="pasos_transferencia">
						<li class="bot_tf_01">
							<span class="activo">
								<h:outputText value="#{msg.paso1}" escape="false" />
							</span>
							<h:outputText value="#{msg.creacionClave}" escape="false" />
						</li>
						<li class="bot_tf_02">
							<span>
								<h:outputText value="#{msg.paso2}" escape="false" />
							</span>
							<h:outputText value="#{msg.confirmacion}" escape="false" />
						</li>
						<li class="bot_tf_03">
							<span>
								<h:outputText value="#{msg.paso3}" escape="false" />
							</span>
							<h:outputText value="#{msg.comprobante}" escape="false" />
						</li>
					</ul>
					</h:panelGroup>
					<h:panelGroup id="panelGroupCabSegundaClave" rendered="#{creacionClaveTelefonicaBackingMB.claveTelValidada}">
					<ul class="pasos_transferencia">
						<li class="bot_tf_01">
							<span>
								<h:outputText value="#{msg.paso1}" escape="false" />
							</span>
							<h:outputText value="#{msg.creacionClave}" escape="false" />
						</li>
						<li class="bot_tf_02">
							<span class="activo">
								<h:outputText value="#{msg.paso2}" escape="false" />
							</span>
							<h:outputText value="#{msg.confirmacion}" escape="false" />
						</li>
						<li class="bot_tf_03">
							<span>
								<h:outputText value="#{msg.paso3}" escape="false" />
							</span>
							<h:outputText value="#{msg.comprobante}" escape="false" />
						</li>
					</ul>
					</h:panelGroup>
					<br clear="all" />
					<div class="paso1">
						<div>
							<h:panelGroup id="panelGroupIngresoClave" rendered="#{!creacionClaveTelefonicaBackingMB.claveTelValidada}">
							<table width="100%" border="0" cellspacing="5" cellpadding="0" class="texto">
								<tr>
									<td width="200">
										<h:outputText value="#{msg.ingreseNuevaClaveFono}" escape="false" />
									</td>
									<td>
										<h:inputSecret	value="#{creacionClaveTelefonicaBackingMB.nuevaClaveTelefonica}"
														validator="#{creacionClaveTelefonicaBackingMB.validate}"
														name="clave1" id="clave1" required="true" size="10" maxlength="4"
														minlength="4" requiredMessage="#{msg.debeSer4Dig}">
										</h:inputSecret>
										<h:outputText value="#{msg.debeSer4Dig}" escape="false" />
										<div class="message_01">
											<h:message for="clave1" />
										</div>
									</td>
								</tr>
								<tr>
									<td width="200">
										<h:outputText value="#{msg.reingreseClaveFono}" escape="false" />
									</td>
									<td>
										<h:inputSecret	binding="#{creacionClaveTelefonicaBackingMB.confirmarUIInput}"
														name="clave2" id="clave2" required="true" size="10"	maxlength="4"
														 minlength="4" requiredMessage="#{msg.mensajeDatoRequerido3}">
										</h:inputSecret>
										<div class="message_01">
											<h:message for="clave2" />
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="2" class="align_center">
										<h:commandButton styleClass="bot_02 width_70" title="#{msg.continuar}" value="#{msg.continuar}" id="validaClave" onclick="javascript:document.getElementById(this.id + '_oculto').click();" >
										</h:commandButton>
										<h:commandButton actionListener="#{desbloqueoClaveTelefonicaBackingMB.validate}" id="validaClave_oculto" style="display:none;" 
										        update="panelGroupCabIngresoClave panelGroupCabSegundaClave panelGroupIngresoClave panelGroupSegundaClave mensajesErrorPie"/>
									</td>
								</tr>
							</table>
							</h:panelGroup>
							<h:panelGroup id="panelGroupSegundaClave" rendered="#{creacionClaveTelefonicaBackingMB.claveTelValidada}">
							<div id="segundaClaveBox" style="width:100%;">
    				          <segundaclave:metodoAutenticacion
                                     id="segundaclave"
                                     servicio="SolicitudClaveTelefonica"
                                     layout="vertical"
                                     bindingComponent="creacionClaveTelefonicaBackingMB.segundaClave"
                                     destinoButtonAction="#{creacionClaveTelefonicaBackingMB.crearClaveTelefonica}"
                                     textoButtonAction="#{msg.aceptar}" 
                                     mensaje="">
         
                                     <segundaclaveparametros:data nombre="rut" valor="#{creacionClaveTelefonicaBackingMB.clienteMB.rut}#{creacionClaveTelefonicaBackingMB.clienteMB.digitoVerif}" />
                                     <segundaclaveparametros:data nombre="fechaHora" valor="#{creacionClaveTelefonicaBackingMB.fechaCreacion}" /> 
                                     <segundaclaveparametros:data nombre="servicio" valor="SolicitudClaveTelefonica" />
                              </segundaclave:metodoAutenticacion>
                              
                              </div>
                              </h:panelGroup>
                              <h:panelGroup layout="block" id="mensajesErrorPie" styleClass="mensaje_activar" rendered="#{not empty facesContext.messageList}">
                                <h:messages showSummary="false" showDetail="true" layout="table" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-left:0px"/>
                              </h:panelGroup>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		<div class="fondo_bottom">&nbsp;</div>
	</div>
</body>
</html>

<!-- 
/*************************************************************************************************************** 
* Archivo: crearClaveTelefonica.xhtml
* Descripcion Este xhtml tiene la funcionadalidad de mostrar la vista de creacion de clave telefonica. 
* Path cl\bci\aplicaciones\personas\seguridad\
* "Todos los derechos reservados por Banco de Credito e Inversiones." 
* Historia Cambios 
* ________________ 
* versión fecha autor cambios 
* ======= ========== ===================== ================================= 
* 1.0 ??/??/???? ???????                   version inicial. 
* 1.1 16/05/2014 Luis Lopez Alamos (SEnTRA) Se modifica largo de campo permitido, de 6 a 4.
* 1.2 05/09/2017  Marcelo Fuentes (SEnTRA) - Ricardo Carrasco (Ing. Soft. BCI) Se modifica pagina por integración 
* con autenticacion Entrust.
****************************************************************************************************************/ 
--> 
