<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.prime.com.tr/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:bci="http://bci.cl/facelets"
      xmlns:trk="http://bci.cl/facelets/tracking-ga">
    <h:head>
        <h:outputScript library="Webbci/common/js" name="libreriaBci.js" target="head" />
          <h:outputScript library="Webbci/common/js" name="dd_roundies.js" target="head"/>
        <h:outputScript library="Webbci/common/js" name="jquery-1.5.2.min.js" target="head"/>
        <h:outputScript library="Webbci/common/js" name="main.js" target="head" />
        <h:outputScript library="Webbci/common/js" name="icono.js" target="head" />
        
        <h:outputStylesheet name="iconosInteligentes.css" library="Webbci/common/css" />
        <h:outputStylesheet name="cartolaCuenta.css" library="Webbci/common/css" />
        <h:outputStylesheet name="canal.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css" />
		
		<trk:script producto="Entrust" servicio="desenrolamientoSoftokens" />
    </h:head>
    <f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.seguridad.administracion.web.entrust.desbloqueoDesenrolamiento')}" var="msg"/>
    <f:event listener="#{administracionBloqueoViewMB.iniciar}" type="preRenderView" />
    <h:body>
    	
        <div id="content">
        <h:form id="formPrincipal">
             <!--EN ESTE DIV SE CARGA EL CONTENIDO DE LOS ICONOS SEGUN EVENTO ONCLICK-->
            <h:panelGroup styleClass="iconos_inteligentes herramientas" layout="block" style="display: none;"></h:panelGroup>


             
            <h2 class="encabezadoTitulo">
                <h:outputFormat value="#{msg.titulo}"/><h:outputFormat styleClass="servicio_mobile" value="#{msg.msjDisponibleMobile}"/>
            </h2>
           <div class="alertas">

<!--                 <div class="fondo_alertas" style="text-style: justify;">

                    <h:outputFormat value="#{msg.msjeAclCantMov_1}" /><br/><br/>

                    <h:outputFormat value="#{msg.msjeAclCantMov_2}" />

                </div> -->

            </div> 
            
            <h:panelGroup layout="block" styleClass="cont_info_cliente">

                <!--EN ESTE DIV SE CARGA EL CONTENIDO DE LOS ICONOS SEGUN EVENTO ONCLICK-->
                <h:panelGroup styleClass="iconos_inteligentes mas_informacion" layout="block" style="display: none;"></h:panelGroup>
                <h:panelGroup layout="block" styleClass="fondo_info_cliente">
                    <h3>
                        <a href="#;" onclick="$(this).parent().parent().children('div,table').fadeIn('normal');$('.cont_select_mostrar,.cont_info_cliente .herramientas_top,.bottom_abono_cargo, .glosaRegistros, .texto_select').fadeIn('normal')" class="expandir" title="#{msg.descExpandir}">&nbsp;</a>
                        <a href="#;" onclick="$(this).parent().parent().children('div,table').fadeOut('normal');$('.iconos_inteligentes.mas_informacion,.cont_select_mostrar,.cont_info_cliente .herramientas_top,.bottom_abono_cargo, .glosaRegistros, .texto_select').fadeOut('normal')" class="colapsar" title="#{msg.descCerrar}">&nbsp;</a>

						<h:panelGroup styleClass="titulo">
							<h:outputFormat value="#{msg.descMov}"/>
						</h:panelGroup>
                    </h3>
                     <p:ajaxStatus oncomplete="fnAjustaAltoFrameCentral()" >
                        <f:facet name="complete">
                        </f:facet>
                    </p:ajaxStatus>
                    <p:dataTable
						var="mov"
                    	value="#{administracionBloqueoViewMB.listaTokens}"
                    	id="tbl"
						rows="18"
                    	rowStyleClass="claseFila"
                    	styleClass="tabla_datos"
                    	emptyMessage="#{msg.descMsjeSinToken}">

                        <p:column sortBy="#{mov.nombreDispositivo}">
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.descColNomDisp}"/>
                            </f:facet>
                            <h:outputText value="#{mov.nombreDispositivo}">
                                <f:convertDateTime type="date" locale="es_CL"/>
                            </h:outputText>
                        </p:column>

                        <p:column sortBy="#{mov.tipoDispositivo}">
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.descColTipo}"/>
                            </f:facet>
                            <h:outputText value="#{mov.tipoDispositivo}"/>
                        </p:column>

                        <p:column sortBy="#{mov.serialNumber}">
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.descColSerie}"/>
                            </f:facet>
                            <h:outputText value="#{mov.serialNumber}" />
                        </p:column>
                        <p:column sortBy="#{mov.estado}">
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.descColEstado}"/>
                            </f:facet>
                            <h:outputText value="#{mov.estado}" />
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputFormat value="#{msg.descColSeleccione}"/>
                            </f:facet>
                            <h:panelGroup layout="block" styleClass="saldo_mas"  >
	                            <h:selectBooleanCheckbox />
								
                            </h:panelGroup>
                                  
                        </p:column>
                        
                       
                        <f:facet name="footer">
                        </f:facet>
                    </p:dataTable>


                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="fondo_bottom_info_cliente">&nbsp;</h:panelGroup>
            </h:panelGroup>

        </h:form>
        </div>
    </h:body>
</html>

