<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.prime.com.tr/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:segundaclaveparametros="http://bci.cl/infraestructura.web/seguridad/segundaclave"
      xmlns:segundaclave="http://java.sun.com/jsf/composite/segundaclave">
      <f:view locale="es_CL"/>
    <h:head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" /> 
        <meta http-equiv="Pragma" content="no-cache" /> 
        <h:outputStylesheet name="canal.css" library="Webbci/#{portalMB.atributosWeb.estiloCss}css" />
        <h:outputStylesheet name="iconosInteligentes.css" library="Webbci/common/css" />
        
        <h:outputScript library="Webbci/common/js" name="jquery_roundies.js" target="head"  />        
        <h:outputScript library="Webbci/common/js" name="icono.js" target="head" />
        <h:outputScript library="Webbci/#{portalMB.atributosWeb.estiloCss}js" name="icono.js" target="head" />
        
        <h:outputScript library="Webbci/common/js" name="main.js" target="head"  />
        <h:outputScript library="Webbci/common/js" name="jquery.tools.min.js" target="head"  />
        

        <script type="text/javascript">     
        //<![CDATA[
                
			if (!window["busystatus"]) {
                var busystatus = {};
            }
             
            busystatus.onStatusChange = function onStatusChange(data) {
                var status = data.status;
                 
                 var botonAceptar = $('button[name$="aceptar"]');
                 var botonConfirmar = $('button[name$="confirmar"]');
                    
                if (status == "begin") {
                    mataangustia(true);
                    $("*").css("cursor", "wait");
                    if (botonConfirmar.length != 0) {
                        botonConfirmar.attr("disabled", true);
                    }
                } else { 
                    $("*").css("cursor", "");
                    mataangustia(false);
                    if (botonConfirmar.length != 0) {
                       botonConfirmar.html(botonConfirmar.attr("title")); 
                       botonConfirmar.attr("disabled", false)
                    } 
                    $(".bot_02").css("cursor", "pointer");
                    $(".bot_01").css("cursor", "pointer");
                }
            };
             
            jsf.ajax.addOnEvent(busystatus.onStatusChange);
			 
			jsf.ajax.addOnEvent(busystatus.onStatusChange);
			
			function validarIngreso() {
                   var input = $('input[name$="montoARecargar"]')
                   if (input) {
                       if ((parseFloat(input.val().replace(/\./g,"").replace(/\,/g,".")) == 0) || (input.val()=="") || (input.val()=="#{msg.ingreseMonto}")) { 
                           input.addClass('obligatorio').attr('value','');
                           input.attr('value','#{msg.ingreseMonto}');
                           input.click(function() {
                               input.attr('value','');
                               input.removeClass('obligatorio');
                           });
	
                       }
                       else {
                       		var botonAceptar = $('button[name$="aceptar"]');
	                        botonAceptar.attr("disabled", true);
	                        botonAceptar.css("cursor", "wait");
                            mataangustia(true);
                           recargabip.next();
                       }
                   }
               }
               
               function validarIngresoMultipass() {
                           var botonConfirmar = $('button[name$="confirmar"]');
                           botonConfirmar.attr("disabled", true);
                           botonConfirmar.css("cursor", "wait");

                           var botonVolverAlConfirmar = $('button[name$="botonVolverAlConfirmar"]');
                           botonVolverAlConfirmar.attr("disabled", true);
                           botonVolverAlConfirmar.css("cursor", "wait");
                           mataangustia(true);
                           recargabip.next();
               }

               function ajustarAltoRecarga() {
                   error = #{not empty iconoRecargaBIPViewMB.mensajeValidacionOperacion};
                   if (error) {
                       ajustaAltoDialog();
                   }
                   else {
                	   ajustaAltoDialog(280);
                   }
               }
        //]]>
        </script>
    </h:head>
    <h:body onload="ajustarAltoRecarga();">
    	<f:loadBundle basename="#{resolutorResourceBundleMB.obtieneResourceBundle('cl.bci.aplicaciones.iconos.recargabip.iconoRecargaBIP')}" 
        var="msg"/>
        <h:form id="tdcpagointernacional">
            <p:ajaxStatus oncomplete="ajustaAltoDialog();" />
            <p:wizard  id="tdcpagointernacional" widgetVar="recargabip" showNavBar="false" flowListener="#{iconoRecargaBIPBackingMB.secuencia}"
                styleClass="wizardContenidoIcono" rendered="#{empty iconoRecargaBIPViewMB.mensajeValidacionOperacion}">
            	<!-- Paso 1 -->
                <p:tab id="#{iconoInteligenteUtilityMB.ingreso}" title="#{iconoInteligenteUtilityMB.ingreso}">
                    <script type="text/javascript">
                    //<![CDATA[
                               mataangustia(false);
                    //]]>
                    </script>
                    <h:panelGroup>
						<table width="560" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="86%"><div align="center" class="encabezadoWizard">#{msg.titulo}</div></td>
                            <td width="14%"><div align="center">
                                    <p:commandLink type="button" onclick="cerrarIconoDialogo();" >
                                        <h:graphicImage url="/resources/Webbci/common/images/bot_cerrar.gif" styleClass="botonCerrarIcono" />
                                    </p:commandLink>
                                    <br/><div class="textoIconoCerrar">
                                         #{msg.cerrar}</div>
                                </div></td>
                        </tr>
                    	</table>
                    	
                    <h:panelGroup layout="block" styleClass="montos width_560 fondo_cliente textoContenidoIconos"> 
                        <h:panelGroup id="saldosTDC">	
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" >
                                <thead>
                                    <tr>  
                                        <th >#{msg.cuentaOrigen}</th>
                                        <th >#{msg.tarjetaBipDestino}</th>
                                        <th >#{msg.montoARecargar}</th>
                                        <th >#{msg.mensajeADestinatario}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h:selectOneMenu styleClass="caja_120" label="select_cuenta" id="select_cuenta_origen" value="#{iconoRecargaBIPViewMB.numeroCuentaOrigenSeleccionada}">
                                                <f:ajax event="change" execute="@this" render="saldoCuenta"
                                                    listener="#{iconoRecargaBIPBackingMB.obtenerSaldosCuenta}"/>
                                                <f:ajax event="change" execute="@none" render="montoDisponible"/>
                                                <f:ajax event="change" execute="@none" render="mensajeErrorGeneral"/>
                                                <f:selectItems value='#{productosMB.cuentasCorrientesYPrimas}' />
                                            </h:selectOneMenu>
                                            
                                        </td>
                                        <td>
                                            <h:selectOneMenu styleClass="caja_120" label="select_cuenta" id="select_cuenta_destino" value="#{iconoRecargaBIPViewMB.numeroTarjetaBipSeleccionada}">
                                                <f:selectItems value='#{iconoRecargaBIPViewMB.tarjetasBIP}' />
                                            </h:selectOneMenu>
                                        </td>
                                        <td>
                                            <h:inputText styleClass="caja_100" name="montoARecargar" id="montoARecargar"  required="true" maxlength="6"
                                                requiredMessage="#{msg.montoNoValido}"
                                                converterMessage="#{msg.montoNoValido}"
                                                validatorMessage="#{msg.montoNoValido}"
                                                autocomplete="off"
                                                value="#{iconoRecargaBIPViewMB.montoARecargar}"
                                                onkeyup="separador_de_miles(this,this.value.charAt(this.value.length-1));" 
                                                onkeypress="return soloNumerosConFormato(event, false, true);"
                                                onfocus="this.value = '';$('.flotante').fadeOut();">
                                                <f:convertNumber currencySymbol="" type="currency" locale="es_CL" maxIntegerDigits="5" maxFractionDigits="0"/>
                                            </h:inputText>
                                        </td>
                                        <td>
                                            <h:inputText styleClass="caja_100" name="mensajeADestinatario" id="mensajeADestinatario" maxlength="40"  
                                                value="#{iconoRecargaBIPViewMB.mensajeADestinatario}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);" onmouseout="jQuery('.flotante').fadeOut()" onmousemove="showdiv(event)"
                                                class="textoPeque">
                                                <h:outputText value="#{msg.montoDisponible}"/><br/>
                                                <h:outputText id="montoDisponible" value="#{iconoRecargaBIPBackingMB.montoDisponible}">
                                                    <f:convertNumber currencySymbol="$ " type="currency" locale="es_CL"/>
                                                </h:outputText>
                                            </a>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>
                                            <span class="textoPeque">     
                                                <h:outputFormat value="#{msg.rangoMontoValido}">
                                                    <f:param value="#{iconoRecargaBIPViewMB.minimoPermitido}"/>
                                                    <f:param value="#{iconoRecargaBIPViewMB.maximoPermitido}"/>
                                                </h:outputFormat>
                                            </span>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                                </table>
                           </h:panelGroup>
                           <br/>
                           <p class="align_center" style="margin-bottom: 2px;">
                               <h:outputText value="#{msg.mensajeCuentaInscrita}"/>
                               &nbsp;<p:commandLink type="button" onclick="fnVinculoAccesoDirectoIcono('recarga_tarjeta_bip');" value="#{msg.mensajeCuentaInscrita_1}"/>
                               &nbsp;<h:outputText value="#{msg.mensajeCuentaInscrita_2}"/>
                           </p>
                           <h:panelGroup id="saldoCuenta">
                            <div id="flotante" class="flotante">
                                <br/>
                                <p>
                                    #{msg.saldoCuenta} 
                                    <h:outputText value="#{iconoRecargaBIPBackingMB.saldoCuenta}" styleClass="saldillo">
                                        <f:convertNumber currencySymbol="$ " type="currency" locale="es_CL"/>
                                    </h:outputText><br/>
                                    #{msg.sobregiroDisponible}
                                    <h:outputText value="#{iconoRecargaBIPBackingMB.sobregiroDisponibleCuenta}" styleClass="saldillo">
                                        <f:convertNumber currencySymbol="$ " type="currency" locale="es_CL"/>
                                    </h:outputText><br/>
                                    #{msg.lineaDeEmergencia}
                                    <h:outputText value="#{iconoRecargaBIPBackingMB.saldoLineaEmergenciaCuenta}" styleClass="saldillo">
                                        <f:convertNumber currencySymbol="$ " type="currency" locale="es_CL"/>
                                    </h:outputText>
                                </p>
                                <br/>
                            </div>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{empty facesContext.messageList}">
                        <div class="mensaje_activar align_center">
                            #{msg.mensajeParaActivar}
                        </div>
                    </h:panelGroup>
                    <h:panelGroup id="mensajes_validacion_ingreso" layout="block" styleClass="mensaje_activar align_center" rendered="#{not empty facesContext.messageList}">
                        <h:messages showSummary="false" showDetail="true" layout="table" styleClass="tabla_mensajes_error"/>
                    </h:panelGroup>
                    <p class="botones">
                        <p:commandButton type="button" styleClass="bot_01" onclick="cerrarIconoDialogo();" value="#{msg.cancelar}"/>
                        <p:commandButton type="button" id="aceptar" styleClass="bot_02" onclick="validarIngreso()" value="#{msg.aceptar}" title="#{msg.aceptar}" />
                    </p>
                    </h:panelGroup>
                </p:tab>
				
                <!-- Paso 2 -->
                <p:tab id="#{iconoInteligenteUtilityMB.confirmacion}" title="#{iconoInteligenteUtilityMB.confirmacion}">
                    <script type="text/javascript">
                    //<![CDATA[
                               mataangustia(false);
                    //]]>
                    </script>
                    <table width="560" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                             <td width="86%"><div align="center" class="encabezadoWizard">#{msg.confirmar}</div></td>
                             <td width="14%"><div align="center">
                                     <p:commandLink type="button" onclick="cerrarIconoDialogo();" >
                                         <h:graphicImage url="/resources/Webbci/common/images/bot_cerrar.gif" styleClass="botonCerrarIcono" />
                                     </p:commandLink>
                                     <br/><div class="textoIconoCerrar">
                                          #{msg.cerrar}</div>
                                 </div></td>
                         </tr>
                     </table> 
                     
                    <h:panelGroup layout="block" styleClass="montos width_560 fondo_cliente textoContenidoIconos" style="height:60px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" >
                            <thead>
                                <tr>  
									<th >#{msg.cuentaOrigen}</th>
                                    <th >#{msg.montoARecargar}</th>
                                    <th >#{msg.nTarketaBip}</th>
								</tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align:middle">#{iconoRecargaBIPViewMB.numeroCuentaOrigenSeleccionada}</td>
                                    <td style="vertical-align:middle">
                                    	<span class="destacado_monto">
                                    		<h:outputText value="#{iconoRecargaBIPViewMB.montoARecargar}">
												<f:convertNumber currencySymbol="$ " type="currency" locale="es_CL" maxFractionDigits="0"/>
											</h:outputText>
											
                                    	</span>
                                    </td>
                                    <td style="vertical-align:middle"><span class="destacado_monto">
											<h:outputText value="#{iconoRecargaBIPViewMB.nombreTarjetaBip}"/>
										</span>
									</td>
                                </tr>
                            </tbody>
                        </table>
                         <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                	<td>
										<segundaclave:metodoAutenticacion
				                            id="segundaclave"
				                            servicio="CargaTarjetaBip"
				                            layout="vertical"
				                            bindingComponent="iconoRecargaBIPBackingMB.segundaClave"
				                            textoButtonAction = "#{msg.confirmar}" 
											destinoButtonOnclick = "validarIngresoMultipass();"
											textoButtonRetorno="#{msg.volver}"
											destinoButtonRetornoOnclick="recargabip.back()"
											mensaje = ""
							                esPrimefaces="true">

				                            <segundaclaveparametros:data nombre="numeroTarjetaBip" valor="#{iconoRecargaBIPViewMB.nombreTarjetaBip}" /> 
				                            <segundaclaveparametros:data nombre="monto" valor="#{iconoRecargaBIPViewMB.montoARecargar}" /> 
				                            <segundaclaveparametros:data nombre="cuentaCargo" valor="#{iconoRecargaBIPViewMB.numeroCuentaOrigenSeleccionada}" /> 

                        				</segundaclave:metodoAutenticacion>  
									</td>
                                </tr>
                        </table>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                        <td>
                    <h:panelGroup rendered="#{empty facesContext.messageList}">
                        <div class=" mensaje_activar align_center" style="vertical-align: mid">
                            #{msg.mensajeParaActivar}
                        </div>
                    </h:panelGroup>
                    <h:panelGroup id="mensajes_validacion_confirmacion" layout="block" styleClass="mensaje_activar align_center" rendered="#{not empty facesContext.messageList}">
                        <h:messages showSummary="false" showDetail="true" layout="table" styleClass="tabla_mensajes_error"/>
                    </h:panelGroup>
                        </td>
                        </tr>
                        </table>
                    </h:panelGroup>
                       


                </p:tab> 

                <!-- Paso 3 -->
                <p:tab id="#{iconoInteligenteUtilityMB.comprobante}" title="#{iconoInteligenteUtilityMB.comprobante}">
                    <script type="text/javascript">
                    //<![CDATA[
                               mataangustia(false);
                    //]]>
                    </script>
                    <table width="560" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                             <td width="86%"><div align="center" class="encabezadoWizard">#{msg.comprobante}</div></td>
                             <td width="14%"><div align="center">
                                     <p:commandLink type="button" onclick="cerrarIconoDialogo();" >
                                         <h:graphicImage url="/resources/Webbci/common/images/bot_cerrar.gif" styleClass="botonCerrarIcono" />
                                     </p:commandLink>
                                     <br/>
                                     <div class="textoIconoCerrar">
                                         #{msg.cerrar}
                                     </div>
                                 </div></td>
                         </tr>
                     </table>	  
                    	
                       
                    <h:panelGroup  layout="block" class="montos width_560 fondo_cliente textoContenidoIconos fondo_comprobante align_center">
                        <p class="msjcomprobante">
                                <br/>
                                <h:outputText value="#{msg.masInformacion1}" escape="false"/><br/>
                                <h:outputText value="#{msg.masInformacion2}" escape="false"/>
                                <a title="#{msg.clic}" href="javascript: void(0);" onclick="fnVinculoAccesoDirectoIcono('act_direcciones');">#{msg.masInformacion2_1}</a>
                              <br></br>
                        </p>
                        <div class="pdf">
                        		<h:inputHidden value="#{iconoRecargaBIPViewMB.numeroComprobante}"/>
                        		<h:inputHidden value="#{iconoRecargaBIPViewMB.numeroCuentaOrigenSeleccionada}"/>
                        		<h:inputHidden value="#{iconoRecargaBIPViewMB.numeroTarjetaBipSeleccionada}"/>
                        		<h:inputHidden value="#{iconoRecargaBIPViewMB.montoARecargar}"/>
                        		<h:inputHidden value="#{iconoRecargaBIPViewMB.mensajeADestinatario}"/>
                                <h:commandLink actionListener="#{iconoRecargaBIPBackingMB.generarComprobantePDF}" value="#{msg.comprobantePago}" styleClass="compro">
                                </h:commandLink>
                        </div> 
                       
                       
                    </h:panelGroup>
                    <p class="botones">
                         <p:commandButton type="button" styleClass="bot_02" onclick="cerrarIconoDialogo();" value="#{msg.cerrar}" >
                         </p:commandButton>
                     </p>
                </p:tab>
                <p:tab id="ERROR" title="ERROR">
                    <script type="text/javascript">
                    //<![CDATA[
                               mataangustia(false);
                    //]]>
                    </script>
                    <h:panelGroup>
                        <table width="560" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="86%"><div align="center" class="encabezadoWizard">#{msg.titulo}</div></td>
                                <td width="14%"><div align="center">
                                        <p:commandLink type="button" onclick="cerrarIconoDialogo();" >
                                            <h:graphicImage url="/resources/Webbci/common/images/bot_cerrar.gif" styleClass="botonCerrarIcono" />
                                        </p:commandLink>
                                        <br/><div class="textoIconoCerrar">
                                             #{msg.cerrar}</div>
                                    </div></td>
                            </tr>
                        </table>
                        <h:panelGroup layout="block" styleClass="errorGeneralIconos" >
                            <h:outputText value="#{msg.errorGeneral}"></h:outputText>
                        </h:panelGroup>
                    </h:panelGroup>
                    <p class="botones">
                        <p:commandButton type="button" styleClass="bot_02" onclick="cerrarIconoDialogo();" value="#{msg.cerrar}" >
                         </p:commandButton>
                    </p>
                </p:tab> 
            </p:wizard>
            <h:panelGroup id="mensajeErrorGeneral" styleClass="mensajeErrorGeneralIcono" style="display:none;">
                <table width="560" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="86%"><div align="center" class="encabezadoWizard">#{msg.titulo}</div></td>
                        <td width="14%"><div align="center">
                                <p:commandLink type="button" onclick="cerrarIconoDialogo();" >
                                    <h:graphicImage url="/resources/Webbci/common/images/bot_cerrar.gif" styleClass="botonCerrarIcono" />
                                </p:commandLink>
                                <br/><div class="textoIconoCerrar">
                                     #{msg.cerrar}</div>
                            </div></td>
                    </tr>
                </table>
                <h:panelGroup layout="block" styleClass="errorGeneralIconos"
                    rendered="#{not empty iconoRecargaBIPViewMB.mensajeValidacionOperacion}">
                    <h:outputText value="#{iconoRecargaBIPViewMB.mensajeValidacionOperacion}" />
				<h:panelGroup rendered="#{iconoRecargaBIPViewMB.mostrarLinkRecarga}">
					&nbsp;<p:commandLink onclick="fnVinculoAccesoDirectoIcono('recarga_tarjeta_bip');" value="#{msg.mensajeCuentaInscrita_3}"/>
					</h:panelGroup>
				</h:panelGroup>
                <h:panelGroup layout="block" styleClass="errorGeneralIconos"
                    rendered="#{iconoRecargaBIPViewMB.errorGeneral}">
                    <h:outputText value="#{msg.errorGeneral}" />
                </h:panelGroup>
                <p class="botones">
                    <p:commandButton type="button" styleClass="bot_02" onclick="cerrarIconoDialogo();" value="#{msg.cerrar}" >
                    </p:commandButton>
                </p>
                <h:outputScript rendered="#{not empty iconoRecargaBIPViewMB.mensajeValidacionOperacion or iconoRecargaBIPViewMB.errorGeneral}">
                    if ($(".wizardContenidoIcono")) {
                        $(".wizardContenidoIcono").hide();
                    }
                    $(".mensajeErrorGeneralIcono").show();
                </h:outputScript>
            </h:panelGroup>
            <img id="icono_loading" align="center" src="/resources/Webbci/common/images/icono_loading.gif" style="display:none" class="mataAngustiaImagen" />
        </h:form>
    </h:body>
</html>

<!-- 
/********************************************************************************************************************************************************************* 
* Archivo: IconoInteligenteRecargaBIP.xhtml
* Descripcin Este xhtml tiene la funcionadalidad de levantar icono de recarga bip. 
* Path cl\bci\aplicaciones\iconoInteligente\
* "Todos los derechos reservados por Banco de Crédito e Inversiones." 
* Historia Cambios 
* ________________ 
* versin  fecha       autor                                                       cambios 
* ======= ========== =====================                                        ================================= 
* 1.0     ????????? ????? (????)                                                  versin inicial.
* 2.0     14/06/2013 Luis Lpez Alamos (SEnTRA)                                    Se eliminan import de jquery innecesarios, para corregir errores de js en IE7.  
* 2.1     21/06/2013 Victor Hugo Enero (ORAND)                                    Se eliminan llamadas a Multipass, la logica esta en la componente de segundaClave.  
* 2.2     07/08/2013 Victor Hugo Enero (ORAND)                                    Se agrega el atributo esPrimefaces como true en la componente de segundaClave.
* 2.3     04/09/2017 Sergio Flores (SEnTRA) - Ricardo Carrasco (Ing. Soft. BCI)   Se agrega en la tabla de parametros SegundaClave servicio de EntrustSoftToken,
                                                                                  EntrustToken icono inteligente.
***********************************************************************************************************************************************************************/ 
--> 